<div class="container mt-5">
    <form [formGroup]="uploadPresentationForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h1>Upload Presention </h1>
    
    <div class="bg-success">
        <hr size="5">
    </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Company Name</h2>
                </div>
                <div class="col-sm-6"><input type="text" class="form-control" formControlName="companyName"></div>
            </div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Company Email</h2>
                </div>
                <div class="col-sm-6"><input type="text" class="form-control" id="company_email" formControlName="companyEmail"></div>
            </div>
        </div>
    
        <div>
        <p class="h6" style="color: rgb(98, 127, 16); font-weight: 600;">	Please Note : Power Point document is mandatory</p>
    
        </div>
        <div class="bg-success">
            <hr size="5">
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>Work Programme Year</h2>
                </div>
                <div class="col-md-6">
                    <select formControlName="year" id="year" class="form-select">
                        <option selected disabled>--Select work Programme year -- </option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
            </div>
        </div>
    </div>
    
    <div>
        <p style="color:  rgb(98, 127, 16); font-weight: 600;">Please Note : Files size should not be more than 25MB. You may upload multiple 25MB files</p>
    
        </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2>Upload document</h2>
            </div>
            <div class="col-md-6">
                <input accept=".ppt, .pptx" type="file" (change)="fileChange($event)" formControlName="document" id="document" class="form-control">
        </div>
    </div>
    </div>
    
    <div class="bg-success">
        <hr size="5">
    </div>
    
    <div class="container text-align-center d-flex justify-content-center p-5">
        <div class="col-sm-5">
        <input type="submit" value="Click here to upload presentation" class="form-control text-white alterbtn"/>
        </div>
    </div>
    </div>
    </form>
    </div>