<h1 mat-dialog-title>Send Back Application</h1>
<div mat-dialog-content class="modal-width">
  <form [formGroup]="form">
    <div>
      <label style="font-weight: bolder" *ngIf="!isPlanning"
        >Select Affected Tables Below:
      </label>
      <label style="font-weight: bolder" *ngIf="isPlanning">Select SBU: </label>

      <div class="list-of-tables">
        <mat-selection-list>
          <mat-list-option
            *ngFor="let item of checkItems"
            (click)="onSelect(item)"
          >
            {{ item?.tableName ? item?.tableName : item.sbU_Name }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label style="font-weight: bolder">Comment</label>
      <textarea
        name="comment"
        formControlName="comment"
        class="form-control"
        rows="10"
      ></textarea>
      <div
        *ngIf="form.get('comment')?.touched && form.get('comment')?.invalid"
        class="alert alert-danger"
      >
        Comment is required!
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button
    mat-raised-button
    [disabled]="form.invalid"
    (click)="rejectApplication()"
  >
    Send Back
  </button>
</div>
