<!-- <video width="400" controls>
    <source src="https://workprogram.blob.core.windows.net/documents/Tutorial/USER%20MANUAL.mp4" type="video/mp4">
    <source src="https://workprogram.blob.core.windows.net/documents/Tutorial/USER%20MANUAL.ogg" type="video/ogg">
    Your browser does not support HTML video.
  </video> -->

  <video controls="" autoplay="" class="__web-inspector-hide-shortcut__ media"><source src="https://workprogram.blob.core.windows.net/documents/Tutorial/USER%20MANUAL.mp4" type="video/mp4"></video>