<div>
  <div *ngIf="time" style="padding: 20px; border-radius: 20px;">
    <div>
      <span class="material-icons schedule"></span><span style="font-size: 18px; font-weight: 600;">Presentation Time: <span style="color: green;">{{time}}</span></span>
    </div>
    <br>
    <div>
      <span class="material-icons schedule"></span><span style="font-size: 18px; font-weight: 600;">Presentation Date: <span style="color: green;">{{date}}</span></span>
    </div>
  </div>
  <div *ngIf="!time">
    <div>
      <span class="material-icons schedule"></span><span style="font-size: 18px; font-weight: 600;">No Presentation Time & Date</span>
    </div>
  </div>
</div>
<div class="container mt-5">
<form [formGroup]="selectDateForm" (ngSubmit)="onSubmit()">
<div class="container">
    <h1>Schedule Presentation </h1>

<div class="bg-success">
    <hr size="5">
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Company Name</h2>
            </div>
            <div class="col-md-6"><input type="text" class="form-control" id="test" formControlName="companyName"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Company Email</h2>
            </div>
            <div class="col-md-6"><input type="text" class="form-control" id="companyEmail" formControlName="companyEmail"></div>
        </div>
    </div>

    <div>
    <p style="color: rgb(69, 125, 22); font-weight: 600;"> Note : Click on Calendar icon to select date:Date slected cannot be</p>

    </div>
    <div class="bg-success">
        <hr size="5">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Select Time</h2>
            </div>
            <div class="col-md-6">
                <select formControlName="time" id="time" class="form-select">
                    <option selected disabled>--Select Time -- </option>
                    <option value="10:00 am">10:00 am</option>
                    <option value="1:00 pm">1:00 pm</option>
                </select>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Select Date</h2>
        </div>
        <div class="col-md-6">
            <input type="date" [min]="this.start" max="2022-12-17" formControlName="date" id="" class="form-control">
    </div>
</div>
</div>

<div class="bg-success">
    <hr size="5">
</div>

<div class="container text-align-center d-flex justify-content-center p-5;">
    <div class="col-sm-4">
    <input type="submit" value="Submit" class="form-control text-white alterbtn"/>
    </div>
</div>
</div>
</form>
</div>

