<div
  style="
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3);
    padding: 20px;
  "
>
  <h1
    style="
      text-shadow: 1px 1px rgb(130, 23, 23);
      color: rgb(255, 157, 0);
      margin-left: 75%;
      font-size: 18px;
    "
  >
    Note:*All Fields are Mandatory
  </h1>
  <div
    style="
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      padding-bottom: 20px;
    "
  >
    <span>GAS PRODUCTION ACTIVITIES</span><br /><br />
  </div>
  <br />

  <div [formGroup]="GasProductionForm">
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin-top: auto">
        <label id="Co" class="labelwp"
          >Actual Gas Produced (Standard Cubic Feet)</label
        >
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="current_Actual_Year"
              class="inpute"
              style="border-radius: 5px"
              placeholder="1,000,000"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              (change)="
                gasproductionBody.current_Actual_Year = genk.checkBSCFMin(
                  $event,
                  gasMin
                )
              "
              [value]="gasproductionBody.current_Actual_Year"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            />
            <span class="barspan">SCF</span>
          </div>
        </div>
        <small #gasMin></small>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Utilized (MMSCF)</label>
        <div style="display: flex; width: 100%">
          <div class="inputshadow">
            <select
              class="dropwp"
              formControlName="utilized"
              [(ngModel)]="gasproductionBody.utilized"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            >
              <option selected disabled>-- Select an Option --</option>
              <option value="Fuel Gas">Fuel Gas</option>
              <option value="Re-Injection/Gas Lift">
                Re-Injection/Gas Lift
              </option>
            </select>
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Flared (MMSCF)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              formControlName="flared"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              [(ngModel)]="gasproductionBody.flared"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin-top: auto">
        <label class="labelwp"
          >Proposed Gas Production (Standard Cubic Feet)</label
        >
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              formControlName="proposed_production"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              [(ngModel)]="gasproductionBody.proposed_production"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp"
          >Proposed Utilization (Standard Cubic Feet)</label
        >
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="proposed_utilization"
              style="border-radius: 5px"
              placeholder="1,000,000"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              (change)="
                gasproductionBody.proposed_utilization = genk.checkBSCFMin(
                  $event,
                  gasMin
                )
              "
              [value]="gasproductionBody.proposed_utilization"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            />
            <span class="barspan">SCF</span>
          </div>
        </div>
        <small #gasMin></small>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Proposed Flaring (Standard Cubic Feet)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              formControlName="proposed_flaring"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              [(ngModel)]="gasproductionBody.proposed_flaring"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin-top: auto">
        <label id="ContentPlaceHolder2_Label13" class="labelwp"
          >No of Gas Well Planned</label
        >
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              formControlName="no_of_gas_well_planned"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              [(ngModel)]="gasproductionBody.no_of_gas_well_planned"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">No of Gas Well Drilled</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              formControlName="no_of_gas_well_drilled"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              [(ngModel)]="gasproductionBody.no_of_gas_well_drilled"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Is there a gas plant?</label>
        <div style="display: flex; width: 100%">
          <div class="inputshadow">
            <select
              class="dropwp"
              formControlName="is_there_a_gas_plant"
              [(ngModel)]="gasproductionBody.is_there_a_gas_plant"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            >
              <option selected disabled>-- Select an Option --</option>
              <option value="YES">Yes</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin-top: auto">
        <label id="Co" class="labelwp">Domestic gas obligation</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              formControlName="domestic_gas_obligation"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              [(ngModel)]="gasproductionBody.domestic_gas_obligation"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">No . of Planned projects for domestic gas</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              formControlName="projects_planned_for_Domestic_supply_Gas_to_power_industries_etc"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              [(ngModel)]="
                gasproductionBody.projects_planned_for_Domestic_supply_Gas_to_power_industries_etc
              "
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp"
          >Is there a license to operate the gas plant</label
        >
        <div style="display: flex; width: 100%">
          <div class="inputshadow">
            <select
              class="dropwp"
              formControlName="is_there_a_license_to_operate_a_gas_plant"
              [(ngModel)]="
                gasproductionBody.is_there_a_license_to_operate_a_gas_plant
              "
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            >
              <option selected disabled>-- Select an Option --</option>
              <option value="YES">Yes</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Gas Flare Penalty Payment made</label>
        <div style="display: flex; width: 100%">
          <div class="inputshadow">
            <select
              class="dropwp"
              formControlName="gas_flare_Royalty_payment"
              [(ngModel)]="gasproductionBody.gas_flare_Royalty_payment"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            >
              <option selected disabled>-- Select an Option --</option>
              <option value="YES">Yes</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Gas Sales Royalty Payment made ?</label>
        <div style="display: flex; width: 100%">
          <div class="inputshadow">
            <select
              class="dropwp"
              formControlName="gas_Sales_Royalty_Payment"
              [(ngModel)]="gasproductionBody.gas_Sales_Royalty_Payment"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            >
              <option selected disabled>-- Select an Option --</option>
              <option value="YES">Yes</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">No. of gas wells completed</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              formControlName="number_of_gas_wells_completed"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              [(ngModel)]="gasproductionBody.number_of_gas_wells_completed"
              [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
            />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div style="width: 30%; margin: auto 0 0">
      <label class="labelwp"
        >No. of gas wells tested (Deliverability Test)</label
      >
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 10px;
            padding: 7px 10px;
          "
        >
          <input
            formControlName="number_of_gas_wells_tested"
            class="inpute"
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)"
            [(ngModel)]="gasproductionBody.number_of_gas_wells_tested"
            [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
          />
        </div>
      </div>
    </div>
    <br />

    <div style="width: 30%; margin-top: auto">
      <label class="labelwp"> Remarks </label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 20px;
            padding: 7px 10px;
          "
        >
          <textarea
            formControlName="remarks_"
            [(ngModel)]="gasproductionBody.remarks_"
            rows="2"
            class="inpute"
            [attr.disabled]="isEditable(SBUTABLE.GAS_PRODUCTION_ACTIVITIESs)"
          ></textarea>
        </div>
      </div>
    </div>
    <br /><br />
    <hr size="10" />

    <div
      style="
        text-align: start;
        font-size: 17px;
        font-weight: 600;
        padding-bottom: 20px;
        color: teal;
      "
    >
      <span>DOMESTIC GAS SUPPLY OBLIGATION AND DISTRIBUTION</span>
    </div>
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin: auto 2% 0 0">
        <label class="labelwp">Domestic Gas Supply (DSO)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="domestic_Gas_Supply_DSO"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              [(ngModel)]="gasproductionBody.domestic_Gas_Supply_DSO"
              [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
            />
          </div>
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp"
          >No of projects planned for Domestic Gas supply</label
        >
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              formControlName="projects_planned_for_Domestic_supply_Gas_to_power_industries_etc"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatCurrency($event)"
              [(ngModel)]="
                gasproductionBody.projects_planned_for_Domestic_supply_Gas_to_power_industries_etc
              "
              [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
            />
          </div>
        </div>
      </div>
      <div style="width: 30%">
        <label id="ContentPlaceHolder2_Label8" class="labelwp"
          >Domestic Gas Obligation met ?</label
        >
        <div style="display: flex; width: 100%">
          <div class="inputshadow">
            <select
              class="dropwp"
              formControlName="domestic_Gas_obligation_met"
              [(ngModel)]="gasproductionBody.domestic_Gas_obligation_met"
              [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
            >
              <option selected disabled>--Select a Option --</option>
              <option value="YES">Yes</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="quarterbtn"
          (click)="saveGasProduction()"
          [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
        >
          Update Gas Production Activities
        </button>
      </div>
    </div>
  </div>
  <br /><br />
  <hr size="10" />
  <br />
</div>
