<div
  style="background-color: white; border-radius: 5px; box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3); padding: 20px;">
  <div style="font-size: 25px; font-weight: 500; text-align: center; padding-bottom: 20px;">
    <span>GAS PRODUCTION ACTIVITIES</span><br><br>
  </div>
  <br>

  <div [formGroup]="GasProductionForm">
    <div style="display: flex; width: 100%; justify-content: space-between;">
      <div style="width: 30%; margin-top: auto;">
        <label id="Co" class="labelwp">Actual Gas Produced (BSCF)</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
            <input (keypress)="genk.restrictData($event)" formControlName="current_Actual_Year" [(ngModel)]="gasproductionBody.current_Actual_Year"
              class="inpute">
          </div>
        </div>
      </div>

      <div style="width: 30%;">
        <label class="labelwp">Utilized (MMscf)</label>
        <div style="display: flex; width: 100%">
          <div class="inputshadow">
            <select class="dropwp" formControlName="utilized" [(ngModel)]="gasproductionBody.utilized">
              <option selected disabled>-- Select an Option --</option>
              <option value="Fuel Gas">Fuel Gas</option>
              <option value="Re-Injection/Gas Lift">Re-Injection/Gas Lift</option>
            </select>
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0;">
        <label class="labelwp">Flared (MMscf)</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
            <input (keypress)="genk.restrictData($event)" formControlName="flared" [(ngModel)]="gasproductionBody.flared" class="inpute">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div style="display: flex; width: 100%; justify-content: space-between;">
      <div style="width: 30%; margin-top: auto;">
        <label id="ContentPlaceHolder2_Label13" class="labelwp">Proposed Gas Production (BSCF)</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
            <input (keypress)="genk.restrictData($event)" formControlName="proposed_production"
              [(ngModel)]="gasproductionBody.proposed_production" class="inpute">
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0;">
        <label class="labelwp">Proposed Utilization (BSCF)</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
            <input (keypress)="genk.restrictData($event)" formControlName="proposed_utilization"
              [(ngModel)]="gasproductionBody.proposed_utilization" class="inpute">
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0;">
        <label class="labelwp">Proposed Flaring (BSCF)</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
            <input (keypress)="genk.restrictData($event)" formControlName="proposed_flaring" [(ngModel)]="gasproductionBody.proposed_flaring"
              class="inpute">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div style="display: flex; width: 100%; justify-content: space-between;">
      <div style="width: 30%; margin-top: auto;">
        <label id="ContentPlaceHolder2_Label13" class="labelwp">No of Gas Well Planned</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
            <input (keypress)="genk.restrictData($event)" formControlName="no_of_gas_well_planned"
              [(ngModel)]="gasproductionBody.no_of_gas_well_planned" class="inpute">
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0;">
        <label class="labelwp">No of Gas Well Drilled</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
            <input (keypress)="genk.restrictData($event)" formControlName="no_of_gas_well_drilled"
              [(ngModel)]="gasproductionBody.no_of_gas_well_drilled" class="inpute">
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0;">
        <label class="labelwp">Is there a gas plant?</label>
        <div style="display: flex; width: 100%">
          <div class="inputshadow">
            <select class="dropwp" formControlName="is_there_a_gas_plant"
              [(ngModel)]="gasproductionBody.is_there_a_gas_plant">
              <option selected disabled>-- Select an Option --</option>
              <option value="YES">Yes</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div style="display: flex; width: 100%; justify-content: space-between;">
      <div style="width: 30%; margin-top: auto;">
        <label id="Co" class="labelwp">Domestic gas obligation</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
            <input (keypress)="genk.restrictData($event)" formControlName="domestic_gas_obligation"
              [(ngModel)]="gasproductionBody.domestic_gas_obligation" class="inpute">
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0;">
        <label class="labelwp">No . of Planned projects for domestic gas</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
            <input (keypress)="genk.restrictData($event)" formControlName="projects_planned_for_Domestic_supply_Gas_to_power_industries_etc"
              [(ngModel)]="gasproductionBody.projects_planned_for_Domestic_supply_Gas_to_power_industries_etc"
              class="inpute">
          </div>
        </div>
      </div>

      <div style="width: 30%;">
        <label class="labelwp">Is there a license to operate the gas plant</label>
        <div style="display: flex; width: 100%">
          <div class="inputshadow">
            <select class="dropwp" formControlName="is_there_a_license_to_operate_a_gas_plant" [(ngModel)]="gasproductionBody.is_there_a_license_to_operate_a_gas_plant">
              <option selected disabled>-- Select an Option --</option>
              <option value="YES">Yes</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div style="display: flex; width: 100%; justify-content: space-between;">
      <div style="width: 30%;">
        <label class="labelwp">Gas Flare Penalty Payment made?</label>
        <div style="display: flex; width: 100%">
          <div class="inputshadow">
            <select class="dropwp" formControlName="gas_flare_Royalty_payment"[(ngModel)]="gasproductionBody.gas_flare_Royalty_payment">
              <option selected disabled>-- Select an Option --</option>
              <option value="YES">Yes</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>
      </div>

      <div style="width: 30%;">
        <label class="labelwp">Gas Sales Royalty Payment made ?</label>
        <div style="display: flex; width: 100%">
          <div class="inputshadow">
            <select class="dropwp" formControlName="gas_Sales_Royalty_Payment"
              [(ngModel)]="gasproductionBody.gas_Sales_Royalty_Payment">
              <option selected disabled>-- Select an Option --</option>
              <option value="YES">Yes</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0;">
        <label class="labelwp">No. of gas wells completed</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
            <input (keypress)="genk.restrictData($event)" formControlName="number_of_gas_wells_completed"
              [(ngModel)]="gasproductionBody.number_of_gas_wells_completed" class="inpute">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div style="width: 30%; margin: auto 0 0;">
      <label class="labelwp">No. of gas wells tested (Deliverability Test)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
          <input (keypress)="genk.restrictData($event)" formControlName="number_of_gas_wells_tested"
            [(ngModel)]="gasproductionBody.number_of_gas_wells_tested" class="inpute">
        </div>
      </div>
    </div>
    <br>

    <div style="width: 30%; margin-top: auto;">
      <label class="labelwp"> Remarks </label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <textarea formControlName="remarks_" [(ngModel)]="gasproductionBody.remarks_" rows="2" class="inpute"></textarea>
        </div>
      </div>
    </div>
    <br><br>
    <hr size="10">

    <div
      style="text-align: start; font-size: 17px; font-weight: 600; padding-bottom: 20px; color: teal;">
      <span>DOMESTIC GAS SUPPLY OBLIGATION AND DISTRIBUTION</span>
    </div>
    <div style="display: flex; width: 100%;justify-content: space-between; ">
      <div style="width: 30%; margin:auto 2% 0 0;">
        <label class="labelwp">Domestic Gas Supply (DSO)</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
            <input type="text" formControlName="domestic_Gas_Supply_DSO"
              [(ngModel)]="gasproductionBody.domestic_Gas_Supply_DSO" class="inpute">
          </div>
        </div>
      </div>
      <div style="width: 30%;">
        <label class="labelwp">No of projects planned for Domestic Gas supply</label>
        <div style="display: flex;">
          <div
            style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
            <input (keypress)="genk.restrictData($event)" formControlName="projects_planned_for_Domestic_supply_Gas_to_power_industries_etc"
              [(ngModel)]="gasproductionBody.projects_planned_for_Domestic_supply_Gas_to_power_industries_etc"
              class="inpute">
          </div>
        </div>
      </div>
      <div style="width: 30%;">
        <label id="ContentPlaceHolder2_Label8" class="labelwp">Domestic Gas Obligation met ?</label>
        <div style="display: flex; width: 100%;">
          <div class="inputshadow">
            <select class="dropwp" formControlName="domestic_Gas_obligation_met"
              [(ngModel)]="gasproductionBody.domestic_Gas_obligation_met">
              <option selected disabled>--Select a Option -- </option>
              <option value="YES">Yes</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div>
      <div style="text-align: center;">
        <button class="quarterbtn" (click)="saveGasProduction()">Update Gas Production Activities</button>
      </div>
    </div>
  </div>
  <br><br>
  <hr size="10">
  <br>

  <!-- <div
        style="text-align: start; font-size: 15px; font-weight: 30px; padding-bottom: 20px; color: rgb(67, 183, 67); text-shadow: 2px 4px 2px rgb(227, 255, 192);">
        <span>Project Planned for Domestic Gas Supply</span>
    </div>
    <div style="font-size: 15px; font-weight: 20px;"><span> Enter Project Name and Comment. Enter NA if not applicable</span></div><hr size="5">
    <div style="display: flex; width: 100%;justify-content: start; ">
        <div style="width: 30%; margin:auto 2% 0 0;">
            <label class="labelwp">Project Name</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
                    <input type="text" formControlName="" [(ngModel)]="" class="inpute">
                </div>
            </div>
        </div>
        <div style="width: 30%;">
            <label class="labelwp">Brief Description</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
                    <input type="text" formControlName="" [(ngModel)]="gasproductionBody." class="inpute">
                </div>
            </div>
        </div>


    </div>
  <br><br>
    <div>
        <div style="text-align: center;">
            <button class="btn btn-success">Add Project</button>
        </div>
    </div>
    <br><br><br>         -->
