<div
  [formGroup]="InitialForm"
  (ngSubmit)="submit()"
  style="
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3);
    padding: 20px;
  "
>
  <h1
    style="
      text-shadow: 1px 1px rgb(130, 23, 23);
      color: rgb(255, 157, 0);
      margin-left: 75%;
      font-size: 18px;
    "
  >
    Note:*All Fields are Mandatory
  </h1>
  <div
    style="
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      padding-bottom: 20px;
    "
  >
    <span>INITIAL WELL COMPLETION JOBS (QUARTERLY BASIS)</span>
  </div>

  <div>
    <div class="quarterbox">
      <div
        class="quarterspace"
        [ngClass]="quaterIWClassOne"
        (click)="changeIWQuater(1, btn)"
      >
        <div style="margin-bottom: 20px">
          <span><span style="font-size: 25px">1</span> Quarter</span>
        </div>
      </div>
      <div
        class="quarterspace"
        [ngClass]="quaterIWClassTwo"
        (click)="changeIWQuater(2, btn)"
      >
        <div style="margin-bottom: 20px">
          <span><span style="font-size: 25px">2</span> Quarter</span>
        </div>
      </div>
      <div
        class="quarterspace"
        [ngClass]="quaterIWClassThree"
        (click)="changeIWQuater(3, btn)"
      >
        <div style="margin-bottom: 20px">
          <span><span style="font-size: 25px">3</span> Quarter</span>
        </div>
      </div>
      <div
        class="quarterspace"
        [ngClass]="quaterIWClassFour"
        (click)="changeIWQuater(4, btn)"
      >
        <div style="margin-bottom: 20px">
          <span> <span style="font-size: 25px">4</span> Quarter</span>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />

  <div style="display: flex; width: 100%; justify-content: space-between">
    <!-- <div style="width: 30%; margin-top: auto">
      <label class="labelwp">Actual No. of Completion </label>
      <div style="display: flex">
        <div style="
            box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 10px;
            padding: 7px 10px;
          ">
          <input (keypress)="genk.restrictData($event)" formControlName="current_year_Actual_Number"
            [(ngModel)]="initialBody.current_year_Actual_Number" class="inpute" (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)" [(ngModel)]="initialBody.current_year_Actual_Number" />
        </div>
      </div>
    </div> -->

    <div style="width: 30%; margin-top: auto">
      <label class="labelwp">Proposed Number of Wells For Completion</label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 10px;
            padding: 7px 10px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            formControlName="proposed_year_data"
            [(ngModel)]="initialBody.proposed_year_data"
            class="inpute"
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)"
            [(ngModel)]="initialBody.proposed_year_data"
            
          />
        </div>
      </div>
    </div>

    <div style="width: 30%; margin-top: auto">
      <label class="labelwp">Proposed Initial Well Completion Name </label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 10px;
            padding: 7px 10px;
          "
        >
          <input
            formControlName="proposed_initial_name"
            [(ngModel)]="initialBody.proposed_initial_name"
            class="inpute"
            
          />
        </div>
      </div>
    </div>

    <div style="width: 30%; margin-top: auto">
      <label class="labelwp">Proposed Number of Days For Completion </label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 10px;
            padding: 7px 10px;
          "
        >
          <input
            formControlName="proposed_completion_days"
            [(ngModel)]="initialBody.proposed_completion_days"
            class="inpute"
            
          />
        </div>
      </div>
    </div>

    <!-- <div style="width: 30%">
      <div style="font-weight: 500; margin-bottom: 5px">
        <span>Budget Allocation (NGN & USD)</span>
      </div>

      <div style="width: 100%; display: flex">
        <div style="width: 98%; margin-right: 2%">
          <label class="labelwp">NGN</label>
          <div style="display: flex">
            <div class="inpdivcurrency">
              <span class="currencywp">&#x20A6;</span>
              <input type="text" formControlName="budeget_Allocation_NGN" (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)" (change)="
                  initialBody.budeget_Allocation_NGN =
                    genk.addCurrencyDecimal($event)
                " [value]="initialBody.budeget_Allocation_NGN" class="inpute" />
            </div>
          </div>
        </div>

        <div style="width: 98%">
          <label class="labelwp">USD</label>
          <div style="display: flex">
            <div class="inpdivcurrency">
              <span class="currencywp">$</span>
              <input type="text" formControlName="budeget_Allocation_USD" (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)" (change)="
                  initialBody.budeget_Allocation_USD =
                    genk.addCurrencyDecimal($event)
                " [value]="initialBody.budeget_Allocation_USD" class="inpute" />
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <br />
  <div style="display: flex; width: 100%; justify-content: space-between">
    <!-- <div style="width: 30%; margin: auto 2% 0 0">
      <label class="labelwp">Actual Completion Date</label>
      <div style="display: flex">
        <div style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 10px;
            padding: 7px 10px;
          ">
          <input type="date" class="inpute" formControlName="actual_Completion_Date"
            [(ngModel)]="initialBody.actual_Completion_Date" />
        </div>
      </div>
    </div> -->

    <div style="width: 30%; margin-top: auto">
      <label class="labelwp">Proposed Completion Date</label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 10px;
            padding: 7px 10px;
          "
        >
          <input
            type="date"
            class="inpute"
            formControlName="proposed_Completion_Date"
            [(ngModel)]="initialBody.proposed_Completion_Date"
            
          />
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <div style="font-weight: 500; margin-bottom: 5px">
        <span>Budget Allocation (NGN & USD)</span>
      </div>

      <div style="width: 100%; display: flex">
        <div style="width: 98%; margin-right: 2%">
          <label class="labelwp">NGN</label>
          <div style="display: flex">
            <div class="inpdivcurrency">
              <span class="currencywp">&#x20A6;</span>
              <input
                type="text"
                formControlName="budeget_Allocation_NGN"
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                (change)="
                  initialBody.budeget_Allocation_NGN =
                    genk.addCurrencyDecimal($event)
                "
                [value]="initialBody.budeget_Allocation_NGN"
                class="inpute"
                
              />
            </div>
          </div>
        </div>

        <div style="width: 98%">
          <label class="labelwp">USD</label>
          <div style="display: flex">
            <div class="inpdivcurrency">
              <span class="currencywp">$</span>
              <input
                type="text"
                formControlName="budeget_Allocation_USD"
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                (change)="
                  initialBody.budeget_Allocation_USD =
                    genk.addCurrencyDecimal($event)
                "
                [value]="initialBody.budeget_Allocation_USD"
                class="inpute"
                
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <label class="labelwp">
        Well purpose to have (Oil, Gas or Condensate Well)</label
      >
      <div style="display: flex">
        <div class="inputshadow">
          <select
            class="dropwp"
            formControlName="oil_or_gas_wells"
            [(ngModel)]="initialBody.oil_or_gas_wells"
            
          >
            <option selected disabled>--Select a Option --</option>
            <option value="GAS WELL">Gas Well</option>
            <option value="OIL WELL">Oil Well</option>
            <option value="CONDENSATE WELL">Condensate Well</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div style="display: flex; width: 100%; justify-content: space-between">
    <div style="width: 30%">
      <label class="labelwp">Remarks</label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 10px;
            padding: 7px 10px;
          "
        >
          <textarea
            class="inpute"
            rows="2"
            formControlName="remarks"
            [(ngModel)]="initialBody.remarks"
            
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <br /><br />

  <div>
    <div style="text-align: center">
      <button
        #btn
        class="quarterbtn"
        (click)="submit()"
        
      >
        Add Initial Well For Quarter 1
      </button>
    </div>
  </div>

  <br />
  <br />
  <div
    #divTable
    style="
      overflow: hidden;
      overflow-x: auto;
      box-shadow: 4px 4px 12px 2px rgb(0, 0, 0, 0.3);
    "
  >
    <table #codeTable class="apptable" cellPadding="10px">
      <thead>
        <tr>
          <th *ngFor="let h of iwccolumn">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody #codeTbody style="box-shadow: 4px 4px 12px 2px rgb(0, 0, 0, 0.3)">
        <tr *ngFor="let row of _quaterIWOneData">
          <td *ngFor="let h of iwccolumn">
            {{ row[h.columnDef] }}
          </td>
          <td>
            <button
              mat-stroked-button
              style="margin: 50px; padding: 10px"
              type="button"
              class="btn btn-primary"
              (click)="deleteNCT(row)"
              value="{{ row.id }}"
              style="background-color: white; color: red; border: 2px solid"
              class="submitbtn"
            >
              <mat-icon style="font-size: 20px"> border_color</mat-icon>
              <b>Delete</b>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />
<br />

<div style="text-align: center">
  <button
    #btnprocess
    (click)="genk.goToTop()"
    [routerLink]="[
      '/' + genk.company,
      genk.workprogram,
      'step2',
      'workoverrecompletion'
    ]"
    class="nextbtn"
  >
    Next
  </button>
</div>
