<div
  style="
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
    padding: 20px;
    font-weight: 600;
  "
>
  <div style="width: 40%; margin-top: auto; margin-bottom: 5%">
    <label class="labelwp" style="color: teal; font-weight: 600">
      WELL TYPE
    </label>
    <div style="display: flex; width: 100%">
      <div class="inputshadow" style="border-radius: 0">
        <select
          class="dropwp"
          formControlName="oil_or_gas_wells"
          [value]="genk.fieldWell"
          (change)="getFieldWell($event)"
        >
          <option selected value="GAS WELL">GAS WELL</option>
          <option value="OIL WELL">OIL WELL</option>
          <option value="CONDENSATE WELL">CONDENSATE WELL</option>
        </select>
      </div>
    </div>
  </div>

  <div>
    <div
      *ngIf="this.genk.fieldWell === 'OIL WELL'"
      style="
        background-color: white;
        border-radius: 5px;
        box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3);
        padding: 20px;
      "
    >
      <h1
        style="
          text-shadow: 1px 1px rgb(130, 23, 23);
          color: rgb(255, 157, 0);
          margin-left: 75%;
          font-size: 18px;
        "
      >
        Note:*All Fields are Mandatory
      </h1>
      <div
        style="
          font-size: 25px;
          font-weight: 500;
          text-align: center;
          padding-bottom: 20px;
        "
      >
        <span>PRODUCTION (OIL/CONDENSATE/AG/NAG)</span>
      </div>

      <div [formGroup]="Oil_ProductionForm">
        <div>
          <div
            style="display: flex; width: 100%; justify-content: space-between"
          >
            <div style="width: 30%">
              <span class="labelwp">Is There a Planned Deferment ?</span>
              <div style="display: flex; width: 100%">
                <div class="inputshadow">
                  <select
                    class="dropwp"
                    formControlName="oil_Royalty_Payment"
                    [value]="productionoilBody.oil_Royalty_Payment"
                  >
                    <option selected disabled>--Select an Option --</option>
                    <option value="YES">Yes</option>
                    <option value="NO">No</option>
                  </select>
                </div>
              </div>
            </div>

            <div style="width: 30%; margin: auto 0 0">
              <label class="labelwp">Volume of Deferment (Barrels)</label>
              <div style="display: flex">
                <div class="minsec">
                  <input
                    (keypress)="genk.restrictData($event)"
                    formControlName="deferment"
                    class="inpute"
                    (keypress)="genk.restrictData($event)"
                    (keyup)="genk.formatCurrency($event)"
                    placeholder="100,000"
                    (change)="
                      productionoilBody.deferment = genk.checkMMBBLMin(
                        $event,
                        oilMin
                      )
                    "
                    [value]="productionoilBody.deferment"
                  />
                  <span class="barspan">BBLS</span>
                </div>
              </div>
              <small #oilMin></small>
            </div>

            <div style="width: 30%; margin: auto 0 0">
              <label class="labelwp">Forecast (Barrels)</label>
              <div style="display: flex">
                <div
                  style="
                    box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
                    width: 100%;
                    border-radius: 10px;
                    padding: 7px 10px;
                  "
                >
                  <input
                    formControlName="forecast"
                    class="inpute"
                    (keypress)="genk.restrictData($event)"
                    (keyup)="genk.formatCurrency($event)"
                    (change)="
                      productionoilBody.forecast =
                        genk.addCurrencyDecimal($event)
                    "
                    [(ngModel)]="productionoilBody.forecast"
                  />
                </div>
              </div>
              <small #oilMic></small>
            </div>
          </div>
          <br />

          <div>
            <div
              style="display: flex; width: 100%; justify-content: space-between"
            >
              <div style="width: 30%">
                <label id="ContentPlaceHolder2_Label8" class="labelwp"
                  >Cost Barrel (USD)</label
                >
                <div style="display: flex">
                  <div class="inpdivcurrency">
                    <span class="currencywp">$</span>
                    <input
                      class="inpute"
                      type="text"
                      formControlName="cost_Barrel"
                      (keypress)="genk.restrictData($event)"
                      (keyup)="genk.formatCurrency($event)"
                      (change)="
                        productionoilBody.cost_Barrel =
                          genk.addCurrencyDecimal($event)
                      "
                      [(ngModel)]="productionoilBody.cost_Barrel"
                    />
                  </div>
                </div>
              </div>

              <div style="width: 30%; margin: auto 0 0">
                <label id="ContentPlaceHolder2_Label8" class="labelwp"
                  >Total Reconciled Crude Oil Production</label
                >
                <div style="display: flex">
                  <div
                    style="
                      box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                      width: 100%;
                      border-radius: 20px;
                      padding: 7px 10px;
                    "
                  >
                    <input
                      type="text"
                      formControlName="total_Reconciled_National_Crude_Oil_Production"
                      class="inpute"
                      (keypress)="genk.restrictData($event)"
                      (keyup)="genk.formatCurrency($event)"
                      (change)="
                        productionoilBody.total_Reconciled_National_Crude_Oil_Production =
                          genk.addCurrencyDecimal($event)
                      "
                      [(ngModel)]="
                        productionoilBody.total_Reconciled_National_Crude_Oil_Production
                      "
                    />
                  </div>
                </div>
              </div>
              <div style="width: 30%; margin: auto 0 0">
                <label class="labelwp">
                  Gas production (AG) (Stantard Cubic Feet)</label
                >
                <div style="display: flex">
                  <div
                    style="
                      box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                      width: 100%;
                      border-radius: 20px;
                      padding: 7px 10px;
                    "
                  >
                    <input
                      type="text"
                      formControlName="gas_AG"
                      class="inpute"
                      (keypress)="genk.restrictData($event)"
                      (keyup)="genk.formatCurrency($event)"
                      (change)="
                        productionoilBody.gas_AG =
                          genk.addCurrencyDecimal($event)
                      "
                      [(ngModel)]="productionoilBody.gas_AG"
                    />
                  </div>
                </div>
                <small #gasmaxx></small>
              </div>
            </div>
            <br />

            <div style="display: flex; width: 100%">
              <div style="width: 30%">
                <label class="labelwp"
                  >Gas production (NAG)(Standard Cubic Feet)</label
                >
                <div style="display: flex">
                  <div
                    style="
                      box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                      width: 100%;
                      border-radius: 20px;
                      padding: 7px 10px;
                    "
                  >
                    <input
                      type="text"
                      formControlName="gas_NAG"
                      class="inpute"
                      (keypress)="genk.restrictData($event)"
                      (keyup)="genk.formatCurrency($event)"
                      (change)="
                        productionoilBody.gas_NAG =
                          genk.addCurrencyDecimal($event)
                      "
                      [(ngModel)]="productionoilBody.gas_NAG"
                    />
                  </div>
                </div>
                <small #gasMac></small>
              </div>
            </div>

            <br /><br /><br />
            <div>
              <div style="text-align: center">
                <button class="quarterbtn" (click)="saveProduction()">
                  UPDATE PRODUCTION (OIL/CONDENSATE/AG/NAG)
                </button>
              </div>
            </div>

            <br /><br /><br />

            <hr size="10" />
          </div>
        </div>
      </div>
      <br /><br />
      <div [formGroup]="monthlyActivityForm">
        <div
          style="
            text-align: start;
            font-size: 17px;
            font-weight: 600;
            padding-bottom: 20px;
            color: teal;
          "
        >
          <span>ACTUAL MONTHLY PRODUCTION</span>
        </div>
        <div style="display: flex; width: 100%; justify-content: space-between">
          <div style="width: 30%">
            <label class="labelwp">Months</label>
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                padding: 5px;
                border-radius: 20px;
              "
            >
              <select
                class="dropwp"
                formControlName="production_month"
                [value]="monthlyactivityBody.production_month"
                (change)="changeActualMonth($event)"
              >
                <!-- <option disabled>---- Select a Month ----</option> -->
                <option
                  value="January"
                  [selected]="
                    monthlyactivityBody.production_month === 'January'
                  "
                >
                  January
                </option>
                <option
                  value="Febuary"
                  [selected]="
                    monthlyactivityBody.production_month === 'Febuary'
                  "
                >
                  Febuary
                </option>
                <option
                  value="March"
                  [selected]="monthlyactivityBody.production_month === 'March'"
                >
                  March
                </option>
                <option
                  value="April"
                  [selected]="monthlyactivityBody.production_month === 'April'"
                >
                  April
                </option>
                <option
                  value="May"
                  [selected]="monthlyactivityBody.production_month === 'May'"
                >
                  May
                </option>
                <option
                  value="June"
                  [selected]="monthlyactivityBody.production_month === 'June'"
                >
                  June
                </option>
                <option
                  value="July"
                  [selected]="monthlyactivityBody.production_month === 'July'"
                >
                  July
                </option>
                <option
                  value="August"
                  [selected]="monthlyactivityBody.production_month === 'August'"
                >
                  August
                </option>
                <option
                  value="September"
                  [selected]="
                    monthlyactivityBody.production_month === 'September'
                  "
                >
                  September
                </option>
                <option
                  value="October"
                  [selected]="
                    monthlyactivityBody.production_month === 'October'
                  "
                >
                  October
                </option>
                <option
                  value="November"
                  [selected]="
                    monthlyactivityBody.production_month === 'November'
                  "
                >
                  November
                </option>
                <option
                  value="December"
                  [selected]="
                    monthlyactivityBody.production_month === 'December'
                  "
                >
                  December
                </option>
              </select>
            </div>
          </div>

          <div style="width: 30%">
            <label class="labelwp">Production (Barrels )</label>
            <div style="display: flex">
              <div class="minsec">
                <input
                  (keypress)="genk.restrictData($event)"
                  type="text"
                  formControlName="production"
                  placeholder="100,000"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    monthlyactivityBody.production =
                      genk.addCurrencyDecimal($event)
                  "
                />
              </div>
            </div>
            <small #oilMe></small>
          </div>

          <div style="width: 30%">
            <label class="labelwp">Average Daily Production (BOPD)</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 20px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="text"
                  formControlName="avg_Daily_Production"
                  [(ngModel)]="monthlyactivityBody.avg_Daily_Production"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    monthlyactivityBody.avg_Daily_Production =
                      genk.addCurrencyDecimal($event)
                  "
                />
              </div>
            </div>
          </div>
        </div>
        <br />
        <div style="display: flex; width: 100%">
          <div style="margin-right: 5%; width: 30%">
            <label class="labelwp"
              >Gas Production (AG)(Standard Cubic Feet)</label
            >
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 20px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="text"
                  formControlName="gas_AG"
                  [(ngModel)]="monthlyactivityBody.gas_AG"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    monthlyactivityBody.gas_AG = genk.addCurrencyDecimal($event)
                  "
                />
              </div>
            </div>
            <small #gasDec></small>
          </div>

          <div style="width: 30%">
            <label class="labelwp"
              >Gas Average Daily Production (NAG)(Standard Cubic Feet)</label
            >
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 20px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="text"
                  formControlName="gas_NAG"
                  [(ngModel)]="monthlyactivityBody.gas_NAG"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    monthlyactivityBody.gas_NAG =
                      genk.addCurrencyDecimal($event)
                  "
                />
              </div>
            </div>
            <small #gaspro></small>
          </div>
        </div>
        <br /><br />

        <div style="text-align: center">
          <button class="quarterbtn" (click)="saveMonthlyActivity()">
            Save {{ monthlyactivityBody.production_month }} Production
          </button>
        </div>
      </div>
      <br />
      <hr size="10" />

      <div>
        <div [formGroup]="ProposedMonthlyForm">
          <div
            style="
              text-align: start;
              font-size: 17px;
              font-weight: 600;
              padding-bottom: 20px;
              color: teal;
            "
          >
            <span>PROPOSED MONTHLY PRODUCTION</span>
          </div>
          <div
            style="display: flex; width: 100%; justify-content: space-between"
          >
            <div style="width: 30%">
              <label class="labelwp">Months</label>
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  padding: 5px;
                  border-radius: 20px;
                "
              >
                <select
                  class="dropwp"
                  formControlName="production_month"
                  [value]="proposedmonthlyBody.production_month"
                  (change)="changeProposedMonth($event)"
                >
                  <!-- <option disabled>---- Select a Month ----</option> -->
                  <option
                    value="January"
                    [selected]="
                      proposedmonthlyBody.production_month === 'January'
                    "
                  >
                    January
                  </option>
                  <option
                    value="Febuary"
                    [selected]="
                      proposedmonthlyBody.production_month === 'Febuary'
                    "
                  >
                    Febuary
                  </option>
                  <option
                    value="March"
                    [selected]="
                      proposedmonthlyBody.production_month === 'March'
                    "
                  >
                    March
                  </option>
                  <option
                    value="April"
                    [selected]="
                      proposedmonthlyBody.production_month === 'April'
                    "
                  >
                    April
                  </option>
                  <option
                    value="May"
                    [selected]="proposedmonthlyBody.production_month === 'May'"
                  >
                    May
                  </option>
                  <option
                    value="June"
                    [selected]="proposedmonthlyBody.production_month === 'June'"
                  >
                    June
                  </option>
                  <option
                    value="July"
                    [selected]="proposedmonthlyBody.production_month === 'July'"
                  >
                    July
                  </option>
                  <option
                    value="August"
                    [selected]="
                      proposedmonthlyBody.production_month === 'August'
                    "
                  >
                    August
                  </option>
                  <option
                    value="September"
                    [selected]="
                      proposedmonthlyBody.production_month === 'September'
                    "
                  >
                    September
                  </option>
                  <option
                    value="October"
                    [selected]="
                      proposedmonthlyBody.production_month === 'October'
                    "
                  >
                    October
                  </option>
                  <option
                    value="November"
                    [selected]="
                      proposedmonthlyBody.production_month === 'November'
                    "
                  >
                    November
                  </option>
                  <option
                    value="December"
                    [selected]="
                      proposedmonthlyBody.production_month === 'December'
                    "
                  >
                    December
                  </option>
                </select>
              </div>
            </div>

            <div style="width: 30%">
              <label class="labelwp">Production (Barrels)</label>
              <div style="display: flex">
                <div
                  style="
                    box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                    width: 100%;
                    border-radius: 20px;
                    padding: 7px 10px;
                  "
                >
                  <input
                    type="text"
                    formControlName="production"
                    class="inpute"
                    (keypress)="genk.restrictData($event)"
                    (keyup)="genk.formatCurrency($event)"
                    (change)="
                      proposedmonthlyBody.production =
                        genk.addCurrencyDecimal($event)
                    "
                    [(ngModel)]="proposedmonthlyBody.production"
                  />
                </div>
              </div>
              <small #oilMon></small>
            </div>

            <div style="width: 30%">
              <label class="labelwp">Average Daily Production (BOPD)</label>
              <div style="display: flex">
                <div
                  style="
                    box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                    width: 100%;
                    border-radius: 20px;
                    padding: 7px 10px;
                  "
                >
                  <input
                    type="text"
                    formControlName="avg_Daily_Production"
                    class="inpute"
                    (keypress)="genk.restrictData($event)"
                    (keyup)="genk.formatCurrency($event)"
                    (change)="
                      proposedmonthlyBody.avg_Daily_Production =
                        genk.addCurrencyDecimal($event)
                    "
                    [(ngModel)]="proposedmonthlyBody.avg_Daily_Production"
                  />
                </div>
              </div>
            </div>
          </div>
          <br />

          <div style="display: flex; width: 100%">
            <div style="margin-right: 5%; width: 30%">
              <label class="labelwp"
                >Gas Production (AG)(Standard Cubic Feet)</label
              >
              <div style="display: flex">
                <div
                  style="
                    box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                    width: 100%;
                    border-radius: 20px;
                    padding: 7px 10px;
                  "
                >
                  <input
                    type="text"
                    formControlName="gas_AG"
                    class="inpute"
                    (keypress)="genk.restrictData($event)"
                    (keyup)="genk.formatCurrency($event)"
                    (change)="
                      proposedmonthlyBody.gas_AG =
                        genk.addCurrencyDecimal($event)
                    "
                    [(ngModel)]="proposedmonthlyBody.gas_AG"
                  />
                </div>
              </div>
              <small #gasdan></small>
            </div>

            <div style="width: 30%">
              <label class="labelwp"
                >Gas Production (NAG)(Standard Cubic Feet)</label
              >
              <div style="display: flex">
                <div
                  style="
                    box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                    width: 100%;
                    border-radius: 20px;
                    padding: 7px 10px;
                  "
                >
                  <input
                    type="text"
                    formControlName="gas_NAG"
                    class="inpute"
                    (keypress)="genk.restrictData($event)"
                    (keyup)="genk.formatCurrency($event)"
                    (change)="
                      proposedmonthlyBody.gas_NAG =
                        genk.addCurrencyDecimal($event)
                    "
                    [(ngModel)]="proposedmonthlyBody.gas_NAG"
                  />
                </div>
              </div>
              <small #gasBox></small>
            </div>
          </div>
          <br />
          <br /><br />
          <div style="text-align: center">
            <button class="quarterbtn" (click)="saveProposedActivity()">
              Save Proposed
              {{ proposedmonthlyBody.production_month }} Production
            </button>
          </div>
        </div>
      </div>
      <br />
      <hr size="10" />

      <div [formGroup]="fiveYearForecastForm">
        <div
          style="
            text-align: start;
            font-size: 17px;
            font-weight: 600;
            padding-bottom: 20px;
            color: teal;
          "
        >
          <span>Five Year Production Forecast: (Figures)</span>
        </div>
        <div style="display: flex; width: 100%; justify-content: space-between">
          <div style="width: 30%">
            <label class="labelwp">PROJECTION YEAR</label>
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                padding: 5px;
                border-radius: 20px;
              "
            >
              <select
                class="dropwp"
                formControlName="fiveyear_Timeline"
                [(ngModel)]="fiveYearForecastBody.fiveyear_Timeline"
                (change)="changeFiveYearProjection($event)"
              >
                <option selected disabled>---- Select a Year ----</option>
                <option
                  value="2022"
                  [selected]="fiveYearForecastBody.fiveyear_Timeline === '2022'"
                >
                  2022
                </option>
                <option
                  value="2023"
                  [selected]="fiveYearForecastBody.fiveyear_Timeline === '2023'"
                >
                  2023
                </option>
                <option
                  value="2024"
                  [selected]="fiveYearForecastBody.fiveyear_Timeline === '2024'"
                >
                  2024
                </option>
                <option
                  value="2025"
                  [selected]="fiveYearForecastBody.fiveyear_Timeline === '2025'"
                >
                  2025
                </option>
                <option
                  value="2026"
                  [selected]="fiveYearForecastBody.fiveyear_Timeline === '2026'"
                >
                  2026
                </option>
              </select>
            </div>
          </div>

          <div style="width: 30%">
            <label class="labelwp">Oil (Barrels)</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 20px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="text"
                  formControlName="fiveyear_Oil"
                  [(ngModel)]="fiveYearForecastBody.fiveyear_Oil"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    fiveYearForecastBody.fiveyear_Oil =
                      genk.addCurrencyDecimal($event)
                  "
                />
              </div>
            </div>
            <small #oilNac></small>
          </div>

          <div style="width: 30%">
            <label class="labelwp">Condensate (Barrels)</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 20px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="text"
                  formControlName="fiveyear_Condensate"
                  [(ngModel)]="fiveYearForecastBody.fiveyear_Condensate"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    fiveYearForecastBody.fiveyear_Condensate =
                      genk.addCurrencyDecimal($event)
                  "
                />
              </div>
            </div>
            <small #oilTax></small>
          </div>
        </div>
        <br />

        <div style="display: flex; width: 100%; justify-content: space-between">
          <div style="width: 30%">
            <label class="labelwp">AG (Standard Cubic Feet)</label>
            <div style="display: flex">
              <div class="minsec">
                <input
                  type="text"
                  formControlName="fiveyear_AG"
                  class="inpute"
                  placeholder="1,000,000"
                  style="border-radius: 5px"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    fiveYearForecastBody.fiveyear_AG = genk.checkBSCFMin(
                      $event,
                      oilNaz
                    )
                  "
                  [value]="fiveYearForecastBody.fiveyear_AG"
                />
                <span class="barspan">SCF</span>
              </div>
            </div>
            <small #oilNaz></small>
          </div>

          <div style="width: 30%">
            <label class="labelwp">NAG (Standard Cubic Feet)</label>
            <div style="display: flex">
              <div class="minsec">
                <input
                  type="text"
                  formControlName="fiveyear_NAG"
                  class="inpute"
                  style="border-radius: 5px"
                  placeholder="1,000,000"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    fiveYearForecastBody.fiveyear_NAG = genk.checkBSCFMin(
                      $event,
                      oilFus
                    )
                  "
                  [value]="fiveYearForecastBody.fiveyear_NAG"
                />
                <span class="barspan">SCF</span>
              </div>
            </div>
            <small #oilFus></small>
          </div>

          <div style="width: 30%">
            <label class="labelwp">Upload Yearly Production Forcast</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 20px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="file"
                  accept=".pdf, .doc, .docx, .rtf, .htm, .html, .txt, .xlsx"
                  formControlName="YPFFile"
                  (change)="saveYPFDoc($event)"
                  class="inpute"
                />
              </div>
              <div *ngIf="f['YPFFile'].invalid">
                <span *ngIf="f['YPFFile'].errors['incorrect']">
                  Error! File size should not exceed 50mb!
                </span>
              </div>
            </div>
          </div>
        </div>
        <br />

        <div style="text-align: center">
          <button class="quarterbtn" (click)="saveFiveYearForecast()">
            Save Five Year Production Forecast
          </button>
        </div>
      </div>
      <br />
    </div>

    <div
      *ngIf="this.genk.fieldWell === 'GAS WELL'"
      style="
        background-color: white;
        border-radius: 5px;
        box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3);
        padding: 20px;
      "
    >
      <div
        style="
          font-size: 25px;
          font-weight: 500;
          text-align: center;
          padding-bottom: 20px;
        "
      >
        <span>GAS PRODUCTION ACTIVITIES</span><br /><br />
      </div>
      <br />

      <div [formGroup]="GasProductionForm">
        <div style="display: flex; width: 100%; justify-content: space-between">
          <div style="width: 30%; margin-top: auto">
            <label class="labelwp"
              >Actual Gas Produced (Standard Cubic Field)</label
            >
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 10px;
                  padding: 7px 10px;
                "
              >
                <input
                  formControlName="current_Actual_Year"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    gasproductionBody.current_Actual_Year =
                      genk.addCurrencyDecimal($event)
                  "
                  [(ngModel)]="gasproductionBody.current_Actual_Year"
                />
              </div>
            </div>
            <small #gasMaxa></small>
          </div>

          <div style="width: 30%">
            <label class="labelwp">Utilized (Standard Cubic Feet)</label>
            <div style="display: flex; width: 100%">
              <div class="inputshadow">
                <select
                  class="dropwp"
                  formControlName="utilized"
                  [(ngModel)]="gasproductionBody.utilized"
                >
                  <option selected disabled>-- Select an Option --</option>
                  <option value="Fuel Gas">Fuel Gas</option>
                  <option value="Re-Injection/Gas Lift">
                    Re-Injection/Gas Lift
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div style="width: 30%; margin: auto 0 0">
            <label class="labelwp">Flared (Standard Cubic Feet)</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 10px;
                  padding: 7px 10px;
                "
              >
                <input
                  formControlName="flared"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    gasproductionBody.flared = genk.addCurrencyDecimal($event)
                  "
                  [(ngModel)]="gasproductionBody.flared"
                />
              </div>
            </div>
            <small #gasMax></small>
          </div>
        </div>
        <br />
        <div style="display: flex; width: 100%; justify-content: space-between">
          <div style="width: 30%; margin-top: auto">
            <label class="labelwp"
              >Proposed Gas Production (Standard Cubic Feet)</label
            >
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 10px;
                  padding: 7px 10px;
                "
              >
                <input
                  formControlName="proposed_production"
                  class="inpute"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    gasproductionBody.proposed_production =
                      genk.addCurrencyDecimal($event)
                  "
                  [(ngModel)]="gasproductionBody.proposed_production"
                />
              </div>
            </div>
            <small #gasMinin></small>
          </div>

          <div style="width: 30%; margin: auto 0 0">
            <label class="labelwp"
              >Proposed Utilization (Standard Cubic Feet)</label
            >
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 10px;
                  padding: 7px 10px;
                "
              >
                <input
                  formControlName="proposed_utilization"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    gasproductionBody.proposed_utilization =
                      genk.addCurrencyDecimal($event)
                  "
                  [(ngModel)]="gasproductionBody.proposed_utilization"
                />
              </div>
            </div>
            <small #gasMini></small>
          </div>

          <div style="width: 30%; margin: auto 0 0">
            <label class="labelwp"
              >Estimated Flare Volume (Standard Cubic Feet)</label
            >
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 10px;
                  padding: 7px 10px;
                "
              >
                <input
                  formControlName="proposed_flaring"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    gasproductionBody.proposed_flaring =
                      genk.addCurrencyDecimal($event)
                  "
                  [(ngModel)]="gasproductionBody.proposed_flaring"
                />
              </div>
            </div>
            <small #gasmin></small>
          </div>
        </div>
        <br />
        <div style="display: flex; width: 100%; justify-content: space-between">
          <div style="width: 30%; margin-top: auto">
            <label id="ContentPlaceHolder2_Label13" class="labelwp"
              >No of Gas Well Planned</label
            >
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 10px;
                  padding: 7px 10px;
                "
              >
                <input
                  formControlName="no_of_gas_well_planned"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    gasproductionBody.no_of_gas_well_planned =
                      genk.addCurrencyDecimal($event)
                  "
                  [(ngModel)]="gasproductionBody.no_of_gas_well_planned"
                />
              </div>
            </div>
          </div>

          <div style="width: 30%; margin: auto 0 0">
            <label class="labelwp">No. of Gas Well(s) Drilled</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 10px;
                  padding: 7px 10px;
                "
              >
                <input
                  formControlName="no_of_gas_well_drilled"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    gasproductionBody.no_of_gas_well_drilled =
                      genk.addCurrencyDecimal($event)
                  "
                  [(ngModel)]="gasproductionBody.no_of_gas_well_drilled"
                />
              </div>
            </div>
          </div>

          <div style="width: 30%; margin: auto 0 0">
            <label class="labelwp">Do You Have a Gas Handling Facility ?</label>
            <div style="display: flex; width: 100%">
              <div class="inputshadow">
                <select
                  class="dropwp"
                  formControlName="is_there_a_gas_plant"
                  [(ngModel)]="gasproductionBody.is_there_a_gas_plant"
                >
                  <option selected disabled>-- Select an Option --</option>
                  <option value="YES">Yes</option>
                  <option value="NO">No</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />

        <div style="display: flex; width: 100%; justify-content: space-between">
          <div style="width: 30%">
            <label class="labelwp">Gas Flare Penalty Payment made?</label>
            <div style="display: flex; width: 100%">
              <div class="inputshadow">
                <select
                  class="dropwp"
                  formControlName="gas_flare_Royalty_payment"
                  [(ngModel)]="gasproductionBody.gas_flare_Royalty_payment"
                >
                  <option selected disabled>-- Select an Option --</option>
                  <option value="YES">Yes</option>
                  <option value="NO">No</option>
                </select>
              </div>
            </div>
          </div>

          <div style="width: 30%">
            <label class="labelwp">No. of gas wells completed</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 10px;
                  padding: 7px 10px;
                "
              >
                <input
                  formControlName="number_of_gas_wells_completed"
                  class="inpute"
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  (change)="
                    gasproductionBody.number_of_gas_wells_completed =
                      genk.addCurrencyDecimal($event)
                  "
                  [(ngModel)]="gasproductionBody.number_of_gas_wells_completed"
                />
              </div>
            </div>
          </div>

          <div style="width: 30%">
            <label class="labelwp"> Remarks </label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 20px;
                  padding: 7px 10px;
                "
              >
                <textarea
                  formControlName="remarks_"
                  [(ngModel)]="gasproductionBody.remarks_"
                  rows="2"
                  class="inpute"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div>
          <div style="text-align: center">
            <button class="quarterbtn" (click)="saveGasProduction()">
              Update Gas Production Activities
            </button>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
<br /><br />
<div style="text-align: center">
  <button
    [routerLink]="[
      '/' + genk.company,
      genk.workprogram,
      'step2',
      'reservesupdate'
    ]"
    class="nextbtn"
  >
    Next
  </button>
</div>
