<div class="whiteback">
  <div
    style="
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      padding-bottom: 20px;
    "
  >
    <span>RESERVES UPDATE (MMBLS)</span>
  </div>
  <br />
  <h1
    style="
      text-shadow: 1px 1px rgb(130, 23, 23);
      color: rgb(255, 157, 0);
      margin-left: 75%;
      font-size: 18px;
    "
  >
    Note:*All Fields are Mandatory
  </h1>
  <div style="font-size: 22px; font-weight: 500">
    <span>Status of Reserves</span>
  </div>
  <hr />
  <br />
  <div
    style="text-align: start;font-size: 17px; font-weight: 600; padding-bottom: 20px; color: teal;">
    <span>Concession Reserves for preceding year(as at 1st January)</span>
  </div>
  <div
    [formGroup]="ReserveUpdatePreceedingForm"
    (ngSubmit)="saveReserveUpdatePreceeding()"
  >
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Year</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="dropwp"
            formControlName="year_of_WP"
            [(ngModel)]="statusOfReservesPreceeding.year_of_WP"
          >
            <option selected disabled>---- Select a Year ----</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp"> 2P reserves (Barrels)- Oil</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="company_Reserves_Oil"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="statusOfReservesPreceeding._company_Reserves_Oil"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">2P reserves (Barrels) - Condensate</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="company_Reserves_Condensate"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                statusOfReservesPreceeding._company_Reserves_Condensate
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: start">
      <div style="width: 30%; margin-right: 5%">
        <label class="labelwp">2P reserves (Standard Cubic Feet) - AG</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="company_Reserves_AG"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="statusOfReservesPreceeding._company_Reserves_AG"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp"> 2P reserves (Standard Cubic Feet) - NAG</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input placeholder="1,000,000"
              type="text"
              formControlName="company_Reserves_NAG"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="statusOfReservesPreceeding._company_Reserves_NAG"
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Annual Oil Production (Barrels)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="company_Reserves_AnnualOilProduction"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                statusOfReservesPreceeding._company_Reserves_AnnualOilProduction
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Annual Condensate Production (Barrels)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="company_Reserves_AnnualCondensateProduction"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                statusOfReservesPreceeding._company_Reserves_AnnualCondensateProduction
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Annual AG Production (Standard Cubic Feet)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="company_Reserves_AnnualGasAGProduction"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                statusOfReservesPreceeding._company_Reserves_AnnualGasAGProduction
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div style="width: 30%">
      <label class="labelwp">Annual NAG Production (Standard Cubic Feet)</label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 20px;
            padding: 7px 10px;
          "
        >
          <input
            type="text"
            formControlName="company_Reserves_AnnualGasNAGProduction"
            class="inpute"
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatNum_Efficient($event.target.value)"
            [(ngModel)]="
              statusOfReservesPreceeding._company_Reserves_AnnualGasNAGProduction
            "
          />
        </div>
      </div>
    </div>

    <div style="text-align: center">
      <button
        type="submit"
        class="quarterbtn"
        (click)="saveReserveUpdatePreceeding()"
      >
        Update Preceeding Status of Reserves
      </button>
    </div>
    <br /><br />
  </div>

  <div
    [formGroup]="ReserveUpdateCurrentForm"
    (ngSubmit)="saveReserveUpdateCurrent()"
  >
    <div
      style="
        text-align: start;
        font-size: 17px;
        font-weight: 600;
        padding-bottom: 20px;
        color: teal;
      "
    >
      <span>Concession Reserves (as at 1st January)</span>
    </div>
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Year</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="dropwp"
            formControlName="year_of_WP"
            [(ngModel)]="statusOfReservesCurrent.year_of_WP"
          >
            <option selected disabled>---- Select a Year ----</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">2P reserves (Barrels) - Oil</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="company_Reserves_Oil"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="statusOfReservesCurrent._company_Reserves_Oil"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp"> 2P reserves (Standard Cubic Feet) - Condensate</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="company_Reserves_Condensate"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="statusOfReservesCurrent._company_Reserves_Condensate"
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: start">
      <div style="width: 30%; margin-right: 5%">
        <label class="labelwp">2P reserves (BSCF) - AG</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="company_Reserves_AG"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="statusOfReservesCurrent._company_Reserves_AG"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp"> 2P reserves (BSCF) - NAG</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              formControlName="company_Reserves_NAG"
              class="inpute"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="statusOfReservesCurrent._company_Reserves_NAG"
            />
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div style="text-align: center">
      <button
        type="submit"
        class="quarterbtn"
        (click)="saveReserveUpdateCurrent()"
      >
        Update Current Status of Reserves
      </button>
    </div>
  </div>
  <br />
  <hr />

  <div
    [formGroup]="ReserveUpdateFiveYearProjectionForm"
    (ngSubmit)="saveReserveUpdateFiveYearProjection()"
  >
    <div
      style="
        text-align: start;
        font-size: 17px;
        font-weight: 600;
        padding-bottom: 20px;
        color: teal;
      "
    >
      <span>Five (5) Year Reserves Projection: (Figures)</span>
    </div>
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Reserve Projection Year</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="dropwp"
            formControlName="fiveyear_Projection_Year"
            [(ngModel)]="
              reserveupdatefiveyearprojectionBody.fiveyear_Projection_Year
            "
          >
            <option selected disabled>---- Select a Year ----</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Oil</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="fiveyear_Projection_Oil"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveupdatefiveyearprojectionBody._fiveyear_Projection_Oil
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Condensate (MMBBL)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="fiveyear_Projection_Condensate"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveupdatefiveyearprojectionBody._fiveyear_Projection_Condensate
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: start">
      <div style="width: 30%; margin-right: 5%">
        <label class="labelwp">AG(BSCF)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="fiveyear_Projection_AG"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveupdatefiveyearprojectionBody._fiveyear_Projection_AG
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">NAG(BSCF)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="fiveyear_Projection_NAG"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveupdatefiveyearprojectionBody._fiveyear_Projection_NAG
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div style="text-align: center">
      <button
        class="quarterbtn"
        (click)="saveReserveUpdateFiveYearProjection()"
      >
        Save Five Years Reserve Projection
      </button>
    </div>
    <br />
  </div>
</div>
<br /><br />

<div class="whiteback">
  <div [formGroup]="reserveUpdateOilCondensateCompanyAnnualProductionForm">
    <div style="font-size: 20px; font-weight: 500">
      <span>Company Annual Production</span>
    </div>
    <hr />
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Year</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="dropwp"
            formControlName="company_Annual_Year"
            [(ngModel)]="
              reserveUpdateOilCondensateCompanyAnnualProductionBody.company_Annual_Year
            "
          >
            <option selected disabled>---- Select a Year ----</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
          </select>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Oil (MMBBL)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="company_Annual_Oil"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateCompanyAnnualProductionBody._company_Annual_Oil
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Condensate (MMBBL)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="company_Annual_Condensate"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateCompanyAnnualProductionBody._company_Annual_Condensate
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: start">
      <div style="width: 30%; margin-right: 5%">
        <label class="labelwp">AG(BSCF)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="company_Annual_AG"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateCompanyAnnualProductionBody._company_Annual_AG
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">NAG(BSCF)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="company_Annual_NAG"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateCompanyAnnualProductionBody._company_Annual_NAG
              "
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />

  <div [formGroup]="reserveupdateOilCondensateReservesAdditionForm">
    <div style="font-size: 17px; font-weight: 600; color: teal">
      <span>Reserve Addition</span>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Was there any Reserve Addition?</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="dropwp"
            formControlName="reserves_Addition_Was_there_any_Reserve_Addition"
            [(ngModel)]="
              reserveUpdateOilCondensateReservesAdditionBody.reserves_Addition_Was_there_any_Reserve_Addition
            "
          >
            <option selected disabled>---- Select an Option ----</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Reason for Addition</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="dropwp"
            formControlName="reserves_Addition_Reason_for_Addition"
            [(ngModel)]="
              reserveUpdateOilCondensateReservesAdditionBody.reserves_Addition_Reason_for_Addition
            "
          >
            <option selected disabled>
              ---- Select a Reason for Addition ----
            </option>
            <option value="Acquisition">Acquisition</option>
            <option value="Discoveries">Discoveries</option>
            <option value="Improved Recovery">Improved Recovery</option>
            <option value="Revision/Review">Revision/Review</option>
            <option value="NIL">NIL</option>
          </select>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Oil (MMBBL)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="reserves_Addition_Oil"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateReservesAdditionBody._reserves_Addition_Oil
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Condensate (MMBBL)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="reserves_Addition_Condensate"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateReservesAdditionBody._reserves_Addition_Condensate
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">AG(BSCF)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="reserves_Addition_AG"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateReservesAdditionBody._reserves_Addition_AG
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">NAG (BSCF)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="reserves_Addition_NAG"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateReservesAdditionBody._reserves_Addition_NAG
              "
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div [formGroup]="reserveUpdateOilCondensateReservesDeclineForm">
    <div style="font-size: 17px; font-weight: 600; color: teal">
      <span>Reserve Decline</span>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Was there a decline in reserve?</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="dropwp"
            formControlName="reserves_Decline_Was_there_a_decline_in_reserve"
            [(ngModel)]="
              reserveUpdateOilCondensateReservesDeclineBody.reserves_Decline_Was_there_a_decline_in_reserve
            "
          >
            <option selected disabled>---- Select an Option ----</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Reason for Decline</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="dropwp"
            formControlName="reserves_Decline_Reason_for_Decline"
            [(ngModel)]="
              reserveUpdateOilCondensateReservesDeclineBody.reserves_Decline_Reason_for_Decline
            "
          >
            <option selected disabled>
              ---- Select a Reason for Decline ----
            </option>
            <option value="Divestment/Fields Transfer">
              Divestment/Fields Transfer
            </option>
            <option value="Production">Production</option>
            <option value="Revision/Review">Revision/Review</option>
            <option value="NIL">NIL</option>
          </select>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Oil (MMBBL)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="reserves_Decline_Oil"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateReservesDeclineBody._reserves_Decline_Oil
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Condensate (MMBBL)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="reserves_Decline_Condensate"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateReservesDeclineBody._reserves_Decline_Condensate
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">AG(BSCF)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="reserves_Decline_AG"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateReservesDeclineBody._reserves_Decline_AG
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">NAG (BSCF)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="reserves_Decline_NAG"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="
                reserveUpdateOilCondensateReservesDeclineBody._reserves_Decline_NAG
              "
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div style="text-align: center">
    <button
      class="quarterbtn"
      (click)="saveReserveUpdateOilCondensateCompanyAnnualProduction()"
    >
      Update Company Annual Production
    </button>
  </div>
  <br />
</div>
<br /><br />

<div class="whiteback">
  <div
    style="
      text-align: start;
      font-size: 17px;
      font-weight: 600;
      padding-bottom: 20px;
      color: teal;
    "
  >
    <span>Five-Year Trend for Concession Reserve Replacement Ratio</span>
  </div>
  <div
    style="display: flex; width: 100%; justify-content: start"
    [formGroup]="reserveReplacementRatioForm"
  >
    <div style="width: 30%; margin-right: 5%">
      <label class="labelwp">Trend Year</label>
      <div
        style="
          box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
          width: 100%;
          padding: 5px;
          border-radius: 20px;
        "
      >
        <select
          class="dropwp"
          formControlName="trend_Year"
          [(ngModel)]="reserveReplacementRatioBody.trend_Year"
        >
          <option selected disabled>---- Select a Year ----</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
        </select>
      </div>
    </div>

    <div style="width: 30%">
      <label class="labelwp">Reserve Replacement Ratio Value</label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 20px;
            padding: 7px 10px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="reserveS_REPLACEMENT_RATIO_VALUE"
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatNum_Efficient($event.target.value)"
            [(ngModel)]="
              reserveReplacementRatioBody._reserveS_REPLACEMENT_RATIO_VALUE
            "
          />
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div style="text-align: center">
    <button class="quarterbtn" (click)="saveReserveReplacementRatio()">
      Save Reserve Replacement Ratio
    </button>
  </div>
  <hr />
  <br />

  <div
    style="
      text-align: start;
      font-size: 17px;
      font-weight: 600;
      padding-bottom: 20px;
      color: teal;
    "
  >
    <span>Depletion Rate (%)</span>
  </div>
  <div
    style="display: flex; width: 100%; justify-content: space-between"
    [formGroup]="reserveUpdateDepletionRateForm"
  >
    <div style="width: 30%">
      <label class="labelwp">OIL (MMBBL)</label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 20px;
            padding: 7px 10px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="oIL"
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatNum_Efficient($event.target.value)"
            [(ngModel)]="reserveUpdateDepletionRateBody._oil"
          />
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <label class="labelwp">CONDENSATE (MMBBL)</label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 20px;
            padding: 7px 10px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="cONDENSATE"
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatNum_Efficient($event.target.value)"
            [(ngModel)]="reserveUpdateDepletionRateBody._condensate"
          />
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <label class="labelwp">NAG (BSCF)</label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 20px;
            padding: 7px 10px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="nAG"
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatNum_Efficient($event.target.value)"
            [(ngModel)]="reserveUpdateDepletionRateBody._nag"
          />
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div style="text-align: center">
    <button class="quarterbtn" (click)="saveReserveUpdateDepletionRate()">
      Update Depletion Rate
    </button>
  </div>
  <hr />
  <br />

  <div
    style="
      text-align: start;
      font-size: 17px;
      font-weight: 600;
      padding-bottom: 20px;
      color: teal;
    "
  >
    <span>Life Index (Years)</span>
  </div>
  <div [formGroup]="reserveUpdateLifeIndexForm">
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">OIL (MMBBL)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="oIL"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="reserveUpdateLifeIndexBody._oil"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">CONDENSATE (MMBBL)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="cONDENSATE"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="reserveUpdateLifeIndexBody._condensate"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">NAG (BSCF)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="nAG"
              (keypress)="genk.restrictData($event)"
              (keyup)="genk.formatNum_Efficient($event.target.value)"
              [(ngModel)]="reserveUpdateLifeIndexBody._nag"
            />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div style="width: 30%">
      <label class="labelwp">AG (BSCF)</label>
      <div style="display: flex">
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 20px;
            padding: 7px 10px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="aG"
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatNum_Efficient($event.target.value)"
            [(ngModel)]="reserveUpdateLifeIndexBody._ag"
          />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div style="text-align: center">
    <button class="quarterbtn" (click)="saveReserveUpdateLifeIndex()">
      Update Life Index
    </button>
  </div>
</div>
<br><br>
<div style="text-align: center;">
  <button [routerLink]="['/' + genk.company, genk.workprogram, 'step3', 'budgetperformance']"
    class="nextbtn">Next</button>
</div>