<div class="whiteback">
  <div style="font-size: 25px; font-weight: 500; text-align: center; padding-bottom: 20px;">
    <span>RESERVES UPDATE (MMBLS)</span>
  </div>
  <br>
  <div style="font-size: 22px; font-weight: 500;"> <span>Status of Reserves</span></div>
  <hr>
  <br>
  <div style="text-align: start; font-size: 17px; font-weight: 600; padding-bottom: 20px; color:teal">
    <span>Concession Reserves for preceding year(as at 1st January)</span>
  </div>
  <div [formGroup]="ReserveUpdatePreceedingForm" (ngSubmit)="saveReserveUpdatePreceeding()">
  <div style="display: flex; width: 100%;  justify-content: space-between;">
    <div style="width: 30%;">
      <label class="labelwp">Year</label>
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
        <select class="dropwp" formControlName="year_of_WP" [(ngModel)]="statusOfReservesPreceeding.year_of_WP">
          <option selected disabled>---- Select a Year ----</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
        </select>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp"> 2P reserves (MMBBL)- Oil</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" formControlName="company_Reserves_Oil"
            [(ngModel)]="statusOfReservesPreceeding.company_Reserves_Oil" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <label class="labelwp">2P reserves (MMBBL) - Condensate</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" formControlName="company_Reserves_Condensate"
            [(ngModel)]="statusOfReservesPreceeding.company_Reserves_Condensate" class="inpute">
        </div>
      </div>
    </div>
  </div>
  <br>

  <div style="display: flex; width: 100%; justify-content: start;">
    <div style="width: 30%; margin-right: 5%;">
      <label class="labelwp">2P reserves (BSCF) - AG</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" formControlName="company_Reserves_AG"
            [(ngModel)]="statusOfReservesPreceeding.company_Reserves_AG" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <label class="labelwp"> 2P reserves (BSCF) - NAG</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" formControlName="company_Reserves_NAG"
            [(ngModel)]="statusOfReservesPreceeding.company_Reserves_NAG" class="inpute">
        </div>
      </div>
    </div>
  </div>
  <br>

  <div style="display: flex; width: 100%; justify-content: space-between;">
    <div style="width: 30%;">
      <label class="labelwp">Annual Oil Production (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" formControlName="company_Reserves_AnnualOilProduction"
            [(ngModel)]="statusOfReservesPreceeding.company_Reserves_AnnualOilProduction" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <label class="labelwp">Annual Condensate Production (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" formControlName="company_Reserves_AnnualCondensateProduction"
            [(ngModel)]="statusOfReservesPreceeding.company_Reserves_AnnualCondensateProduction" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <label class="labelwp">Annual AG Production (BSCF)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" formControlName="company_Reserves_AnnualGasAGProduction"
            [(ngModel)]="statusOfReservesPreceeding.company_Reserves_AnnualGasAGProduction" class="inpute">
        </div>
      </div>
    </div>

  </div>
  <br>
  <div style="width: 30%">
    <label class="labelwp">Annual NAG Production (BSCF)</label>
    <div style="display: flex;">
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
        <input type="text" formControlName="company_Reserves_AnnualGasNAGProduction"
          [(ngModel)]="statusOfReservesPreceeding.company_Reserves_AnnualGasNAGProduction" class="inpute">
      </div>
    </div>
  </div>

  <div style="text-align: center;">
    <button type="submit" class="quarterbtn" (click)="saveReserveUpdatePreceeding()">Update Preceeding Status of Reserves</button>
  </div>
  <br><br>
</div>

<div [formGroup]="ReserveUpdateCurrentForm" (ngSubmit)="saveReserveUpdateCurrent()">


<div style="text-align: start; font-size: 17px; font-weight: 600; padding-bottom: 20px; color:teal;">
  <span>Concession Reserves (as at 1st January)</span>
</div>
<div style="display: flex; width: 100%;  justify-content: space-between;">
  <div style="width: 30%;">
    <label class="labelwp">Year</label>
    <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
      <select class="dropwp" formControlName="year_of_WP" [(ngModel)]="statusOfReservesCurrent.year_of_WP">
        <option selected disabled>---- Select a Year ----</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
      </select>
    </div>
  </div>

  <div style="width: 30%;">
    <label class="labelwp">2P reserves (MMBBL) - Oil</label>
    <div style="display: flex;">
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
        <input type="text" formControlName="company_Reserves_Oil" [(ngModel)]="statusOfReservesCurrent.company_Reserves_Oil" class="inpute">
      </div>
    </div>
  </div>

  <div style="width: 30%">
    <label class="labelwp"> 2P reserves (MMBBL) - Condensate</label>
    <div style="display: flex;">
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
        <input type="text" formControlName="company_Reserves_Condensate" [(ngModel)]="statusOfReservesCurrent.company_Reserves_Condensate" class="inpute">
      </div>
    </div>
  </div>
</div>
<br>

<div style="display: flex; width: 100%; justify-content: start;">
  <div style="width: 30%; margin-right: 5%;">
    <label class="labelwp">2P reserves (BSCF) - AG</label>
    <div style="display: flex;">
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
        <input type="text" formControlName="company_Reserves_AG" [(ngModel)]="statusOfReservesCurrent.company_Reserves_AG" class="inpute">
      </div>
    </div>
  </div>

  <div style="width: 30%">
    <label class="labelwp"> 2P reserves (BSCF) - NAG</label>
    <div style="display: flex;">
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
        <input type="text" formControlName="company_Reserves_NAG" [(ngModel)]="statusOfReservesCurrent.company_Reserves_NAG" class="inpute">
      </div>
    </div>
  </div>
</div>
<br><br>
<div style="text-align: center;">
  <button type="submit" class="quarterbtn" (click)="saveReserveUpdateCurrent()">Update Current Status of Reserves</button>
</div>
</div>
<br>
<hr>

<div style="text-align: start; font-size: 17px; font-weight: 600; padding-bottom: 20px; color: teal;">
  <span>Five (5) Year Reserves Projection: (Figures)</span>
</div>
<div style="display: flex; width: 100%;  justify-content: space-between;">
  <div style="width: 30%;">
    <label class="labelwp">Reserve Projection Year</label>
    <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
      <select class="dropwp">
        <option selected disabled>---- Select a Year ----</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
      </select>
    </div>
  </div>

  <div style="width: 30%;">
    <label class="labelwp">Oil</label>
    <div style="display: flex;">
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
        <input type="text" class="inpute">
      </div>
    </div>
  </div>

  <div style="width: 30%">
    <label class="labelwp">Condensate (MMBBL)</label>
    <div style="display: flex;">
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
        <input type="text" class="inpute">
      </div>
    </div>
  </div>
</div>
<br>

<div style="display: flex; width: 100%; justify-content: start;">
  <div style="width: 30%; margin-right: 5%;">
    <label class="labelwp">AG(BSCF)</label>
    <div style="display: flex;">
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
        <input type="text" class="inpute">
      </div>
    </div>
  </div>

  <div style="width: 30%">
    <label class="labelwp">NAG(BSCF)</label>
    <div style="display: flex;">
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
        <input type="text" class="inpute">
      </div>
    </div>
  </div>
</div>
<br><br>
<div style="text-align: center;">
  <button class="quarterbtn">Save Five Years Reserve Projection</button>
</div>
<br>
</div>
<br><br>

<div class="whiteback">
  <div style="font-size: 20px; font-weight: 500;"> <span>Company Annual Production</span></div>
  <hr>
  <br>
  <div style="display: flex; width: 100%;  justify-content: space-between;">
    <div style="width: 30%;">
      <label class="labelwp">Year</label>
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
        <select class="dropwp">
          <option selected disabled>---- Select a Year ----</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>

        </select>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">Oil (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <label class="labelwp">Condensate (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>
  </div>
  <br>

  <div style="display: flex; width: 100%; justify-content: start;">
    <div style="width: 30%; margin-right: 5%;">
      <label class="labelwp">AG(BSCF)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <label class="labelwp">NAG(BSCF)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>
  </div>
  <br><br>


  <div style="font-size: 17px; font-weight: 600; color: teal;"> <span>Reserve Addition</span></div>
  <br>

  <div style="display: flex; width: 100%;  justify-content: space-between;">
    <div style="width: 30%;">
      <label class="labelwp">Was there any Reserve Addition?</label>
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
        <select class="dropwp">
          <option selected disabled>---- Select an Option ----</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">Reason for Addition</label>
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
        <select class="dropwp">
          <option selected disabled>---- Select a Reason for Addition ----</option>
          <option value="Acquisition">Acquisition</option>
          <option value="Discoveries">Discoveries</option>
          <option value="Improved Recovery">Improved Recovery</option>
          <option value="Revision/Review">Revision/Review</option>
          <option value="NIL">NIL</option>
        </select>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">Oil (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div style="display:flex; width:100%; justify-content: space-between; ">
    <div style="width: 30%;">
      <label class="labelwp">Condensate (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">AG(BSCF)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">NAG (BSCF)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>
  </div>
  <br><br>


  <div style="font-size: 17px; font-weight: 600; color: teal;"> <span>Reserve Decline</span></div>
  <br>

  <div style="display: flex; width: 100%;  justify-content: space-between;">
    <div style="width: 30%;">
      <label class="labelwp">Was there a decline in reserve?</label>
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
        <select class="dropwp">
          <option selected disabled>---- Select an Option ----</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">Reason for Decline</label>
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
        <select class="dropwp">
          <option selected disabled>---- Select a Reason for Decline ----</option>
          <option value="Divestment/Fields Transfer">Divestment/Fields Transfer</option>
          <option value="Production">Production</option>
          <option value="Revision/Review">Revision/Review</option>
          <option value="NIL">NIL</option>
        </select>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">Oil (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div style="display:flex; width:100%; justify-content: space-between; ">
    <div style="width: 30%;">
      <label class="labelwp">Condensate (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">AG(BSCF)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">NAG (BSCF)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>
  </div>

  <br><br>
  <div style="text-align: center;">
    <button class="quarterbtn">Update Company Annual Production</button>
  </div>
  <br>
</div>
<br><br>

<div class="whiteback">
  <div style="text-align: start; font-size: 17px; font-weight: 600; padding-bottom: 20px; color: teal;">
    <span>Five-Year Trend for Concession Reserve Replacement Ratio</span>
  </div>
  <div style="display: flex; width: 100%;  justify-content: start;">
    <div style="width: 30%; margin-right: 5%;">
      <label class="labelwp">Trend Year</label>
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
        <select class="dropwp">
          <option selected disabled>---- Select a Year ----</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
        </select>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">Reserve Replacement Ratio Value</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div style="text-align: center;">
    <button class="quarterbtn">Save Reserve Replacement Ratio</button>
  </div>
  <hr>
  <br>

  <div style="text-align: start; font-size: 17px; font-weight: 600; padding-bottom: 20px; color: teal">
    <span>Depletion Rate (%)</span>
  </div>
  <div style="display:flex; width:100%; justify-content: space-between; ">
    <div style="width: 30%;">
      <label class="labelwp">OIL (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">CONDENSATE (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">NAG (BSCF)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div style="text-align: center;">
    <button class="quarterbtn">Update Depletion Rate</button>
  </div>
  <hr><br>


  <div style="text-align: start; font-size: 17px; font-weight: 600; padding-bottom: 20px; color: teal">
    <span>Life Index (Years)</span>
  </div>
  <div style="display:flex; width:100%; justify-content: space-between; ">
    <div style="width: 30%;">
      <label class="labelwp">OIL (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">CONDENSATE (MMBBL)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>

    <div style="width: 30%;">
      <label class="labelwp">NAG (BSCF)</label>
      <div style="display: flex;">
        <div
          style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
          <input type="text" class="inpute">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div style="width: 30%;">
    <label class="labelwp">AG (BSCF)</label>
    <div style="display: flex;">
      <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
        <input type="text" class="inpute">
      </div>
    </div>
  </div>
  <br>
  <div style="text-align: center;">
    <button class="quarterbtn">Update Life Index</button>
  </div>
