<h1 mat-dialog-title>Add / Edit SBU</h1>
<div mat-dialog-content class="modal-width">
  <form [formGroup]="form">
    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Code</label>
      <input name="code" formControlName="code" class="form-control" />
      <div
        *ngIf="form.get('code')?.touched && form.get('code')?.invalid"
        class="alert alert-danger"
      >
        Code is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Name</label>
      <input name="name" formControlName="name" class="form-control" />
      <div
        *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
        class="alert alert-danger"
      >
        Name is required!
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button
    *ngIf="!targetData"
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    (click)="addSBU()"
  >
    Add
  </button>

  <button
    *ngIf="targetData"
    mat-raised-button
    [disabled]="form.invalid"
    (click)="editSBU()"
  >
    Edit
  </button>
</div>
