<div
        style="background-color: white; border-radius: 5px; box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3); padding: 20px;">
        <div style="font-size: 25px; font-weight: 500; text-align: center; padding-bottom: 20px;">
                <span>PARAMETER CONFIGURATION FOR ALL MODULES</span>
        </div><br>
        <hr size="10">
        <div style="display:flex;width: 100%; justify-content: space-between; ">
                <div style="width: 30%">


                        <div style="font-weight: 500; margin-bottom: 5px">

                                <span>Budget (Direct Exploration & Production Activities)</span>
                        </div>

                        <div style="width: 100%; display: flex;">

                                <div style="width: 98%; margin-right: 2%;">
                                        <label class="labelwp">NGN</label>
                                        <div style="display: flex;">
                                                <div
                                                        style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                        <input type="number" class="inpute">
                                                </div>
                                        </div>
                                </div>

                                <div style="width: 98%">
                                        <label class="labelwp">USD</label>
                                        <div style="display: flex;">
                                                <div
                                                        style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                        <input type="number" class="inpute">
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

                <div style="width: 30%">
                        <div style="font-weight: 500; margin-bottom: 5px">
                                <span>Budget for other Activities(NGN and US$)</span>
                        </div>

                        <div style="width: 100%; display: flex;">

                                <div style="width: 98%; margin-right: 2%;">
                                        <label class="labelwp">NGN</label>
                                        <div style="display: flex;">
                                                <div
                                                        style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                        <input type="number" class="inpute">
                                                               
                                                </div>
                                        </div>
                                </div>

                                <div style="width: 98%">
                                        <label class="labelwp">USD</label>
                                        <div style="display: flex;">
                                                <div
                                                        style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                        <input type="number" class="inpute">
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

                <div style="width: 30%">
                        <div style="font-weight: 500; margin-bottom: 5px">
                                <span>Equivalent Naira and Dollar Component</span>
                        </div>

                        <div style="width: 100%; display: flex;">

                                <div style="width: 98%; margin-right: 2%;">
                                        <label class="labelwp">NGN</label>
                                        <div style="display: flex;">
                                                <div
                                                        style="box-shadow: 1px 1px 4px 1px  rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                        <input type="number" class="inpute">
                                                </div>
                                        </div>
                                </div>

                                <div style="width: 98%">
                                        <label class="labelwp">USD</label>
                                        <div style="display: flex;">
                                                <div
                                                        style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                        <input type="number" class="inpute">
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

        </div>
        <br><br>
        <div>
                <div style="text-align: center;">
                        <button> Production Cost </button>
                    </div>
                <br>
        </div>
         <br>

        <hr size="10">
        <div>
                <div
                        style="text-align: start; font-size: 15px; font-weight: 30px; padding-bottom: 20px; color: rgb(67, 183, 67); text-shadow: 2px 4px 2px rgb(227, 255, 192);">
                        <span>EXPLORATORY ACTIVITIES</span>
                </div>
                <hr size="5">
                <div style="display: flex; justify-content: center; color: black;">
                        <span>SEISMIC ACTIVITIES (MMUSD)</span>
                </div>
                <br>
                <div style="display:flex;width: 100%; justify-content: space-between; ">
                        <div style="width: 30%">

                                <div style="font-weight: 500; margin-bottom: 5px">
                                        <span>ACQUISITION</span>
                                </div>

                                <div style="width: 100%; display: flex;">

                                        <div style="width: 98%; margin-right: 2%;">
                                                <label class="labelwp">Planned</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="aCQUISITION_planned"
                                                                        >
                                                        </div>
                                                </div>
                                        </div>

                                        <div style="width: 98%">
                                                <label class="labelwp">Actual</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="aCQUISITION_Actual"
                                                                       >
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div style="width: 30%">
                                <div style="font-weight: 500; margin-bottom: 5px">
                                        <span>PROCESSING</span>
                                </div>

                                <div style="width: 100%; display: flex;">

                                        <div style="width: 98%; margin-right: 2%;">
                                                <label class="labelwp">Planned</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="pROCESSING_planned"
                                                                       >
                                                        </div>
                                                </div>
                                        </div>

                                        <div style="width: 98%">
                                                <label class="labelwp">Actual</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="pROCESSING_Actual"
                                                                       >
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div style="width: 30%">
                                <div style="font-weight: 500; margin-bottom: 5px">
                                        <span>REPROCESSING</span>
                                </div>

                                <div style="width: 100%; display: flex;">

                                        <div style="width: 98%; margin-right: 2%;">
                                                <label class="labelwp">Planned</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="rEPROCESSING_planned"
                                                                      >
                                                        </div>
                                                </div>
                                        </div>

                                        <div style="width: 98%">
                                                <label class="labelwp">Actual</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="rEPROCESSING_Actual"
                                                                        >
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                </div>
                <br>
                <hr size="5">
                <div style="display: flex; justify-content: center; color: black;">
                        <span>DRILLING (MMUSD)</span>
                </div>
                <div style="display:flex;width: 100%; justify-content: space-between; ">
                        <div style="width: 30%">
                                <div style="font-weight: 500; margin-bottom: 5px">
                                        <span>EXPLORATION</span>
                                </div>

                                <div style="width: 100%; display: flex;">

                                        <div style="width: 98%; margin-right: 2%;">
                                                <label class="labelwp">Planned</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="eXPLORATION_planned"
                                                                    >
                                                        </div>
                                                </div>
                                        </div>

                                        <div style="width: 98%">
                                                <label class="labelwp">Actual</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input ty>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div style="width: 30%">
                                <div style="font-weight: 500; margin-bottom: 5px">
                                        <span>APPRAISAL</span>
                                </div>

                                <div style="width: 100%; display: flex;">

                                        <div style="width: 98%; margin-right: 2%;">
                                                <label class="labelwp">Planned</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="aPPRAISAL_planned"
                                                                     >
                                                        </div>
                                                </div>
                                        </div>

                                        <div style="width: 98%">
                                                <label class="labelwp">Actual</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="aPPRAISAL_Actual"
                                                                       >
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <br><br>
                <div>
                        <div style="text-align: center;">
                                <button class="submitbtn">Save Exploratory</button>
                            </div>
                        <br>
                </div>

                <br>
        </div>
        
        <hr size="10">

        <br>
        <div >
                <div
                        style="text-align: start; font-size: 15px; font-weight: 30px; padding-bottom: 20px; color: rgb(67, 183, 67); text-shadow: 2px 4px 2px rgb(227, 255, 192);">
                        <span>FACILITIES DEVELOPMENT PROJECT</span>
                </div>
                <hr size="5"><br>
                <div style="display: flex; justify-content: center; color: black;">
                        <span>BUDGET FOR THE STAGES IN FACILITIES DEVELOPMENT (MMUSD)</span>
                </div><br>
                <br>
                <div style="display:flex;width: 100%; justify-content: space-between; ">
                        <div style="width: 30%">
                                <div style="font-weight: 500; margin-bottom: 5px">
                                        <span>CONCEPT</span>
                                </div>

                                <div style="width: 100%; display: flex;">

                                        <div style="width: 98%; margin-right: 2%;">
                                                <label class="labelwp">Planned</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="concepT_planned"
                                                                       >
                                                        </div>
                                                </div>
                                        </div>

                                        <div style="width: 98%">
                                                <label class="labelwp">Actual</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="concepT_Actual"
                                                                        >
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div style="width: 30%">
                                <div style="font-weight: 500; margin-bottom: 5px">
                                        <span>FEED</span>
                                </div>

                                <div style="width: 100%; display: flex;">

                                        <div style="width: 98%; margin-right: 2%;">
                                                <label class="labelwp">Planned</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="feeD_planned"
                                                                    >
                                                        </div>
                                                </div>
                                        </div>

                                        <div style="width: 98%">
                                                <label class="labelwp">Actual</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="feeD_COST_Actual"
                                                                      >
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div style="width: 30%">
                                <div style="font-weight: 500; margin-bottom: 5px">
                                        <span>DETAILED ENGINEERING</span>
                                </div>

                                <div style="width: 100%; display: flex;">

                                        <div style="width: 98%; margin-right: 2%;">
                                                <label class="labelwp">Planned</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="detaileD_ENGINEERING_planned"
                                                                      >
                                                        </div>
                                                </div>
                                        </div>

                                        <div style="width: 98%">
                                                <label class="labelwp">Actual</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="detaileD_ENGINEERING_Actual"
                                                                        >
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                </div>
                <br>

                <div style="display:flex;width: 100%; justify-content: space-between; ">
                        <div style="width: 30%">
                                <div style="font-weight: 500; margin-bottom: 5px">
                                        <span>PROCUREMENT</span>
                                </div>

                                <div style="width: 100%; display: flex;">

                                        <div style="width: 98%; margin-right: 2%;">
                                                <label class="labelwp">Planned</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="procuremenT_planned"
                                                                     >
                                                        </div>
                                                </div>
                                        </div>


     
        <br>

        <hr size="10">

        <br>
        <div >
                <div
                        style="text-align: start; font-size: 15px; font-weight: 30px; padding-bottom: 20px; color: rgb(67, 183, 67); text-shadow: 2px 4px 2px rgb(227, 255, 192);">
                        <span>PRODUCTION COST</span>
                </div>
                <hr size="5"><br>
                <div style="display: flex; justify-content: center; color: black;">
                        <span>(MMUSD)</span>
                </div><br>
                <br>
                <div style="display:flex;width: 100%; justify-content: space-between; ">
                        <div style="width: 30%">
                                <div style="font-weight: 500; margin-bottom: 5px">
                                        <span>INDIRECT COST</span>
                                </div>

                                <div style="width: 100%; display: flex;">
                                        <div style="width: 98%; margin-right: 2%;">
                                                <label class="labelwp">Planned</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="direcT_COST_planned"
                                                                       >
                                                        </div>
                                                </div>
                                        </div>

                                        <div style="width: 98%">
                                                <label class="labelwp">Actual</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="direcT_COST_Actual"
                                                                        >
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div style="width: 30%">
                                <div style="font-weight: 500; margin-bottom: 5px">
                                        <span>DIRECT COST</span>
                                </div>

                                <div style="width: 100%; display: flex;">

                                        <div style="width: 98%; margin-right: 2%;">
                                                <label class="labelwp">Planned</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="indirecT_COST_planned"
                                                                       >
                                                        </div>
                                                </div>
                                        </div>

                                        <div style="width: 98%">
                                                <label class="labelwp">Actual</label>
                                                <div style="display: flex;">
                                                        <div
                                                                style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 15px; padding: 7px 10px;">
                                                                <input type="number" class="inpute"
                                                                        formControlName="indirecT_COST_Actual"
                                                                        >
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <br><br>
                <div>
                        <div style="text-align: center;">
                                <button class="submitbtn">Save Production Cost</button>
                            </div>
                        <br>
                </div>

        </div>
        <div  class="wptablebox">
                <div class="apptable">
                    <table class="wptable" >
                        <thead >
                            <tr >
                                <th *ngFor=" keyvalue">
                                    {{d.key | titlecase}}
                                </th>
    
                            </tr>
                        </thead>
                        <tbody #myTbody >
                            <tr *ngFor=" keyvalue">
                                <td *ngFor="let x of y.value | keyvalue">
                                {{x.value}}
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm submitbtn" value={{y.value.id}}>Delete</button>
                                   
                                </td>
                            </tr>
    
                        
                        </tbody>
    
                    </table>
                </div>
            </div>
     
        <br>

</div>