<div
  style="
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3);
    padding: 20px;
  "
>
  <h1
    style="
      text-shadow: 1px 1px rgb(130, 23, 23);
      color: rgb(255, 157, 0);
      margin-left: 75%;
      font-size: 18px;
    "
  >
    Note:*All Fields are Mandatory
  </h1>
  <div
    style="
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      padding-bottom: 20px;
    "
  >
    <span style="font-size: 30px"
      >BUDGET PROPOSAL IN NAIRA AND DOLLAR COMPONENT</span
    >
  </div>
  <br />
  <hr size="10" />
  <div [formGroup]="budgetProposalForm">
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>Budget for Direct Exploration and Production Activities</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">NGN</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="budget_for_Direct_Exploration_and_Production_Activities_Naira"
                  [(ngModel)]="
                    budgetProposalBody.budget_for_Direct_Exploration_and_Production_Activities_Naira
                  "
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PROPOSAL_IN_NAIRA_AND_DOLLAR_COMPONENTs
                    )
                  "
                />
              </div>
            </div>
          </div>

          <div style="width: 98%">
            <label class="labelwp">USD</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="budget_for_Direct_Exploration_and_Production_Activities_Dollars"
                  [(ngModel)]="
                    budgetProposalBody.budget_for_Direct_Exploration_and_Production_Activities_Dollars
                  "
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PROPOSAL_IN_NAIRA_AND_DOLLAR_COMPONENTs
                    )
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>Budget for other Activities</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <br />
            <label class="labelwp">NGN</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="budget_for_other_Activities_Naira"
                  [(ngModel)]="
                    budgetProposalBody.budget_for_other_Activities_Naira
                  "
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PROPOSAL_IN_NAIRA_AND_DOLLAR_COMPONENTs
                    )
                  "
                />
              </div>
            </div>
          </div>

          <div style="width: 98%">
            <br />
            <label class="labelwp">USD</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="budget_for_other_Activities_Dollars"
                  [(ngModel)]="
                    budgetProposalBody.budget_for_other_Activities_Dollars
                  "
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PROPOSAL_IN_NAIRA_AND_DOLLAR_COMPONENTs
                    )
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          (click)="saveBudgetProposal()"
          [attr.disabled]="
            isEditable(SBUTABLE.BUDGET_PROPOSAL_IN_NAIRA_AND_DOLLAR_COMPONENTs)
          "
        >
          Update Budget Component (USD & NGN)
        </button>
      </div>
      <br />
    </div>
  </div>
  <div *ngIf="isTabVisible" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr *ngFor="let h of columnHeader">
            <th *ngFor="let d of h | keyvalue">
              {{ d.key | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody #myTbody *ngFor="let item of columnValue">
          <tr *ngFor="let y of item | keyvalue">
            <td *ngFor="let x of y.value | keyvalue">
              {{ x.value }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_Budget($event)"
                value="{{ y.value.id }}"
                [attr.disabled]="
                  isEditable(
                    SBUTABLE.BUDGET_PROPOSAL_IN_NAIRA_AND_DOLLAR_COMPONENTs
                  )
                "
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <hr size="10" />
  <br /><br />
  <div [formGroup]="capexForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(6, 6, 6);
      "
    >
      <span>CAPEX Items</span>
    </div>
    <hr size="5" />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Item Description</label>
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              padding: 5px;
              border-radius: 20px;
            "
          >
            <select
              class="input"
              type="inpute"
              formControlName="item_Description"
              [(ngModel)]="capexOpexBody.item_Description"
              [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
            >
              <option selected disabled>---- Please Select Item ----</option>
              <option value="Acquisition">Acquisition</option>
              <option value="Processing">Processing</option>
              <option value="Reprocessing">Reprocessing</option>
              <option value="Exploratory Well Drilling">
                Exploratory Well Drilling
              </option>
              <option value="Appraisal Well Drilling">
                Appraisal Well Drilling
              </option>
              <option value="Development Well Drilling">
                Development Well Drilling
              </option>
              <option value="Workover Operations">Workover Operations</option>
              <option value="Completions">Completions</option>
              <option value="Flowlines">Flowlines</option>
              <option value="Pipelines">Pipelines</option>
              <option value="Generators">Generators</option>
              <option value="Turbines Compressors">Turbines Compressors</option>
              <option value="Buildings">Buildings</option>
              <option value="Civil Works">Civil Works</option>
              <option value="Other Costs">Other Costs</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin-top: auto">
        <label class="labelwp">(NGN)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="naira"
              [(ngModel)]="capexOpexBody.naira"
              [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin-top: auto">
        <label class="labelwp">(USD)</label>
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="dollar"
              [(ngModel)]="capexOpexBody.dollar"
              [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin-top: auto">
        <label class="labelwp">(USD) EQUIVALENT (OFF. EXG RATE)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="dollar_equivalent"
              [(ngModel)]="capexOpexBody.dollar_equivalent"
              [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin-top: auto">
        <label class="labelwp">Remarks</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <textarea
              type="number"
              rows="3"
              class="inpute"
              formControlName="remarks"
              [(ngModel)]="capexOpexBody.remarks"
              [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
            ></textarea>
          </div>
        </div>
      </div>
    </div>

    <br />
    <div style="text-align: center">
      <button
        class="submitbtn"
        (click)="saveOpex()"
        [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
      >
        Update Capex Items
      </button>
    </div>
  </div>
  <hr size="10" />
  <br /><br />
  <div [formGroup]="OpexForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(6, 6, 6);
      "
    >
      <span>OPEX Items</span>
    </div>
    <hr size="5" />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Item Description</label>
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              padding: 5px;
              border-radius: 20px;
            "
          >
            <select
              class="input"
              type="inpute"
              formControlName="item_Description"
              [(ngModel)]="capexOpexBody.item_Description"
              [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
            >
              <option selected disabled>---- Please Select Item ----</option>
              <option value="Variable Cost">Variable Cost</option>
              <option value="Fixed Cost">Fixed Cost</option>
              <option value="Overheads">Overheads</option>
              <option value="Repairs and Maintenance Cost">
                Repairs and Maintenance Cost
              </option>
              <option value="General Expenses">General Expenses</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin-top: auto">
        <label class="labelwp">(NGN)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="naira"
              [(ngModel)]="capexOpexBody.naira"
              [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin-top: auto">
        <label class="labelwp">(USD)</label>
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="dollar"
              [(ngModel)]="capexOpexBody.dollar"
              [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin-top: auto">
        <label class="labelwp">(USD) EQUIVALENT (OFF. EXG RATE)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="dollar_equivalent"
              [(ngModel)]="capexOpexBody.dollar_equivalent"
              [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin-top: auto">
        <label class="labelwp">Remarks</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <textarea
              type="number"
              rows="3"
              class="inpute"
              formControlName="remarks"
              [(ngModel)]="capexOpexBody.remarks"
              [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
            ></textarea>
          </div>
        </div>
      </div>
    </div>

    <br />
    <div style="text-align: center">
      <button
        class="submitbtn"
        (click)="saveOpex()"
        [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
      >
        Update Opex Items
      </button>
    </div>
  </div>
  <div *ngIf="isTabVisible_2" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr *ngFor="let h of columnHeader_2">
            <th *ngFor="let d of h | keyvalue">
              {{ d.key | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody #myTbody *ngFor="let item of columnValue_2">
          <tr *ngFor="let y of item | keyvalue">
            <td *ngFor="let x of y.value | keyvalue">
              {{ x.value }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_Opex($event)"
                value="{{ y.value.id }}"
                [attr.disabled]="isEditable(SBUTABLE.BUDGET_PROPOSAL_OPEXs)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br /><br />
<div style="text-align: center">
  <button
    [routerLink]="[
      '/' + genk.company,
      genk.workprogram,
      'step3',
      'oilandgasfacilitymaintenance'
    ]"
    class="nextbtn"
  >
    Next
  </button>
</div>
