<div
  style="
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3);
    padding: 20px;
  "
>
  <h1
    style="
      text-shadow: 1px 1px rgb(130, 23, 23);
      color: rgb(255, 157, 0);
      margin-left: 75%;
      font-size: 18px;
    "
  >
    Note:*All Fields are Mandatory
  </h1>
  <!-- <div
    style="
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      padding-bottom: 20px;
    "
  >
    <span>BUDGET PERFORMANCE</span>
  </div>
  <br />
  <hr size="10" />
  <div
    [formGroup]="budgetActualExpenditureForm"
    style="display: flex; width: 100%; justify-content: space-between"
  >
    <div style="width: 30%">
      <div style="font-weight: 500; margin-bottom: 5px">
        <span>Budget (Direct Exploration & Production Activities)</span>
      </div>

      <div style="width: 100%; display: flex">
        <div style="width: 98%; margin-right: 2%">
          <label class="labelwp">NGN</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="budget_for_Direct_Exploration_and_Production_Activities_NGN"
                [(ngModel)]="
                  budgetBody.budget_for_Direct_Exploration_and_Production_Activities_NGN
                "
                [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
              />
            </div>
          </div>
        </div>

        <div style="width: 98%">
          <label class="labelwp">USD</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="budget_for_Direct_Exploration_and_Production_Activities_USD"
                [(ngModel)]="
                  budgetBody.budget_for_Direct_Exploration_and_Production_Activities_USD
                "
                [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <div style="font-weight: 500; margin-bottom: 5px">
        <span>Budget for other Activities(NGN and US$)</span>
      </div>

      <div style="width: 100%; display: flex">
        <div style="width: 98%; margin-right: 2%">
          <label class="labelwp">NGN</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="budget_for_other_Activities_NGN"
                [(ngModel)]="budgetBody.budget_for_other_Activities_NGN"
                [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
              />
            </div>
          </div>
        </div>

        <div style="width: 98%">
          <label class="labelwp">USD</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="budget_for_other_Activities_USD"
                [(ngModel)]="budgetBody.budget_for_other_Activities_USD"
                [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <div style="font-weight: 500; margin-bottom: 5px">
        <span>Equivalent Naira and Dollar Component</span>
      </div>

      <div style="width: 100%; display: flex">
        <div style="width: 98%; margin-right: 2%">
          <label class="labelwp">NGN</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="equivalent_Naira_and_Dollar_Component_NGN"
                [(ngModel)]="
                  budgetBody.equivalent_Naira_and_Dollar_Component_NGN
                "
                [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
              />
            </div>
          </div>
        </div>

        <div style="width: 98%">
          <label class="labelwp">USD</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="equivalent_Naira_and_Dollar_Component_USD"
                [(ngModel)]="
                  budgetBody.equivalent_Naira_and_Dollar_Component_USD
                "
                [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div>
    <div style="text-align: center">
      <button
        class="submitbtn"
        (click)="saveBudgetActualExpenditure()"
        [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
      >
        Save Production Cost
      </button>
    </div>
    <br />
  </div>
  <div *ngIf="isTabVisible" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr *ngFor="let h of columnHeader">
            <th *ngFor="let d of h | keyvalue">
              {{ d.key | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody #myTbody *ngFor="let item of columnValue">
          <tr *ngFor="let y of item | keyvalue">
            <td *ngFor="let x of y.value | keyvalue">
              {{ x.value }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_Budget($event)"
                value="{{ y.value.id }}"
                [attr.disabled]="isEditable(SBUTABLE.ROYALTYs)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  <br />

  <hr size="10" />
  <div [formGroup]="exploratoryActivitiesForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(2, 2, 2);
        color: rgb(67, 183, 67);
        text-shadow: rgb(227, 255, 192);
      "
    >
      <span
        style="
          text-align: start;
          font-size: 15px;
          font-weight: 30px;
          padding-bottom: 20px;
        "
      ></span
      >EXPLORATORY ACTIVITIES
    </div>
    <hr size="5" />
    <div
      style="
        display: flex;
        justify-content: center;
        color: black;
        font-size: larger;
        font-weight: 600;
      "
    >
      <span>SEISMIC ACTIVITIES </span>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>ACQUISITION</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  class="inpute"
                  formControlName="aCQUISITION_planned"
                  [(ngModel)]="exploratoryBody.acquisitioN_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_EXPLORATORY_ACTIVITIEs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isExploratoryActivitiesFormSubmitted &&
                    eb['aCQUISITION_planned']?.invalid) ||
                  (eb['aCQUISITION_planned']?.dirty &&
                    eb['aCQUISITION_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="aCQUISITION_Actual"
                  [(ngModel)]="exploratoryBody.acquisitioN_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_EXPLORATORY_ACTIVITIEs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>PROCESSING</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="pROCESSING_planned"
                  [(ngModel)]="exploratoryBody.processinG_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_EXPLORATORY_ACTIVITIEs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isExploratoryActivitiesFormSubmitted &&
                    eb['pROCESSING_planned']?.invalid) ||
                  (eb['pROCESSING_planned']?.dirty &&
                    eb['pROCESSING_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="pROCESSING_Actual"
                  [(ngModel)]="exploratoryBody.processinG_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_EXPLORATORY_ACTIVITIEs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>REPROCESSING</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="rEPROCESSING_planned"
                  [(ngModel)]="exploratoryBody.reprocessinG_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_EXPLORATORY_ACTIVITIEs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isExploratoryActivitiesFormSubmitted &&
                    eb['rEPROCESSING_planned']?.invalid) ||
                  (eb['rEPROCESSING_planned']?.dirty &&
                    eb['rEPROCESSING_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="rEPROCESSING_Actual"
                  [(ngModel)]="exploratoryBody.reprocessinG_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_EXPLORATORY_ACTIVITIEs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br />
    <hr size="5" />
    <div style="display: flex; justify-content: center; color: black">
      <span style="font-size: larger; font-weight: 600">DRILLING </span>
    </div>
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>EXPLORATION</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="eXPLORATION_planned"
                  [(ngModel)]="exploratoryBody.exploratioN_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_EXPLORATORY_ACTIVITIEs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isExploratoryActivitiesFormSubmitted &&
                    eb['eXPLORATION_planned']?.invalid) ||
                  (eb['eXPLORATION_planned']?.dirty &&
                    eb['eXPLORATION_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="eXPLORATION_Actual"
                  [(ngModel)]="exploratoryBody.exploratioN_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_EXPLORATORY_ACTIVITIEs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>APPRAISAL</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="aPPRAISAL_planned"
                  [(ngModel)]="exploratoryBody.appraisaL_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_EXPLORATORY_ACTIVITIEs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isExploratoryActivitiesFormSubmitted &&
                    eb['aPPRAISAL_planned']?.invalid) ||
                  (eb['aPPRAISAL_planned']?.dirty &&
                    eb['aPPRAISAL_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="aPPRAISAL_Actual"
                  [(ngModel)]="exploratoryBody.appraisaL_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_EXPLORATORY_ACTIVITIEs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          [style]="exploratoryActivitiesForm.invalid ? 'cursor: default' : ''"
          (click)="saveExploratory()"
          [attr.disabled]="
            isEditable(SBUTABLE.BUDGET_PERFORMANCE_EXPLORATORY_ACTIVITIEs)
          "
        >
          Save Exploratory
        </button>
      </div>
      <br />
    </div>

    <br />
  </div>

  <div *ngIf="budgetPerformanceExploratorys.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of eaColHeaderDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>

        <tbody #myTbody style="box-shadow: 4px 4px 12px 2px rgb(0, 0, 0, 0.3)">
          <tr *ngFor="let row of budgetPerformanceExploratorys">
            <td *ngFor="let h of eaColHeaderDef">
              {{ row[h.columnDef] }}
            </td>
            <button
              class="btn btn-danger btn-sm submitbtn"
              (click)="Delete_Exploratory(row)"
              [attr.disabled]="
                isEditable(
                  SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs
                )
              "
            >
              Delete
            </button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <hr size="10" />
  <div [formGroup]="developmentDrillingForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(4, 4, 4);
      "
    >
      <span>DEVELOPMENT DRILLING ACTIVITIES</span>
    </div>
    <hr size="5" />
    <br />
    <div style="display: flex; justify-content: center; color: black">
      <span style="font-size: larger; font-weight: 600"
        >DRILLING, WORKOVER AND COMPLETION
      </span>
    </div>
    <br />
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>DEVELOPMENT</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="dEVELOPMENT_planned"
                  [(ngModel)]="developmentDrillingBody.developmenT_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_DEVELOPMENT_DRILLING_ACTIVITIEs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isDevelopmentDrillingFormSubmitted &&
                    dd['dEVELOPMENT_planned']?.invalid) ||
                  (dd['dEVELOPMENT_planned']?.dirty &&
                    dd['dEVELOPMENT_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="dEVELOPMENT_Actual"
                  [(ngModel)]="developmentDrillingBody.developmenT_Actual"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_DEVELOPMENT_DRILLING_ACTIVITIEs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isDevelopmentDrillingFormSubmitted &&
                    dd['dEVELOPMENT_Actual']?.invalid) ||
                  (dd['dEVELOPMENT_Actual']?.dirty &&
                    dd['dEVELOPMENT_Actual']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>WORKOVER</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="wORKOVER_planned"
                  [(ngModel)]="developmentDrillingBody.workoveR_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_DEVELOPMENT_DRILLING_ACTIVITIEs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isDevelopmentDrillingFormSubmitted &&
                    dd['wORKOVER_planned']?.invalid) ||
                  (dd['wORKOVER_planned']?.dirty &&
                    dd['wORKOVER_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="wORKOVER_Actual"
                  [(ngModel)]="developmentDrillingBody.workoveR_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_DEVELOPMENT_DRILLING_ACTIVITIEs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>COMPLETION</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="cOMPLETION_planned"
                  [(ngModel)]="developmentDrillingBody.completioN_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_DEVELOPMENT_DRILLING_ACTIVITIEs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isDevelopmentDrillingFormSubmitted &&
                    dd['cOMPLETION_planned']?.invalid) ||
                  (dd['cOMPLETION_planned']?.dirty &&
                    dd['cOMPLETION_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="cOMPLETION_Actual"
                  [(ngModel)]="developmentDrillingBody.completioN_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_DEVELOPMENT_DRILLING_ACTIVITIEs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          [style]="developmentDrillingForm.invalid ? 'cursor: default' : ''"
          (click)="saveDevelopmentDrilling()"
          [attr.disabled]="
            isEditable(
              SBUTABLE.BUDGET_PERFORMANCE_DEVELOPMENT_DRILLING_ACTIVITIEs
            )
          "
        >
          Save Development Drilling Activities
        </button>
      </div>
      <br />
    </div>
  </div>

  <div *ngIf="developmentDrillings.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of ddaColHeaderDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of developmentDrillings">
            <td *ngFor="let colDef of ddaColHeaderDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm"
                (click)="Delete_Development(row)"
                [attr.disabled]="
                  isEditable(
                    SBUTABLE.BUDGET_PERFORMANCE_DEVELOPMENT_DRILLING_ACTIVITIEs
                  )
                "
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />

  <hr size="10" />

  <br />
  <form [formGroup]="facilitiesDevelopmentForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(6, 6, 6);
      "
    >
      <span>FACILITIES DEVELOPMENT PROJECT</span>
    </div>
    <hr size="5" />
    <br />
    <div style="display: flex; justify-content: center; color: black">
      <span style="font-size: larger; font-weight: 600"
        >BUDGET FOR THE STAGES IN FACILITIES DEVELOPMENT
      </span>
    </div>
    <br />
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>CONCEPT</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="concepT_planned"
                  [(ngModel)]="facilitiesDevelopmentBody.concepT_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isFacilitiesDevelopmentFormSubmitted &&
                    fd['concepT_planned']?.invalid) ||
                  (fd['concepT_planned']?.dirty &&
                    fd['concepT_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="concepT_Actual"
                  [(ngModel)]="facilitiesDevelopmentBody.concepT_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>FEED</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="feeD_planned"
                  [(ngModel)]="facilitiesDevelopmentBody.feeD_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isFacilitiesDevelopmentFormSubmitted &&
                    fd['feeD_planned']?.invalid) ||
                  (fd['feeD_planned']?.dirty && fd['feeD_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="feeD_COST_Actual"
                  [(ngModel)]="facilitiesDevelopmentBody.feeD_COST_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>DETAILED ENGINEERING</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="detaileD_ENGINEERING_planned"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.detaileD_ENGINEERING_planned
                  "
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isFacilitiesDevelopmentFormSubmitted &&
                    fd['detaileD_ENGINEERING_planned']?.invalid) ||
                  (fd['detaileD_ENGINEERING_planned']?.dirty &&
                    fd['detaileD_ENGINEERING_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="detaileD_ENGINEERING_Actual"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.detaileD_ENGINEERING_Actual
                  "
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>PROCUREMENT</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="procuremenT_planned"
                  [(ngModel)]="facilitiesDevelopmentBody.procuremenT_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isFacilitiesDevelopmentFormSubmitted &&
                    fd['procuremenT_planned']?.invalid) ||
                  (fd['procuremenT_planned']?.dirty &&
                    fd['procuremenT_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="procuremenT_Actual"
                  [(ngModel)]="facilitiesDevelopmentBody.procuremenT_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>CONSTRUCTION/ FABRICATION</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="constructioN_FABRICATION_planned"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.constructioN_FABRICATION_planned
                  "
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isFacilitiesDevelopmentFormSubmitted &&
                    fd['constructioN_FABRICATION_planned']?.invalid) ||
                  (fd['constructioN_FABRICATION_planned']?.dirty &&
                    fd['constructioN_FABRICATION_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="constructioN_FABRICATION_Actual"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.constructioN_FABRICATION_Actual
                  "
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>INSTALLATION</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="installatioN_planned"
                  [(ngModel)]="facilitiesDevelopmentBody.installatioN_planned"
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isFacilitiesDevelopmentFormSubmitted &&
                    fd['installatioN_planned']?.invalid) ||
                  (fd['installatioN_planned']?.dirty &&
                    fd['installatioN_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="installatioN_Actual"
                  [(ngModel)]="facilitiesDevelopmentBody.installatioN_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>UPGRADE/ MAINTENANCE</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="upgradE_MAINTENANCE_planned"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.upgradE_MAINTENANCE_planned
                  "
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isFacilitiesDevelopmentFormSubmitted &&
                    fd['upgradE_MAINTENANCE_planned']?.invalid) ||
                  (fd['upgradE_MAINTENANCE_planned']?.dirty &&
                    fd['upgradE_MAINTENANCE_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="upgradE_MAINTENANCE_Actual"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.upgradE_MAINTENANCE_Actual
                  "
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>DECOMMISSIONING AND ABANDONMENT </span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp"></label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="decommissioninG_ABANDONMENT"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.decommissioninG_ABANDONMENT
                  "
                  [attr.disabled]="
                    isEditable(
                      SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs
                    )
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isFacilitiesDevelopmentFormSubmitted &&
                    fd['decommissioninG_ABANDONMENT']?.invalid) ||
                  (fd['decommissioninG_ABANDONMENT']?.dirty &&
                    fd['decommissioninG_ABANDONMENT']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          [style]="facilitiesDevelopmentForm.invalid ? 'cursor: default' : ''"
          (click)="saveFacilitiesDevelopment()"
          [attr.disabled]="
            isEditable(
              SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs
            )
          "
        >
          Save Facilities Development
        </button>
      </div>
      <br />
    </div>
  </form>
  <div *ngIf="facilitiesDevelopments.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of fdColHeaderDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>

        <tbody #myTbody style="box-shadow: 4px 4px 12px 2px rgb(0, 0, 0, 0.3)">
          <tr *ngFor="let row of facilitiesDevelopments">
            <td *ngFor="let h of fdColHeaderDef">
              {{ row[h.columnDef] }}
            </td>
            <button
              class="btn btn-danger btn-sm"
              (click)="Delete_Facility($event)"
              [attr.disabled]="
                isEditable(
                  SBUTABLE.BUDGET_PERFORMANCE_FACILITIES_DEVELOPMENT_PROJECTs
                )
              "
            >
              Delete
            </button>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <hr size="10" />

  <br />
  <div [formGroup]="productionCostForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(3, 3, 3);
      "
    >
      <span>PRODUCTION COST</span>
    </div>
    <hr size="5" />
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>DIRECT COST</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="direcT_COST_planned"
                  [(ngModel)]="productionCostBody.direcT_COST_planned"
                  [attr.disabled]="
                    isEditable(SBUTABLE.BUDGET_PERFORMANCE_PRODUCTION_COSTs)
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isProductionCostFormSubmitted &&
                    pc['direcT_COST_planned']?.invalid) ||
                  (pc['direcT_COST_planned']?.dirty &&
                    pc['direcT_COST_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="direcT_COST_Actual"
                  [(ngModel)]="productionCostBody.direcT_COST_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_PRODUCTION_COSTs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>INDIRECT COST</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="indirecT_COST_planned"
                  [(ngModel)]="productionCostBody.indirecT_COST_planned"
                  [attr.disabled]="
                    isEditable(SBUTABLE.BUDGET_PERFORMANCE_PRODUCTION_COSTs)
                  "
                />
              </div>
            </div>

            <div class="eroce">
              <span
                *ngIf="
                  (isProductionCostFormSubmitted &&
                    pc['indirecT_COST_planned']?.invalid) ||
                  (pc['indirecT_COST_planned']?.dirty &&
                    pc['indirecT_COST_planned']?.invalid)
                "
              >
                This field is required!
              </span>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="indirecT_COST_Actual"
                  [(ngModel)]="productionCostBody.indirecT_COST_Actual"
                  [attr.disabled]="isEditable(SBUTABLE.BUDGET_PERFORMANCE_PRODUCTION_COSTs)"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          [style]="productionCostForm.invalid ? 'cursor: default' : ''"
          (click)="saveProductionCost()"
          [attr.disabled]="
            isEditable(SBUTABLE.BUDGET_PERFORMANCE_PRODUCTION_COSTs)
          "
        >
          Save Production Cost
        </button>
      </div>
      <br />
    </div>
  </div>

  <div *ngIf="budgetPerformanceProductionCosts.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of pcColHeaderDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of budgetPerformanceProductionCosts">
            <td *ngFor="let colDef of pcColHeaderDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm"
                (click)="Delete_Production(row)"
                [attr.disabled]="
                  isEditable(SBUTABLE.BUDGET_PERFORMANCE_PRODUCTION_COSTs)
                "
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
</div>

<br /><br />
<div style="text-align: center">
  <button
    [routerLink]="[
      '/' + genk.company,
      genk.workprogram,
      'step3',
      'budgetproposal'
    ]"
    class="nextbtn"
  >
    Next
  </button>
</div>
