<div
  style="
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3);
    padding: 20px;
  "
>
  <h1
    style="
      text-shadow: 1px 1px rgb(130, 23, 23);
      color: rgb(255, 157, 0);
      margin-left: 75%;
      font-size: 18px;
    "
  >
    Note:*All Fields are Mandatory
  </h1>
  <!-- <div
    style="
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      padding-bottom: 20px;
    "
  >
    <span>BUDGET PERFORMANCE</span>
  </div>
  <br />
  <hr size="10" />
  <div
    [formGroup]="budgetActualExpenditureForm"
    style="display: flex; width: 100%; justify-content: space-between"
  >
    <div style="width: 30%">
      <div style="font-weight: 500; margin-bottom: 5px">
        <span>Budget (Direct Exploration & Production Activities)</span>
      </div>

      <div style="width: 100%; display: flex">
        <div style="width: 98%; margin-right: 2%">
          <label class="labelwp">NGN</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="budget_for_Direct_Exploration_and_Production_Activities_NGN"
                [(ngModel)]="
                  budgetBody.budget_for_Direct_Exploration_and_Production_Activities_NGN
                "
                [attr.disabled]="disableForm ? true : null"
              />
            </div>
          </div>
        </div>

        <div style="width: 98%">
          <label class="labelwp">USD</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="budget_for_Direct_Exploration_and_Production_Activities_USD"
                [(ngModel)]="
                  budgetBody.budget_for_Direct_Exploration_and_Production_Activities_USD
                "
                [attr.disabled]="disableForm ? true : null"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <div style="font-weight: 500; margin-bottom: 5px">
        <span>Budget for other Activities(NGN and US$)</span>
      </div>

      <div style="width: 100%; display: flex">
        <div style="width: 98%; margin-right: 2%">
          <label class="labelwp">NGN</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="budget_for_other_Activities_NGN"
                [(ngModel)]="budgetBody.budget_for_other_Activities_NGN"
                [attr.disabled]="disableForm ? true : null"
              />
            </div>
          </div>
        </div>

        <div style="width: 98%">
          <label class="labelwp">USD</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="budget_for_other_Activities_USD"
                [(ngModel)]="budgetBody.budget_for_other_Activities_USD"
                [attr.disabled]="disableForm ? true : null"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 30%">
      <div style="font-weight: 500; margin-bottom: 5px">
        <span>Equivalent Naira and Dollar Component</span>
      </div>

      <div style="width: 100%; display: flex">
        <div style="width: 98%; margin-right: 2%">
          <label class="labelwp">NGN</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="equivalent_Naira_and_Dollar_Component_NGN"
                [(ngModel)]="
                  budgetBody.equivalent_Naira_and_Dollar_Component_NGN
                "
                [attr.disabled]="disableForm ? true : null"
              />
            </div>
          </div>
        </div>

        <div style="width: 98%">
          <label class="labelwp">USD</label>
          <div style="display: flex">
            <div
              style="
                box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                width: 100%;
                border-radius: 15px;
                padding: 7px 10px;
              "
            >
              <input
                (keypress)="genk.restrictData($event)"
                (keyup)="genk.formatCurrency($event)"
                class="inpute"
                formControlName="equivalent_Naira_and_Dollar_Component_USD"
                [(ngModel)]="
                  budgetBody.equivalent_Naira_and_Dollar_Component_USD
                "
                [attr.disabled]="disableForm ? true : null"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div>
    <div style="text-align: center">
      <button
        class="submitbtn"
        (click)="saveBudgetActualExpenditure()"
        [attr.disabled]="disableForm ? true : null"
      >
        Save Production Cost
      </button>
    </div>
    <br />
  </div>
  <div *ngIf="isTabVisible" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr *ngFor="let h of columnHeader">
            <th *ngFor="let d of h | keyvalue">
              {{ d.key | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody #myTbody *ngFor="let item of columnValue">
          <tr *ngFor="let y of item | keyvalue">
            <td *ngFor="let x of y.value | keyvalue">
              {{ x.value }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_Budget($event)"
                value="{{ y.value.id }}"
                [attr.disabled]="disableForm ? true : null"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  <br />

  <hr size="10" />
  <div [formGroup]="exploratoryActivitiesForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(2, 2, 2);
        color: rgb(67, 183, 67);
        text-shadow: rgb(227, 255, 192);
      "
    >
      <span
        style="
          text-align: start;
          font-size: 15px;
          font-weight: 30px;
          padding-bottom: 20px;
        "
      ></span
      >EXPLORATORY ACTIVITIES
    </div>
    <hr size="5" />
    <div style="display: flex; justify-content: center; color: black">
      <span>SEISMIC ACTIVITIES </span>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>ACQUISITION</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  (keypress)="genk.restrictData($event)"
                  (keyup)="genk.formatCurrency($event)"
                  class="inpute"
                  formControlName="aCQUISITION_planned"
                  [(ngModel)]="exploratoryBody.acquisitioN_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="aCQUISITION_Actual"
                  [(ngModel)]="exploratoryBody.acquisitioN_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>PROCESSING</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="pROCESSING_planned"
                  [(ngModel)]="exploratoryBody.processinG_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="pROCESSING_Actual"
                  [(ngModel)]="exploratoryBody.processinG_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>REPROCESSING</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="rEPROCESSING_planned"
                  [(ngModel)]="exploratoryBody.reprocessinG_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="rEPROCESSING_Actual"
                  [(ngModel)]="exploratoryBody.reprocessinG_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br />
    <hr size="5" />
    <div style="display: flex; justify-content: center; color: black">
      <span>DRILLING </span>
    </div>
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>EXPLORATION</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="eXPLORATION_planned"
                  [(ngModel)]="exploratoryBody.exploratioN_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="eXPLORATION_Actual"
                  [(ngModel)]="exploratoryBody.exploratioN_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>APPRAISAL</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="aPPRAISAL_planned"
                  [(ngModel)]="exploratoryBody.appraisaL_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="aPPRAISAL_Actual"
                  [(ngModel)]="exploratoryBody.appraisaL_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          (click)="saveExploratory()"
          [attr.disabled]="disableForm ? true : null"
        >
          Save Exploratory
        </button>
      </div>
      <br />
    </div>

    <br />
  </div>
  <div *ngIf="isTabVisible_2" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr *ngFor="let h of columnHeader_2">
            <th *ngFor="let d of h | keyvalue">
              {{ d.key | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody #myTbody *ngFor="let item of columnValue_2">
          <tr *ngFor="let y of item | keyvalue">
            <td *ngFor="let x of y.value | keyvalue">
              {{ x.value }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_Exploratory($event)"
                value="{{ y.value.id }}"
                [attr.disabled]="disableForm ? true : null"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <hr size="10" />
  <div [formGroup]="developmentDrillingForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(4, 4, 4);
      "
    >
      <span>DEVELOPMENT DRILLING ACTIVITIES</span>
    </div>
    <hr size="5" />
    <br />
    <div style="display: flex; justify-content: center; color: black">
      <span>DRILLING, WORKOVER AND COMPLETION </span>
    </div>
    <br />
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>DEVELOPMENT</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="dEVELOPMENT_planned"
                  [(ngModel)]="developmentDrillingBody.developmenT_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="dEVELOPMENT_Actual"
                  [(ngModel)]="developmentDrillingBody.developmenT_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>WORKOVER</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="wORKOVER_planned"
                  [(ngModel)]="developmentDrillingBody.workoveR_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="wORKOVER_Actual"
                  [(ngModel)]="developmentDrillingBody.workoveR_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>COMPLETION</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="cOMPLETION_planned"
                  [(ngModel)]="developmentDrillingBody.completioN_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="cOMPLETION_Actual"
                  [(ngModel)]="developmentDrillingBody.completioN_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          (click)="saveDevelopmentDrilling()"
          [attr.disabled]="disableForm ? true : null"
        >
          Save Development Drilling Activities
        </button>
      </div>
      <br />
    </div>
  </div>
  <div *ngIf="isTabVisible_3" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr *ngFor="let h of columnHeader_3">
            <th *ngFor="let d of h | keyvalue">
              {{ d.key | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody #myTbody *ngFor="let item of columnValue_3">
          <tr *ngFor="let y of item | keyvalue">
            <td *ngFor="let x of y.value | keyvalue">
              {{ x.value }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_Development($event)"
                value="{{ y.value.id }}"
                [attr.disabled]="disableForm ? true : null"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />

  <hr size="10" />

  <br />
  <div [formGroup]="facilitiesDevelopmentForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(6, 6, 6);
      "
    >
      <span>FACILITIES DEVELOPMENT PROJECT</span>
    </div>
    <hr size="5" />
    <br />
    <div style="display: flex; justify-content: center; color: black">
      <span>BUDGET FOR THE STAGES IN FACILITIES DEVELOPMENT </span>
    </div>
    <br />
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>CONCEPT</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="concepT_planned"
                  [(ngModel)]="facilitiesDevelopmentBody.concepT_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="concepT_Actual"
                  [(ngModel)]="facilitiesDevelopmentBody.concepT_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>FEED</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="feeD_planned"
                  [(ngModel)]="facilitiesDevelopmentBody.feeD_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="feeD_COST_Actual"
                  [(ngModel)]="facilitiesDevelopmentBody.feeD_COST_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>DETAILED ENGINEERING</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="detaileD_ENGINEERING_planned"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.detaileD_ENGINEERING_planned
                  "
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="detaileD_ENGINEERING_Actual"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.detaileD_ENGINEERING_Actual
                  "
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>PROCUREMENT</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="procuremenT_planned"
                  [(ngModel)]="facilitiesDevelopmentBody.procuremenT_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="procuremenT_Actual"
                  [(ngModel)]="facilitiesDevelopmentBody.procuremenT_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>CONSTRUCTION/ FABRICATION</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="constructioN_FABRICATION_planned"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.constructioN_FABRICATION_planned
                  "
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="constructioN_FABRICATION_Actual"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.constructioN_FABRICATION_Actual
                  "
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>INSTALLATION</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="installatioN_planned"
                  [(ngModel)]="facilitiesDevelopmentBody.installatioN_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="installatioN_Actual"
                  [(ngModel)]="facilitiesDevelopmentBody.installatioN_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>UPGRADE/ MAINTENANCE</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="upgradE_MAINTENANCE_planned"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.upgradE_MAINTENANCE_planned
                  "
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="upgradE_MAINTENANCE_Actual"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.upgradE_MAINTENANCE_Actual
                  "
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>DECOMMISSIONING AND ABANDONMENT </span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp"></label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="decommissioninG_ABANDONMENT"
                  [(ngModel)]="
                    facilitiesDevelopmentBody.decommissioninG_ABANDONMENT
                  "
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          (click)="saveFacilitiesDevelopment()"
          [attr.disabled]="disableForm ? true : null"
        >
          Save Facilities Development
        </button>
      </div>
      <br />
    </div>
  </div>
  <div *ngIf="isTabVisible_4" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr *ngFor="let h of columnHeader_4">
            <th *ngFor="let d of h | keyvalue">
              {{ d.key | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody #myTbody *ngFor="let item of columnValue_4">
          <tr *ngFor="let y of item | keyvalue">
            <td *ngFor="let x of y.value | keyvalue">
              {{ x.value }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_Facility($event)"
                value="{{ y.value.id }}"
                [attr.disabled]="disableForm ? true : null"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />

  <hr size="10" />

  <br />
  <div [formGroup]="productionCostForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(3, 3, 3);
      "
    >
      <span>PRODUCTION COST</span>
    </div>
    <hr size="5" />
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>DIRECT COST</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="direcT_COST_planned"
                  [(ngModel)]="productionCostBody.direcT_COST_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="direcT_COST_Actual"
                  [(ngModel)]="productionCostBody.direcT_COST_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>INDIRECT COST</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">Planned</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="indirecT_COST_planned"
                  [(ngModel)]="productionCostBody.indirecT_COST_planned"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div>

          <!-- <div style="width: 98%">
            <label class="labelwp">Actual</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="indirecT_COST_Actual"
                  [(ngModel)]="productionCostBody.indirecT_COST_Actual"
                  [attr.disabled]="disableForm ? true : null"
                />
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          (click)="saveProductionCost()"
          [attr.disabled]="disableForm ? true : null"
        >
          Save Production Cost
        </button>
      </div>
      <br />
    </div>
  </div>
  <div *ngIf="isTabVisible_5" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr *ngFor="let h of columnHeader_5">
            <th *ngFor="let d of h | keyvalue">
              {{ d.key | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody #myTbody *ngFor="let item of columnValue_5">
          <tr *ngFor="let y of item | keyvalue">
            <td *ngFor="let x of y.value | keyvalue">
              {{ x.value }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_Production($event)"
                value="{{ y.value.id }}"
                [attr.disabled]="disableForm ? true : null"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
</div>

<br /><br />
<div style="text-align: center">
  <button
    [routerLink]="[
      '/' + genk.company,
      genk.workprogram,
      'step3',
      'budgetproposal'
    ]"
    class="nextbtn"
  >
    Next
  </button>
</div>
