<div
  style="
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3);
    padding: 20px;
  "
>
  <h1
    style="
      text-shadow: 1px 1px rgb(130, 23, 23);
      color: rgb(255, 157, 0);
      margin-left: 75%;
      font-size: 18px;
    "
  >
    Note:*All Fields are Mandatory
  </h1>
  <div
    style="
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      padding-bottom: 20px;
    "
  >
    <span>OIL AND GAS FACILITY MAINTENANCE</span>
  </div>
  <br />
  <hr size="10" />
  <br /><br />
  <div [formGroup]="oilAndGasForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(6, 6, 6);
      "
    >
      <span>FACILITY DEVELOPMENT PROJECTS</span>
    </div>
    <hr size="5" />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp"
          >Please provide values for Actual and Proposed year</label
        >
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              padding: 5px;
              border-radius: 20px;
            "
          >
            <select
              class="input"
              type="inpute"
              formControlName="actual_Proposed"
              [(ngModel)]="oilAndGasBody.actual_Proposed"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            >
              <option selected disabled>
                ---- Please Select an Option ----
              </option>
              <option value="Actual Year">Actual</option>
              <option value="Proposed Year">Proposed</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br />

    <!-- <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Major Projects</label>
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              padding: 5px;
              border-radius: 20px;
            "
          >
            <select
              class="input"
              type="inpute"
              formControlName="major_Projects"
              [(ngModel)]="oilAndGasBody.major_Projects"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            >
              <option selected disabled>
                ---- Please Select an Option ----
              </option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>
      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Name</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="name"
              [(ngModel)]="oilAndGasBody.name"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Objective / Drivers</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="objective_Drivers_"
              [(ngModel)]="oilAndGasBody.objective_Drivers_"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>
    </div> -->
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Completion Status (%)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="completion_Status"
              [(ngModel)]="oilAndGasBody.completion_Status"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Conceptual</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="conceptual"
              [(ngModel)]="oilAndGasBody.conceptual"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Feed</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="feed"
              [(ngModel)]="oilAndGasBody.feed"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Detailed Engineering</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="detailed_Engineering"
              [(ngModel)]="oilAndGasBody.detailed_Engineering"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Construction / Commissioning</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="construction_Commissioning_"
              [(ngModel)]="oilAndGasBody.construction_Commissioning_"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Product Offtakers</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="production_Product_Offtakers"
              [(ngModel)]="oilAndGasBody.production_Product_Offtakers"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Challenges</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="challenges"
              [(ngModel)]="oilAndGasBody.challenges"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Project Timeline</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="project_Timeline"
              [(ngModel)]="oilAndGasBody.project_Timeline"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Approval / License / Permits</label>
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              padding: 5px;
              border-radius: 20px;
            "
          >
            <select
              class="input"
              type="inpute"
              formControlName="approval_License_Permits"
              [(ngModel)]="oilAndGasBody.approval_License_Permits"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            >
              <option selected disabled>
                ---- Please Select an Option ----
              </option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin: auto, 0, 0">
        <label class="labelwp">New Technology</label>
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              padding: 5px;
              border-radius: 20px;
            "
          >
            <select
              class="input"
              type="inpute"
              formControlName="new_Technology_"
              [(ngModel)]="oilAndGasBody.new_Technology_"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            >
              <option selected disabled>
                ---- Please Select an Option ----
              </option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Has it been adopted by NUPRC?</label>
        <div style="width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              padding: 5px;
              border-radius: 20px;
            "
          >
            <select
              class="input"
              type="inpute"
              formControlName="has_it_been_adopted_by_DPR_"
              [(ngModel)]="oilAndGasBody.has_it_been_adopted_by_DPR_"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            >
              <option selected disabled>
                ---- Please Select an Option ----
              </option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>
      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Comment</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="comment_"
              [(ngModel)]="oilAndGasBody.comment_"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin: auto, 0, 0">
        <label class="labelwp">Planned, ongoing and routine maintenance?</label>
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              padding: 5px;
              border-radius: 20px;
            "
          >
            <select
              class="input"
              type="inpute"
              formControlName="planned_ongoing_and_routine_maintenance"
              [(ngModel)]="
                oilAndGasBody.planned_ongoing_and_routine_maintenance
              "
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            >
              <option selected disabled>
                ---- Please Select an Option ----
              </option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>
      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Project Stage</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="project_Stage"
              [(ngModel)]="oilAndGasBody.project_Stage"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp"> Nigerian Content Value</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="nigerian_Content_Value"
              [(ngModel)]="oilAndGasBody.nigerian_Content_Value"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>BUDGET PERFORMANCE ( Actual Expenditure)</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">NGN</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="actual_capital_expenditure_Current_year_NGN"
                  [(ngModel)]="
                    oilAndGasBody.actual_capital_expenditure_Current_year_NGN
                  "
                  [attr.disabled]="
                    isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
                  "
                />
              </div>
            </div>
          </div>

          <div style="width: 98%">
            <label class="labelwp">USD</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="actual_capital_expenditure_Current_year_USD"
                  [(ngModel)]="
                    oilAndGasBody.actual_capital_expenditure_Current_year_USD
                  "
                  [attr.disabled]="
                    isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <div style="font-weight: 500; margin-bottom: 5px">
          <span>BUDGET PERFORMANCE ( Proposed Expenditure)</span>
        </div>

        <div style="width: 100%; display: flex">
          <div style="width: 98%; margin-right: 2%">
            <label class="labelwp">NGN</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="proposed_Capital_Expenditure_NGN"
                  [(ngModel)]="oilAndGasBody.proposed_Capital_Expenditure_NGN"
                  [attr.disabled]="
                    isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
                  "
                />
              </div>
            </div>
          </div>

          <div style="width: 98%">
            <label class="labelwp">USD</label>
            <div style="display: flex">
              <div
                style="
                  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
                  width: 100%;
                  border-radius: 15px;
                  padding: 7px 10px;
                "
              >
                <input
                  type="number"
                  class="inpute"
                  formControlName="proposed_Capital_Expenditure_USD"
                  [(ngModel)]="oilAndGasBody.proposed_Capital_Expenditure_USD"
                  [attr.disabled]="
                    isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          (click)="saveOilGas()"
          [attr.disabled]="
            isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
          "
        >
          Add Major Projects & Updates
        </button>
      </div>
      <br />
    </div>
  </div>

  <div *ngIf="oilAndGasProjects.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of oagpColHeaderDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of oilAndGasProjects">
            <td *ngFor="let colDef of oagpColHeaderDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_OilGas(row)"
                [attr.disabled]="
                  isEditable(SBUTABLE.FACILITIES_DMP_FACILITY_DEV_PROJECTSs)
                "
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr size="10" />
  <br /><br />

  <div [formGroup]="newTechnologyForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(3, 3, 3);
      "
    >
      <span>New Technology and Conformity Assessment</span>
    </div>
    <hr size="5" />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Name</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="name"
              [(ngModel)]="newTechnologyBody.name"
              [attr.disabled]="
                isEditable(SBUTABLE.NEW_TECHNOLOGY_AND_CONFORMITY_ASSESSMENTs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Objective</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="objective"
              [(ngModel)]="newTechnologyBody.objective"
              [attr.disabled]="
                isEditable(SBUTABLE.NEW_TECHNOLOGY_AND_CONFORMITY_ASSESSMENTs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Existing Alternatives</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="existing_Alternatives"
              [(ngModel)]="newTechnologyBody.existing_Alternatives"
              [attr.disabled]="
                isEditable(SBUTABLE.NEW_TECHNOLOGY_AND_CONFORMITY_ASSESSMENTs)
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin: auto, 0, 0">
        <label class="labelwp">NUPRC Consent/ Approval Status</label>
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              padding: 5px;
              border-radius: 20px;
            "
          >
            <select
              class="input"
              type="inpute"
              formControlName="dpR_Consent"
              [(ngModel)]="newTechnologyBody.dpR_Consent"
              [attr.disabled]="
                isEditable(SBUTABLE.NEW_TECHNOLOGY_AND_CONFORMITY_ASSESSMENTs)
              "
            >
              <option selected disabled>
                ---- Please Select an Option ----
              </option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>
      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Cost (USD)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="cost"
              [(ngModel)]="newTechnologyBody.cost"
              [attr.disabled]="
                isEditable(SBUTABLE.NEW_TECHNOLOGY_AND_CONFORMITY_ASSESSMENTs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Benefits</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="benefits"
              [(ngModel)]="newTechnologyBody.benefits"
              [attr.disabled]="
                isEditable(SBUTABLE.NEW_TECHNOLOGY_AND_CONFORMITY_ASSESSMENTs)
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Challenges</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="challenges"
              [(ngModel)]="newTechnologyBody.challenges"
              [attr.disabled]="
                isEditable(SBUTABLE.NEW_TECHNOLOGY_AND_CONFORMITY_ASSESSMENTs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Timeline</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="timeline"
              [(ngModel)]="newTechnologyBody.timeline"
              [attr.disabled]="
                isEditable(SBUTABLE.NEW_TECHNOLOGY_AND_CONFORMITY_ASSESSMENTs)
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          (click)="saveTechnology()"
          [attr.disabled]="
            isEditable(SBUTABLE.NEW_TECHNOLOGY_AND_CONFORMITY_ASSESSMENTs)
          "
        >
          Update New Technology
        </button>
      </div>
      <br />
    </div>
  </div>
  <div *ngIf="isTabVisible_2" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr *ngFor="let h of columnHeader_2">
            <th *ngFor="let d of h | keyvalue">
              {{ d.key | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody #myTbody *ngFor="let item of columnValue_2">
          <tr *ngFor="let y of item | keyvalue">
            <td *ngFor="let x of y.value | keyvalue">
              {{ x.value }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_Technology($event)"
                value="{{ y.value.id }}"
                [attr.disabled]="
                  isEditable(SBUTABLE.NEW_TECHNOLOGY_AND_CONFORMITY_ASSESSMENTs)
                "
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr size="10" />
  <br /><br />

  <div [formGroup]="facilitiesProjectPerformanceForm">
    <div
      style="
        text-align: start;
        font-size: 15px;
        font-weight: 30px;
        padding-bottom: 20px;
        color: rgb(5, 5, 5);
      "
    >
      <span>Facilities Project Performance</span>
    </div>
    <hr size="5" />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <!-- <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">List of Projects</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="list_of_Projects"
              [(ngModel)]="facilitiesProjectPerformanceBody.list_of_Projects"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_PROJECT_PERFORMANCEs)
              "
            />
          </div>
        </div>
      </div> -->

      <div style="width: 30%; margin: auto, 0, 0">
        <label class="labelwp"
          >Do you have Evidence of Design Safety Case Approval?</label
        >
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              padding: 5px;
              border-radius: 20px;
            "
          >
            <select
              class="input"
              type="inpute"
              formControlName="areThereEvidenceOfDesignSafetyCaseApproval"
              [(ngModel)]="
                facilitiesProjectPerformanceBody.areThereEvidenceOfDesignSafetyCaseApproval
              "
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_PROJECT_PERFORMANCEs)
              "
            >
              <option selected disabled>
                ---- Please Select an Option ----
              </option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%" *ngIf="facilitiesProjectPerformanceBody.areThereEvidenceOfDesignSafetyCaseApproval=='Yes'">
        <label class="labelwp"
          >Evidence of Design Safety Case Approval (If Yes, Upload Document)</label
        >

        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            border-radius: 20px;
            padding: 7px 10px;
          "
        >
          <input
            type="file"
            formControlName="evidenceOfDesignSafetyCaseApprovalFilename"
            accept=".pdf, .doc, .docx, .rtf, .htm, .html, .txt, .xlsx"
            (change)="saveEvidenceOfDesignSafetyCaseApproval($event)"
            class="inpute"
            [attr.disabled]="
              isEditable(SBUTABLE.FACILITIES_PROJECT_PERFORMANCEs)
            "
          />
        </div>
      </div>

      <div style="width: 50%; margin-top: auto" *ngIf="facilitiesProjectPerformanceBody.areThereEvidenceOfDesignSafetyCaseApproval=='No'">
        <label class="labelwp"
          >Reason (If no Evidence of Design Safety Case Approval)</label
        >
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <textarea
              formControlName="reasonForNoEvidence"
              [(ngModel)]="facilitiesProjectPerformanceBody.reasonForNoEvidence"
              rows="3"
              class="inpute"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_PROJECT_PERFORMANCEs)
              "
            > </textarea>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">List of Projects</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="list_of_Projects"
              [(ngModel)]="facilitiesProjectPerformanceBody.list_of_Projects"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_PROJECT_PERFORMANCEs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Planned Completion Status (%)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="planned_completion"
              [(ngModel)]="facilitiesProjectPerformanceBody.planned_completion"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_PROJECT_PERFORMANCEs)
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin: auto 0 0">
        <label class="labelwp">Actual Completion Status (%)</label>
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 10px;
              padding: 7px 10px;
            "
          >
            <input
              type="number"
              class="inpute"
              formControlName="actual_completion"
              [(ngModel)]="facilitiesProjectPerformanceBody.actual_completion"
              [attr.disabled]="
                isEditable(SBUTABLE.FACILITIES_PROJECT_PERFORMANCEs)
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br />

    <br /><br />
    <div>
      <div style="text-align: center">
        <button
          class="submitbtn"
          (click)="saveFacility()"
          [attr.disabled]="isEditable(SBUTABLE.FACILITIES_PROJECT_PERFORMANCEs)"
        >
          Add Performance Projects
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isTabVisible_3" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr *ngFor="let h of columnHeader_3">
            <th *ngFor="let d of h | keyvalue">
              {{ d.key | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody #myTbody *ngFor="let item of columnValue_3">
          <tr *ngFor="let y of item | keyvalue">
            <td *ngFor="let x of y.value | keyvalue">
              {{ x.value }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_Facility($event)"
                value="{{ y.value.id }}"
                [attr.disabled]="
                  isEditable(SBUTABLE.FACILITIES_PROJECT_PERFORMANCEs)
                "
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br /><br />
  <hr size="5" />

  <!-- <div style="display: flex; width:100%; justify-content: space-between ; " >
        <div>
            <div style="text-align: center;">
                <button class="submitbtn" >Previous</button>
            </div>
        </div>

        <div>
            <div style="text-align: center;">
                <button class="submitbtn" >Save & Continue Later</button>
            </div>
        </div>

        <div>
            <div style="text-align: center;">
                <button class="submitbtn">Save & Continue</button>
            </div>
        </div>

    </div> -->
</div>
<br /><br />
<div style="text-align: center">
  <button
    [routerLink]="['/' + genk.company, genk.workprogram, 'step4', 'hse']"
    class="nextbtn"
  >
    Next
  </button>
</div>
