button, a {
    width: 180px!important;
    font-size: small;
    text-align: center;
    height: 30px;
}
.modalbig{
    margin: 0 auto;
    padding: 0 0 15px 0;
    background-color: white;
    box-shadow: 2px 2px 6px 2px rgb(0, 0, 0, 0.4);
  }
  