<div class="background">
  <div class="title"><h1>Company Submission Details</h1></div>

  <div class="apptable wptablebox" *ngIf="drillEachCosts.length > 0">
    <h2>Drill Each Cost</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hdecColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of drillEachCosts">
          <td *ngFor="let colDef of hdecColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="drillEachCostProposeds.length > 0">
    <h2>Drill Each Cost(Proposed)</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hdecpColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of drillEachCostProposeds">
          <td *ngFor="let colDef of hdecpColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="apptable wptablebox"
    *ngIf="drillOperationCategoriesWells.length > 0"
  >
    <h2>Drilling Operations Categories of Proposed Well</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hdocpwColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of drillOperationCategoriesWells">
          <td *ngFor="let colDef of hdocpwColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="geoActivitiesAcquisitions.length > 0">
    <h2>Geophysical Activities Acquisition</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hgaaColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of geoActivitiesAcquisitions">
          <td *ngFor="let colDef of hgaaColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--HSE-->

  <div class="apptable wptablebox" *ngIf="hseAccidentIncidences.length > 0">
    <h2>Accident / Incidence Reporting</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hhaiColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of hseAccidentIncidences">
          <td *ngFor="let colDef of hhaiColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="hseAccidentIncidenceTypes.length > 0">
    <h2>Accident Incidence Type</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hairColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of hseAccidentIncidenceTypes">
          <td *ngFor="let colDef of hairColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="apptable wptablebox" *ngIf="hseAccidentModels.length > 0">
    <h2>Accident Incidence Model</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hhaimColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of hseAccidentModels">
          <td *ngFor="let colDef of hhaimColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <div class="apptable wptablebox" *ngIf="hseAssetRegisters.length > 0">
    <h2>
      Asset Register Template (Prescriptive Equipment Inspection Strategy)
    </h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of harColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of hseAssetRegisters">
          <td *ngFor="let colDef of harColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="hseAssetRegisterRBIs.length > 0">
    <h2>Asset Register Template (RBI Equipment Inspection Strategy)</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of harrbiColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of hseAssetRegisterRBIs">
          <td *ngFor="let colDef of harrbiColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--Legal-->

  <div class="apptable wptablebox" *ngIf="legalArbitrations.length > 0">
    <h2>Legal Arbitration</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hlaColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of legalArbitrations">
          <td *ngFor="let colDef of hlaColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="legalLitigations.length > 0">
    <h2>Legal Litigation</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hllColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of legalLitigations">
          <td *ngFor="let colDef of hllColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="hseClimateChanges.length > 0">
    <h2>Climate Change and Air Quality</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hccaColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of hseClimateChanges">
          <td *ngFor="let colDef of hccaColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="apptable wptablebox"
    *ngIf="environmentalComplianceMonitoring.length > 0"
  >
    <h2>Environmental Compliance Monitoring</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hpecmColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of environmentalComplianceMonitoring">
          <td *ngFor="let colDef of hpecmColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="apptable wptablebox"
    *ngIf="environmentalComplianceChemicals.length > 0"
  >
    <h2>Environmental Compliance Monitoring(Chemical)</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hpecmnColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of environmentalComplianceChemicals">
          <td *ngFor="let colDef of hpecmnColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="apptable wptablebox"
    *ngIf="environmentalStudiesFiveYearsSPs.length > 0"
  >
    <h2>Environmental Studies Strategic Plans</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hes5yspColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of environmentalStudiesFiveYearsSPs">
          <td *ngFor="let colDef of hes5yspColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="operationsSafetyCases.length > 0">
    <h2>Operation Safety Case</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hoscColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of operationsSafetyCases">
          <td *ngFor="let colDef of hoscColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="apptable wptablebox"
    *ngIf="environmentalManagementPlans.length > 0"
  >
    <h2>Environmental Management Plan</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hempColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of environmentalManagementPlans">
          <td *ngFor="let colDef of hempColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="hseTechnicals.length > 0">
    <h2>Technical Safety Studies</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of htsColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of hseTechnicals">
          <td *ngFor="let colDef of htsColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="hseManagementPositions.length > 0">
    <h2>HSE Management Position</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hmpColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of hseManagementPositions">
          <td *ngFor="let colDef of hmpColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="hseSafetyCultureTrainings.length > 0">
    <h2>Safety Culture and Training</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hsctColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of hseSafetyCultureTrainings">
          <td *ngFor="let colDef of hsctColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="apptable wptablebox"
    *ngIf="occupationHealthManagements.length > 0"
  >
    <h2>Occupational Health Management Plan</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hohmColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of occupationHealthManagements">
          <td *ngFor="let colDef of hohmColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="qualityControlDocuments.length > 0">
    <h2>Quality Control</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hqcdColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of qualityControlDocuments">
          <td *ngFor="let colDef of hqcdColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="qualityControlDocuments.length > 0">
    <h2>Quality Control</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hqcdColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of qualityControlDocuments">
          <td *ngFor="let colDef of hqcdColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="oilSpillReportings.length > 0">
    <h2>Oil Spill Reporting</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hosrColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of oilSpillReportings">
          <td *ngFor="let colDef of hosrColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="oilSpillReportings.length > 0">
    <h2>Oil Spill Reporting</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hosrColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of oilSpillReportings">
          <td *ngFor="let colDef of hosrColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="apptable wptablebox"
    *ngIf="environmentalStudiesUpdatedList.length > 0"
  >
    <h2>Environmental Studies(Field / Study)</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hesColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of environmentalStudiesUpdatedList">
          <td *ngFor="let colDef of hesColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="environmentalStudies.length > 0">
    <h2>Environmental Studies</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hesnColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of environmentalStudies">
          <td *ngFor="let colDef of hesnColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="wasteManagements.length > 0">
    <h2>Waste Management</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hwmColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of wasteManagements">
          <td *ngFor="let colDef of hwmColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="apptable wptablebox"
    *ngIf="wasterManagementFacilities.length > 0"
  >
    <h2>Waste Facility</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hwmfColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of wasterManagementFacilities">
          <td *ngFor="let colDef of hwmfColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="wasterManagementFiles.length > 0">
    <h2>Waste Management Plan / Decommissioning Submissions</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hwmsColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of wasterManagementFiles">
          <td *ngFor="let colDef of hwmsColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="apptable wptablebox" *ngIf="producedWaterManagements.length > 0">
    <h2>Produced Water (Zone)</h2>
    <table class="wptable">
      <thead>
        <tr>
          <th *ngFor="let h of hpwmnColDef">
            {{ h.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of producedWaterManagements">
          <td *ngFor="let colDef of hpwmnColDef">
            {{ row[colDef.columnDef] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
