<div
    style="background-color: white; border-radius: 5px; box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3); padding: 20px;">
    <div style="font-size: 25px; font-weight: 500; text-align: center; padding-bottom: 20px;">
        <span>LEGAL PROCEEDINGS IN RESPECT OF THE ASSET</span>
    </div><br>
    <hr size="10">

    <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
            <span>LITIGATION</span>
        </div>
    </div>
    <br>
    <div style="display:flex;width: 100%; justify-content: space-between; ">
        <div style="width: 30%;margin: auto 0 0; ">
            <label class="labelwp">Any Litigation ?</label>
            <div style="display: flex; width: 100%;">
                <div
                    style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
                    <select class="input" type="inpute">
                        <option selected disabled>---- Please Select an Option ----</option>
                        <option value="Actual">Actual</option>
                        <option value="Proposed">Proposed</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Case Number</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Names of Parties</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>
    </div>
    <br>

    <div style="display:flex;width: 100%; justify-content: space-between; ">
        <div style="width: 30%;margin: auto 0 0; ">
            <label class="labelwp">Jurisdiction</label>
            <div style="display: flex; width: 100%;">
                <div
                    style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
                    <select class="input" type="inpute">
                        <option selected disabled>---- Please Select an Option ----</option>
                        <option value="Nigerian">Nigerian</option>
                        <option value="Foreign">Foreign</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Name of Court</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Summary of the case</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>
    </div>
    <br>

    <div style="display:flex;width: 100%; justify-content: space-between; ">
        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Any orders made so far by the court</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Potential Outcome</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div>
        <div style="text-align: center;">
            <button class="submitbtn">Submit Litigation</button>
        </div>
        <br>
    </div>
    <hr size="10"><br><br>

    
    <div style="width: 30%">
        <div style="font-weight: 500; margin-bottom: 5px">
            <span>ARBITRATION</span>
        </div>
    </div>
    <hr size="5">
    <br>
    <div style="display:flex;width: 100%; justify-content: space-between; ">
        <div style="width: 30%;margin: auto 0 0; ">
            <label class="labelwp">Any Arbitration ?</label>
            <div style="display: flex; width: 100%;">
                <div
                    style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
                    <select class="input" type="inpute">
                        <option selected disabled>---- Please Select an Option ----</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Case Number</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Names of Parties</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>
    </div>
    <br>

    <div style="display:flex;width: 100%; justify-content: space-between; ">
        <div style="width: 30%;margin: auto 0 0; ">
            <label class="labelwp">Jurisdiction</label>
            <div style="display: flex; width: 100%;">
                <div
                    style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
                    <select class="input" type="inpute">
                        <option selected disabled>---- Please Select an Option ----</option>
                        <option value="Nigerian">Nigerian</option>
                        <option value="Foreign">Foreign</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Name of Court</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Summary of the case</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>
    </div>
    <br>

    <div style="display:flex;width: 100%; justify-content: space-between; ">
        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Any orders made so far by the court</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Potential Outcome</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div>
        <div style="text-align: center;">
            <button class="submitbtn">Submit Arbitration</button>
        </div>
        <br>
    </div>
    <hr size="10"><br><br>

    <div>
        <div style="display: flex; width: 100%; justify-content: space-between; ">
            <div style="text-align: center;">
                <button class="submitbtn">Previous</button>
            </div>
            
            <div>
                <div style="text-align: center;">
                    <button class="submitbtn">Save & Continue Later</button>
                </div>
            </div>
            <div>
                <div style="text-align: center;">
                    <button class="submitbtn">Save & Continue</button>
                </div>
            </div>
        </div>
    </div>