<div
    style="background-color: white; border-radius: 5px; box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3); padding: 20px;">
    <div style="font-size: 25px; font-weight: 500; text-align: center; padding-bottom: 20px;">
        <span>NIGERIA CONTENT</span>
    </div><br><hr size="10">
    <div style="display:flex;width: 100%; justify-content: space-between; ">
        <div style="width: 30%">
            <div style="font-weight: 500; margin-bottom: 5px">
                <span>Staff Disposition - Training for Nigerians</span>
            </div>
            <hr size="5">

            <div style="display: flex; width: 100%;  justify-content: space-between;">
                <div style="width: 100%;">
                    <label class="labelwp">Please provide values for Actual and Proposed year</label>
                    <div style="display: flex; width: 100%;">
                        <div
                            style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
                            <select class="input" type="inpute">
                                <option selected disabled>---- Please Select an Option ----</option>
                                <option value="Actual">Actual</option>
                                <option value="Proposed">Proposed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="display: flex; width: 100%;  justify-content: space-between;">
        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">No of Expatriate Quota Positions </label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Utilized EQ</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Nigerian Understudies</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>
    </div>
    <br>

    <div style="display: flex; width: 100%;  justify-content: space-between;">
        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Foriegn (Management)</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Local (Management)</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Foriegn (Staff)</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="display: flex; width: 100%;  justify-content: space-between;">
        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Local (Staff)</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div>
        <div style="text-align: center;">
            <button class="submitbtn">Add Staff Disposition</button>
        </div>
        <br>
    </div>
    <hr size="10"><br><br>

    <div style="display:flex;width: 100%; justify-content: space-between; ">
        <div style="width: 30%">
            <div style="font-weight: 500; margin-bottom: 5px">
                <span>Senior / Management Staff </span>
            </div>
            <hr size="5"><br>
            <div style="display: flex; width: 100%;  justify-content: space-between;">
                <div style="width: 100%;">
                    <label class="labelwp">Do you have a valid Expatriate Quota for your foreign staff</label>
                    <div style="display: flex; width: 100%;">
                        <div
                            style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
                            <select class="input" type="inpute">
                                <option selected disabled>---- Please Select an Option ----</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="display: flex; width: 100%;  justify-content: space-between;">
        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">If NO, Give Reason</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Number of staff released within the year</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Total No. of Nigerian Senior Staff</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>
    </div>
    <br>

    <div style="display: flex; width: 100%;  justify-content: space-between;">
        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Total No. of Senior Staff</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Total No. of Nigerian Top Management Staff</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>

        <div style="width: 30%; margin: auto 0 0;">
            <label class="labelwp">Total No. of Top Management Staff</label>
            <div style="display: flex;">
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>
    </div>
    <br>

    <br><br>
    <div>
        <div style="text-align: center;">
            <button class="submitbtn">Update Senior / Management Staff</button>
        </div>
        <br>
    </div>
    <hr size="10"><br><br>

    <div>
        <div style="width: 100%;">
            <div style="width: 30%">
                <div style="font-weight: 500; margin-bottom: 5px">
                    <span>Upload Succession Plan to reflect the following:</span>
                </div>
            </div>
        </div>
        <hr size="5"><br>
    </div>


    <div style="display:flex;width: 100%; justify-content: space-between;">
        <div style="width: 30%;">
            <label class="labelwp">Is there a succession plan in place?</label>
            <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
                <select class="input" type="inpute">
                    <option selected disabled>---- Please Select an Option ----</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>

        <div style="width: 30%;">
            <label class="labelwp">Please provide values for Actual and Proposed year</label>
            <div style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">
                <select class="input" type="inpute">
                    <option selected disabled>---- Please Select an Option ----</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>
        <div style="width:30%;">
            <div style="width: 100%;">
                <label class="labelwp">Name of Expatriate</label>
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>
    </div>

    <br>

    <div style="display:flex; width:100%; justify-content: space-between; ">
        <div style="width:30%;">
            <div style="width: 100%;">
                <label class="labelwp">Nigerian Understudy</label>
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>

        <div style="width:30%;">
            <div style="width: 100%;">
                <label class="labelwp">Timeline (Years)</label>
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="number" class="inpute">
                </div>
            </div>
        </div>
        <div style="width:30%;">
            <div style="width: 100%;">
                <label class="labelwp">Position Occupied</label>
                <div
                    style="box-shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 10px; padding: 7px 10px;">
                    <input type="text" class="inpute">
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div>
        <div style="text-align: center;">
            <button class="submitbtn">Upload Succession Plan</button>
        </div>
        <br>
    </div>
    <hr size="10"><br><br>
