.menu-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px 0.5px rgb(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.menu-container-control {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 0 0;
  font-size: 18px;
  font-weight: 500;
}

.menu-content {
  width: 100%;
  background-color: whitesmoke;
}

.menu-item {
  padding: 15px 9%;
  cursor: pointer;
  border-radius: 5px;
}

.active-item {
  border-bottom: 3px solid rgb(2, 85, 85);
}

.completed {
  background-color: rgb(6, 204, 204);
  color: white;
}
