.basesel {
  padding: 13px;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  outline: none;
  border: none;
}

.omlstyle {
  margin-right: 10px;
  color: rgb(14, 76, 118);
  font-weight: 900;
  font-size: 15px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
}
