<div
  [formGroup]="concessionForm"
  style="
    display: flex;
    margin: 0 0 10px 0;
    border-radius: 5px;
    padding: 10px 0;
    justify-content: space-between;
  "
>
  <!-- <div style="width: 30%; text-align: center">
          <div style="margin-bottom: 5px; color: teal; font-weight: 600">
            <span>Work Programme Year</span>
          </div>

          <div class="wpwidth">
            <div class="inputshadow">
              <select
                class="dropwp" style="color: black;"
                formControlName="year"
                (change)="changeWPYear($event)"
              >
                <option selected disabled>-Select WP Year-</option>
                <option *ngFor="let list of wkpYearList">{{ list }}</option>
              </select>
            </div>
          </div>
        </div> -->

  <form [formGroup]="concessionForm" class="concessionContainer">
    <div style="display: flex; align-items: center">
      <div class="omlstyle">
        <span>CONCESSION(S) HELD: </span>
      </div>
      <!-- *ngIf="concessionHeldList && concessionHeldList.length > 0" -->
      <div class="input-container">
        <select (change)="changeConcessionHeld($event)" class="basesel">
          <option selected disabled hidden>--Select Concession--</option>
          <option *ngFor="let list of concessionHeldList">
            {{ list }}
          </option>
        </select>
      </div>
    </div>

    <!-- <div *ngIf="!genk.OmlName" style=" display: flex; align-items: center;">
          <div class="omlstyle">
            <span>CONCESSION(S) HELD: </span>
          </div>
            <div class="input-container">
              <select formControlName="concession_Held" (change)="changeConcessionHeld($event)" class="basesel">
                <option selected disabled>-Select Concession-</option>
                <option *ngFor="let list of concessionHeldList">
                  {{ list }}
                </option>
              </select>
            </div>
        </div> -->

    <div *ngIf="genk.Field_List">
      <div *ngIf="genk.fieldName" style="display: flex; align-items: center">
        <div class="omlstyle">
          <span>Field</span>
        </div>
        <div class="input-container">
          <select
            class="basesel"
            (change)="changeConcessionField($event)"
          >
            <option selected disabled hidden>---Select Field---</option>
            <option *ngFor="let list2 of Field_List" [value]="list2.field_ID">
              {{ list2.field_Name }}
            </option>
          </select>
        </div>
      </div>

      <div *ngIf="!genk.fieldName" style="display: flex; align-items: center">
        <div class="omlstyle">
          <span>Field</span>
        </div>
        <div class="input-container">
          <select
            class="basesel"
            formControlName="Field"
            (change)="changeConcessionField($event)"
          >
            <option>-Select Field-</option>
            <option *ngFor="let list2 of Field_List" [value]="list2.field_ID">
              {{ list2.field_Name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
