.tabsname {
  font-weight: 500;
  color: darkslategrey;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.topname {
  font-size: 22px; font-weight: 700; color: rgb(14, 64, 105); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
