<div class="overlapbox" style="width: 100%">
  <img
    style="height: 60vh; width: 100%; filter: blur(1px)"
    src="assets/workprogramimage.jpg"
  />
  <div
    class="overlapdiv"
    style="padding-top: 5%; background-color: rgb(0, 0, 0, 0.5); height: 100%"
  >
    <div style="text-align: center">
      <span style="font-size: 50px; font-weight: 900; color: white"
        >Welcome </span
      ><br /><br />
      <span style="font-size: 30px; font-weight: 900; color: rgb(227, 222, 222)"
        >Submit Work Programme</span
      >
    </div>
    <br /><br />



    <!-- <div style="width: 100%;">
      <select style="padding: 15px;font-size: 18px;width: 50%;border: solid 2px white;border-radius: 15px;background-color: rgb(0, 0, 0, 0.2);color: white;" (change)="changeWPYear($event)">
      <option style="background-color: rgb(0, 0, 0, 0.7)" selected disabled hidden>
        Select Year (Current Year is
        <b>{{ currentYear }}</b>)
      </option>
      <option style="background-color: rgb(0, 0, 0, 0.7)" *ngFor="let list of wkpYearList">
        {{ list }}
      </option>
    </select>
    </div>
    <div style="width: 100%;">
      <select (change)="changeConcessionHeld($event)" style="padding: 15px;font-size: 18px;width: 50%;border: solid 2px white;border-radius: 15px;background-color: rgb(0, 0, 0, 0.2);color: white">
        <option selected disabled hidden style="background-color: rgb(0, 0, 0, 0.7)">--Select Concession--</option>
        <option *ngFor="let list of concessionHeldList" style="background-color: rgb(0, 0, 0, 0.7)">
          {{ list }}
        </option>
      </select>
    </div> -->
    <!-- <div style="color: white; border: solid 3px red;">
      <h5 style="color: red;">{{lowt}}</h5>
      <div *ngFor="let list of Field_List">
        <label>{{ list}}</label><br>
      </div>
    </div> -->
    <!-- <div style="width: 100%;">
      <select (change)="changeConcessionField($event)" style="padding: 15px;font-size: 18px;width: 50%;border: solid 2px white;border-radius: 15px;background-color: rgb(0, 0, 0, 0.2);color: white;">
        <option selected disabled hidden style="background-color: rgb(0, 0, 0, 0.7)">----Select a Field----</option>
        <option *ngFor="let list of Field_List" style="background-color: rgb(0, 0, 0, 0.7)">
          {{ list.field_Name}}
        </option>
      </select>
    </div> -->





    <div [formGroup]="boardForm" style="padding-left: 20%; margin-bottom: 10%;">
      <div style="display: flex; align-items: center; width: 100%; margin-bottom: 20px;">
        <div style="color: white; font-weight: 800; text-align: end; margin-right: 20px; width: 20%;">
          <span>YEAR: </span>
        </div>
        <div style="width: 100%;">
          <select style="padding: 15px;font-size: 18px;width: 50%;border: solid 2px white;border-radius: 15px;background-color: rgb(0, 0, 0, 0.2);color: white;"
        (change)="changeWPYear($event)">
          <option style="background-color: rgb(0, 0, 0, 0.7)" selected disabled hidden>
            Select Year (Current Year is
            <b>{{ currentYear }}</b>)
          </option>
          <option style="background-color: rgb(0, 0, 0, 0.7)" *ngFor="let list of wkpYearList">
            {{ list }}
          </option>
        </select>
        <div class="eroce">
          <label>{{yearError}}</label>
        </div>
        </div>
      </div>

      <div style="display: flex; width: 100%;margin-bottom: 20px; align-items: center;">
        <div style="color: white; font-weight: 800; text-align: end; width: 20%; margin-right: 20px;">
          <span>CONCESSION(S) HELD: </span>
        </div>

        <div style="width: 100%;">
          <select (change)="changeConcessionHeld($event)" style="padding: 15px;font-size: 18px;width: 50%;border: solid 2px white;border-radius: 15px;background-color: rgb(0, 0, 0, 0.2);color: white">
            <option selected disabled hidden style="background-color: rgb(0, 0, 0, 0.7)">--Select Concession--</option>
            <option *ngFor="let list of concessionHeldList" style="background-color: rgb(0, 0, 0, 0.7)">
              {{ list }}
            </option>
          </select>
          <div class="eroce">
            <label>{{concessionError}}</label>
          </div>
        </div>
      </div>



          <div *ngIf="Field_List.length" style="display: flex; align-items: center">
            <div style="color: white; font-weight: 800; text-align: end; width: 20%; margin-right: 20px;">
              <span>FIELD:</span>
            </div>
            <div style="width: 100%;">
              <select (change)="changeConcessionField($event)" style="padding: 15px;font-size: 18px;width: 50%;border: solid 2px white;border-radius: 15px;background-color: rgb(0, 0, 0, 0.2);color: white;">
                <option selected disabled style="background-color: rgb(0, 0, 0, 0.7)">----Select a Field----</option>
                <option *ngFor="let list2 of Field_List" [value]="list2.field_ID" style="background-color: rgb(0, 0, 0, 0.7)">
                  {{ list2.field_Name}}
                </option>
              </select>
              <div class="eroce">
                <label>{{fieldError}}</label>
              </div>
            </div>
          </div>

    </div>






    <div
      style="
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 2rem;
        padding-bottom: 3rem;
      "
    >
      <div
        class="righttab"
        (click)="navigateToStep('/' + genk.company, genk.workprogram, 'step1')"
        [ngClass]="{ disableClick: disableTab }"
      >
        <div class="widthtab">
          <div style="padding: 20px">
            <div style="margin-bottom: 15px">
              <span
                class="material-icons"
                style="font-size: 40px; color: rgb(99, 76, 47)"
                >account_balance</span
              >
            </div>
            <div style="margin-bottom: 5px">
              <span
                style="
                  font-weight: 900;
                  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                "
                >STEP 1</span
              ><br />
              <span class="topname">CONCESSION</span>
            </div>
            <br />
            <div>
              <div class="tabsname">
                <span>Concession Situation</span><br />
                <span>Geophysical Activities</span><br />
                <span>Drilling Operations</span>
              </div>
            </div>
          </div>

          <br />
          <div
            style="
              border-top: solid 1px grey;
              padding: 5px;
              font-weight: 500;
              color: rgb(28, 92, 124);
              display: flex;
              align-items: center;
            "
          >

            <small>Submit on Concession basis</small>
          </div>
        </div>
      </div>

      <div
        class="righttab"
        (click)="navigateToStep('/' + genk.company, genk.workprogram, 'step2')"
        [ngClass]="{ disableClick: disableTab }"
      >
        <div class="widthtab">
          <div style="padding: 20px">
            <div style="margin-bottom: 15px">
              <span
                class="material-icons"
                style="font-size: 40px; color: rgb(55, 111, 112)"
                >propane_tank</span
              >
            </div>
            <div style="margin-bottom: 5px">
              <span
                style="
                  font-weight: 900;
                  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                "
                >STEP 2</span
              ><br />
              <span class="topname">RESERVES</span>
            </div>
            <br />
            <div class="tabsname">
              <span>Field Development Plan</span><br />
              <span>Initial Well Completion</span><br />
              <span>Workover Recompletion</span><br />
              <span>Oil & Gas Production Activities</span><br />
              <span>Reserves Update</span><br />
            </div>
          </div>

          <br />
          <div
            style="
              border-top: solid 1px grey;
              padding: 5px;
              font-weight: 500;
              color: rgb(28, 92, 124);
              display: flex;
              align-items: center;
            "
          >

            <small>Submit on Concession basis</small>
          </div>
        </div>
      </div>

      <div
        class="righttab"
        (click)="navigateToStep('/' + genk.company, genk.workprogram, 'step3')"
        [ngClass]="{ disableClick: disableTab }"
      >
        <div class="widthtab">
          <div style="padding: 20px; height: 84%">
            <div style="margin-bottom: 15px">
              <span
                class="material-icons"
                style="font-size: 40px; color: rgb(32, 103, 161)"
                >wallet</span
              >
            </div>
            <div style="margin-bottom: 5px">
              <span
                style="
                  font-weight: 900;
                  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                "
                >STEP 3</span
              ><br />
              <span class="topname">BUDGET</span>
            </div>
            <br />
            <div>
              <div class="tabsname">
                <span>Budget Performance</span><br />
                <span>Budget Proposal</span><br />
                <span>Facility Maintenance</span>
              </div>
            </div>
          </div>
          <br />
          <div
            style="
              border-top: solid 1px grey;
              padding: 5px;
              font-weight: 500;
              color: rgb(28, 92, 124);
              display: flex;
              align-items: center;
            "
          >

            <small>Submit on Concession basis</small>
          </div>
        </div>
      </div>

      <div
        class="righttab"
        (click)="navigateToStep('/' + genk.company, genk.workprogram, 'step4')"
        [ngClass]="{ disableClick: disableTab }"
      >
        <div class="widthtab">
          <div style="padding: 20px; height: 84%">
            <div style="margin-bottom: 15px">
              <span
                class="material-icons"
                style="font-size: 40px; color: rgb(234, 160, 32)"
                >local_fire_department</span
              >
            </div>
            <div style="margin-bottom: 5px">
              <span
                style="
                  font-weight: 900;
                  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                "
                >STEP 4</span
              ><br />
              <span class="topname">HSE</span>
            </div>
            <br />
            <div>
              <div class="tabsname">
                <span>Health, Safety and Environment</span><br />
                <span>Strategic Capital Development Plan </span><br />

              </div>
            </div>
          </div>
          <br />
          <div
            style="
              border-top: solid 1px grey;
              padding: 5px;
              font-weight: 500;
              color: rgb(28, 92, 124);
              display: flex;
              align-items: center;
            "
          >

            <small style="font-size: 11px"
              >Submit on Concession & Company basis</small
            >
          </div>
        </div>
      </div>

      <div
        class="righttab"
        (click)="navigateToStep('/' + genk.company, genk.workprogram, 'step5')"
        [ngClass]="{ disableClick: disableTab }"
      >
        <div class="widthtab">
          <div style="padding: 20px; height: 84%">
            <div style="margin-bottom: 15px">
              <span class="material-icons" style="font-size: 40px; color: rgb(161, 56, 32)">animation</span>
            </div>
            <div style="margin-bottom: 5px">
              <span
                style="
                  font-weight: 900;
                  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                "
                >STEP 5</span
              ><br />
              <span class="topname">LEGAL & LOCAL CONTENT</span>
            </div>
            <br />
            <div>
              <div class="tabsname">
                <span>Nigeria Content</span><br />
                <span>Strategic Planning</span><br />
                <span>Legal Proceedings</span>
              </div>
            </div>
          </div>
          <br />
          <div
            style="
              border-top: solid 1px grey;
              padding: 5px;
              font-weight: 500;
              color: rgb(28, 92, 124);
              display: flex;
              align-items: center;
            "
          >
            <small>Submit on Company basis</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
