<div class="overlapbox" style="width: 100%;">
  <img style="height: 40vh; width: 100%; filter: blur(1px);" src="assets/workprogramimage.jpg">
  <div class="overlapdiv" style="padding-top: 5%; background-color: rgb(0, 0, 0, 0.5); height: 100%;;">
    <div style="text-align: center;">
      <span style="font-size: 80px; font-weight: 900; color: white">Welcome to </span><br><br>
      <span style="font-size: 50px; font-weight: 900; color: rgb(227, 222, 222)">Submit Work Programme for 2022</span>
    </div><br><br>

    <div [formGroup]="boardForm" style="display: flex; justify-content: center; width: 100%; margin-bottom: 80px;">
      <select formControlName="year" style="padding: 15px; font-size: 18px; width: 50%; border: solid 2px white; border-radius: 15px; background-color: rgb(0, 0, 0, 0.2); color: white;" (change)="changeWPYear($event)">
        <option style="background-color: rgb(0, 0, 0, 0.7)" selected disabled hidden>Select a Year to submit workprogramme</option>
        <option style="background-color: rgb(0, 0, 0, 0.7);" *ngFor="let list of wkpYearList">{{ list }}</option>
      </select>
    </div>

    <div style="display: inline-flex; flex-wrap: wrap; justify-content: space-between; width: 100%;">
      <div class="righttab" [routerLink]="['/' + genk.company, genk.workprogram, 'step1', ]">
        <div class="widthtab">

          <div style="padding: 20px; height: 84%;">
            <div style="margin-bottom: 15px;">
              <span class="material-icons" style="font-size: 40px; color: rgb(99, 76, 47);">account_balance</span>
            </div>
            <div style="margin-bottom: 5px;">
              <span style="font-weight: 900; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">STEP 1</span><br>
              <span class="topname">CONCESSION</span>
            </div>
            <br>
            <div>
              <div class="tabsname">
                <span>Concession Situation</span><br>
                <span>Geophysical Activities</span><br>
                <span>Drilling Operations</span>
              </div>
            </div>
          </div>
          <br>
          <div style="border-top: solid 1px grey; padding: 5px; font-weight: 500; color: rgb(28, 92, 124); display: flex; align-items: center;">
            <span class="material-icons" style="font-size: 16px">settings</span>
            <small>&nbsp; Format: &nbsp;&nbsp; OML/OPL basis</small>
          </div>
        </div>
      </div>

      <div class="righttab" [routerLink]="['/' + genk.company, genk.workprogram, 'step2', ]">
        <div class="widthtab">

          <div style="padding: 20px;">
            <div style="margin-bottom: 15px;">
              <span class="material-icons" style="font-size: 40px; color: rgb(55, 111, 112);">propane_tank</span>
            </div>
            <div style="margin-bottom: 5px;">
              <span style="font-weight: 900; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">STEP 2</span><br>
              <span class="topname">REVERSES</span>
            </div>
            <br>
            <div class="tabsname">
              <span>Field Development Plan</span><br>
              <span>Initial Well Completion</span><br>
              <span>Workover Recompletion</span><br>
              <span>Oil & Gas Production Activities</span><br>
              <span>Reserves Update</span><br>
            </div>
          </div>
          <br>
          <div style="border-top: solid 1px grey; padding: 5px; font-weight: 500; color: rgb(28, 92, 124); display: flex; align-items: center;">
            <span class="material-icons" style="font-size: 16px">settings</span>
            <small>&nbsp; Format: &nbsp;&nbsp; OML/OPL basis</small>
          </div>
        </div>
      </div>

      <div class="righttab" [routerLink]="['/' + genk.company, genk.workprogram, 'step3', ]">
        <div class="widthtab">

          <div style="padding: 20px; height: 84%;">
            <div style="margin-bottom: 15px;">
              <span class="material-icons" style="font-size: 40px; color: rgb(32, 103, 161)">wallet</span>
            </div>
            <div style="margin-bottom: 5px;">
              <span style="font-weight: 900; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">STEP 3</span><br>
              <span class="topname">Budget</span>
            </div>
            <br>
            <div>
              <div class="tabsname">
                <span>Budget Performance</span><br>
                <span>Budget Proposal</span><br>
                <span>Facility Maintenance</span>
              </div>
            </div>
          </div>
          <br>
          <div style="border-top: solid 1px grey; padding: 5px; font-weight: 500; color: rgb(28, 92, 124); display: flex; align-items: center;">
            <span class="material-icons" style="font-size: 16px">settings</span>
            <small>&nbsp; Format: &nbsp;&nbsp; Company basis</small>
          </div>
        </div>
      </div>

      <div class="righttab" [routerLink]="['/' + genk.company, genk.workprogram, 'step4', ]">
        <div class="widthtab">

          <div style="padding: 20px; height: 84%;">
            <div style="margin-bottom: 15px;">
              <span class="material-icons" style="font-size: 40px; color: rgb(161, 56, 32)">animation</span>
            </div>
            <div style="margin-bottom: 5px;">
              <span style="font-weight: 900; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">STEP 4</span><br>
              <span class="topname">PLANNING</span>
            </div>
            <br>
            <div>
              <div class="tabsname">
                <span>Budget Performance</span><br>
                <span>Budget Proposal</span><br>
                <span>Facility Maintenance</span>
              </div>
            </div>
          </div>
          <br>
          <div style="border-top: solid 1px grey; padding: 5px; font-weight: 500; color: rgb(28, 92, 124); display: flex; align-items: center;">
            <span class="material-icons" style="font-size: 16px">settings</span>
            <small>&nbsp; Format: &nbsp;&nbsp; Company basis</small>
          </div>
        </div>
      </div>

      <div class="righttab" [routerLink]="['/' + genk.company, genk.workprogram, 'step5', ]">
        <div class="widthtab">

          <div style="padding: 20px; height: 84%;">
            <div style="margin-bottom: 15px;">
              <span class="material-icons" style="font-size: 40px; color: rgb(234, 160, 32)">local_fire_department</span>
            </div>
            <div style="margin-bottom: 5px;">
              <span style="font-weight: 900; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">STEP 5</span><br>
              <span class="topname">HSE</span>
            </div>
            <br>
            <div>
              <div class="tabsname">
                <span>Health, Safety and Environment</span><br>
                <span>Strategic Capital Development Plan </span><br>
                <span>Extra Requirement</span>
              </div>
            </div>
          </div>
          <br>
          <div style="border-top: solid 1px grey; padding: 5px; font-weight: 500; color: rgb(28, 92, 124); display: flex; align-items: center;">
            <span class="material-icons" style="font-size: 16px">settings</span>
            <small>&nbsp; Format: &nbsp;&nbsp; Company basis</small>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
