<h1 mat-dialog-title>Add / Edit Role</h1>
<div mat-dialog-content class="modal-width">
  <form [formGroup]="form">
    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Name</label>
      <input name="name" formControlName="name" class="form-control" />
      <div
        *ngIf="form.get('name')?.touched && form.get('name')?.invalid"
        class="alert alert-danger"
      >
        Name is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Description</label>
      <input
        name="description"
        formControlName="description"
        class="form-control"
      />
      <div
        *ngIf="
          form.get('description')?.touched && form.get('description')?.invalid
        "
        class="alert alert-danger"
      >
        Description is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Rank</label>
      <input
        type="number"
        name="rank"
        formControlName="rank"
        class="form-control"
      />
      <div
        *ngIf="form.get('rank')?.touched && form.get('rank')?.invalid"
        class="alert alert-danger"
      >
        Rank is required!
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button
    *ngIf="!targetData"
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    (click)="addRole()"
  >
    Add
  </button>

  <button
    *ngIf="targetData"
    mat-raised-button
    [disabled]="form.invalid"
    (click)="editRole()"
  >
    Edit
  </button>
</div>
