<div>
  <br>
  <div style="margin-top: 1%; text-align: center;">
    <span style="background-color: white; padding: 0.5% 2%; border-radius: 20px; font-size: 22px; font-weight: 600; color: rgb(71, 70, 70)">{{title}}</span>
  </div>
  <br>
</div>


<div>
  <div style="display: flex;">
    <div style="width: 60%;">
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px;">
        <div>
          <button (click)="togAddConcession()" style="display: flex; align-items: center; border: none; background-color: goldenrod; padding: 5px 10px; border-radius: 10px;">
            <span class="material-icons">add</span>
            Add Concession
          </button>
        </div>
        <div>
          <input #myInput (keyup)='genk.searchTable(myInput, myTable)' type='text' placeholder="Search Table"
            class="search">
        </div>
        <!-- <div style="width: 225px;">
          <select id="time" class="form-select" (change)="resize($event)">
            <option *ngFor="let val of genk.entries" [value]="val.value">{{val.text}}</option>
          </select>
        </div>

        <div style="display: flex;">
          <button (click)="genk.printData(myTable)" class="rebtn">
            <mat-icon style="font-size: 20px;">print</mat-icon> Print
          </button>
          <button (click)="genk.tableToCSV(myTable)" class="rebtn" style="margin: 0 20px; background-color: teal;">
            <mat-icon style="font-size: 20px;">file_download</mat-icon> Excel
          </button>
          <button (click)="genk.copyTable(myTable)" class="rebtn"
            style="background-color: whitesmoke; color: darkslategrey; font-weight: 500;">
            <mat-icon style="font-size: 20px;">content_copy</mat-icon> Copy
          </button>
        </div> -->
      </div>

      <div #divTable
        style="overflow: hidden; overflow-x: auto; box-shadow: 4px 4px 12px 2px rgb(0, 0, 0, 0.3);">
        <table #myTable class="apptable" cellPadding="10" cellSpacing="15">
          <thead>
            <!-- <tr *ngFor="let h of c_ColumnHeader">
                      <th *ngFor="let d of h | keyvalue">
                          {{d.key | titlecase}}
                      </th>

                  </tr> -->
            <th *ngFor="let h of columns">
              {{h.header}}
            </th>
            <th>EDIT</th>
            <th>DELETE</th>
          </thead>
          <tbody #myTbody style="box-shadow: 4px 4px 12px 2px rgb(0, 0, 0, 0.3);">
            <tr *ngFor="let row of c_ColumnValue">
              <td *ngFor="let h of columns">
                {{row[h.columnDef]}}
              </td>
              <td>
                <button (click)="Edit_Concession($event)" value={{row.consession_Id}}
                  style="background-color: green; color: white; outline: none; border: none; padding: 3px 15px; border-radius: 5px;"
                  class="submitbtn">Edit</button>
              </td>
              <td>
                <button (click)="Delete_Concession($event)" value={{row.consession_Id}}
                  style="background-color: rgb(188, 28, 28); color: white; outline: none; border: none; padding: 3px 15px; border-radius: 5px;"
                  class="submitbtn">Delete</button>
              </td>
            </tr>
          </tbody>
          <!-- <tbody #myTbody *ngFor="let item of c_ColumnValue">
                  <tr *ngFor="let y of item | keyvalue">
                      <td *ngFor="let x of y.value | keyvalue">
                      {{x.value}}
                      </td>
                      <td>
                          <button (click)="Edit_Concession($event)" value={{y.value.consession_Id}} style="background-color: green;"
                          class="submitbtn">Edit</button>
                          <button (click)="Delete_Concession($event)" value={{y.value.consession_Id}} style="background-color: darkred;"
                              class="submitbtn">Delete</button>
                      </td>
                  </tr>
              </tbody> -->
        </table>
      </div>

      <!-- <div
        style="width: 100%; display: flex; align-items: center; justify-content: end; margin: 20px 0 10px 0; padding-right: 30px;">
        <button (click)="firstPage()" mat-mini-fab style="background-color: grey;" [disabled]="selectedPage < 2">
          <mat-icon>keyboard_double_arrow_left</mat-icon>
        </button>
        <button [disabled]="selectedPage < 2" style="margin: 0 10px;" (click)="goPrev()" mat-raised-button>Prev</button>
        <div style="font-weight: 600; color: rgb(84, 92, 92);">Page <input
            style="width: 40px; padding: 5px 0 5px 10px; border: solid 3px dodgerblue; border-radius: 50px; outline: dodgerblue;"
            #pageInput type="text" [value]="selectedPage" (keyup)="genk.preventInput(pageInput); cdr.markForCheck()"
            (change)="changePage(pageInput.value)"> of {{pagenum}}</div>

        <button [disabled]="selectedPage >= pagenum" style="margin: 0 10px;" color="primary" (click)="goNext()"
          mat-raised-button>Next</button>
        <button [disabled]="selectedPage >= pagenum" (click)="lastPage()" mat-mini-fab color="primary">
          <mat-icon>keyboard_double_arrow_right</mat-icon>
        </button>
      </div> -->
    </div>



    <div style="margin-left: auto;">
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px;">
        <div>
          <button (click)="togAddField()" style="display: flex; align-items: center; border: none; background-color: goldenrod; padding: 5px 10px; border-radius: 10px;">
            <span class="material-icons">add</span>
            Add Field
          </button>
        </div>

        <div>
          <input #myInput2 (keyup)='genk.searchTable(myInput2, myTable2)' type='text' placeholder="Search Table"
            class="search">
        </div>
        <!-- <div style="width: 225px;">
              <select id="time" class="form-select" (change)="resize($event)">
                <option *ngFor="let val of genk.entries" [value]="val.value">{{val.text}}</option>
              </select>
            </div>

            <div style="display: flex;">
              <button (click)="genk.printData(myTable2)" class="rebtn">
                <mat-icon style="font-size: 20px;">print</mat-icon> Print
              </button>
              <button (click)="genk.tableToCSV(myTable2)" class="rebtn" style="margin: 0 20px; background-color: teal;">
                <mat-icon style="font-size: 20px;">file_download</mat-icon> Excel
              </button>
              <button (click)="genk.copyTable(myTable2)" class="rebtn"
                style="background-color: whitesmoke; color: darkslategrey; font-weight: 500;">
                <mat-icon style="font-size: 20px;">content_copy</mat-icon> Copy
              </button>
            </div> -->
      </div>

      <div #divTable style="overflow: hidden; overflow-x: auto; box-shadow: 4px 4px 12px 2px rgb(0, 0, 0, 0.3);">
        <table #myTable2 class="apptable" cellPadding="10" cellSpacing="15">
          <thead>
            <th *ngFor="let h of fieldColumns">
              {{h.header}}
            </th>
            <th>EDIT</th>
            <th>DELETE</th>
          </thead>
          <tbody #myTbody2 style="box-shadow: 4px 4px 12px 2px rgb(0, 0, 0, 0.3);">
            <tr *ngFor="let row of f_ColumnValue">
              <td *ngFor="let h of fieldColumns">
                {{row[h.columnDef]}}
              </td>
              <td>
                <button (click)="Edit_Field($event)" value={{row.field_ID}}
                  style="background-color: green; color: white; outline: none; border: none; padding: 3px 15px; border-radius: 5px;"
                  class="submitbtn">Edit</button>
              </td>
              <td>
                <button (click)="Delete_Field($event)" value={{row.field_ID}}
                  style="background-color: rgb(188, 28, 28); color: white; outline: none; border: none; padding: 3px 15px; border-radius: 5px;"
                  class="submitbtn">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div
        style="width: 100%; display: flex; align-items: center; justify-content: end; margin: 20px 0 10px 0; padding-right: 30px;">
        <button (click)="firstPage()" mat-mini-fab style="background-color: grey;" [disabled]="selectedPage < 2">
          <mat-icon>keyboard_double_arrow_left</mat-icon>
        </button>
        <button [disabled]="selectedPage < 2" style="margin: 0 10px;" (click)="goPrev()" mat-raised-button>Prev</button>
        <div style="font-weight: 600; color: rgb(84, 92, 92);">Page <input
            style="width: 40px; padding: 5px 0 5px 10px; border: solid 3px dodgerblue; border-radius: 50px; outline: dodgerblue;"
            #pageInput type="text" [value]="selectedPage" (keyup)="genk.preventInput(pageInput); cdr.markForCheck()"
            (change)="changePage(pageInput.value)"> of {{pagenum}}</div>

        <button [disabled]="selectedPage >= pagenum" style="margin: 0 10px;" color="primary" (click)="goNext()"
          mat-raised-button>Next</button>
        <button [disabled]="selectedPage >= pagenum" (click)="lastPage()" mat-mini-fab color="primary">
          <mat-icon>keyboard_double_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <div *ngIf="isAddConcession" class="modal">
      <div [formGroup]='concessionFieldForm' (ngSubmit)="ConcessionSubmit()" class="modalbig">
        <div style="display: flex; align-items: center; background-color: rgb(53, 67, 67); color: white; text-align: center; font-weight: 500; font-size: 17px;">
          <div style="width: 95%; padding: 7px 0 0 3%;"><span>Add Concession</span></div>
          <div (click)="togAddConcession()" style="background-color: red; padding: 7px 0; width: 5%;"><span style="color: white;" class="material-icons">close</span></div>
        </div>
        <div style="padding: 0 20px;">
          <div>
            <div class="row mt-5">
              <div class="col-sm-4">
                <span style="font-size: 15px; font-weight: 500; color: rgb(34, 56, 56);">Concession Type </span>
                <select class="form-select" formControlName='consession_Type'
                  [(ngModel)]="concessionBody.consession_Type">
                  <option selected disabled>--Please Select concession type--<option>
                  <option *ngFor="let val of genk.concessiontype" value={{val.value}}>{{val.value}}</option>
                </select>
              </div>
              <div class="col-sm-4">
                <span style="font-size: 15px; color: rgb(34, 56, 56);">Concession Name</span>
                <input type="text" class="form-control" formControlName="concession_Held"
                  [(ngModel)]="concessionBody.concession_Held">
              </div>
              <div class="col-sm-4">
                <span style="font-size: 15px; color: rgb(34, 56, 56);">Equity Distribution</span>
                <input type="text" class="form-control" formControlName="equity_distribution"
                  [(ngModel)]="concessionBody.equity_distribution">
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-sm-4">
                <span style="font-size: 15px; color: rgb(34, 56, 56);">Area (Km2)</span>
                <input type="text" class="form-control" formControlName="area" [(ngModel)]="concessionBody.area">
              </div>
              <div class="col-sm-4">
                <span style="font-size: 15px; color: rgb(34, 56, 56);">Contract Type</span>
                <select id="time" class="form-select" formControlName="contract_Type"
                  [(ngModel)]="concessionBody.contract_Type">
                  <option selected disabled>--Please Select Categories--
                  <option>
                  <option *ngFor="let val of genk.contractType" value={{val.value}}>{{val.value}}</option>
                </select>
              </div>
              <div class="col-sm-4">
                <span style="font-size: 15px; color: rgb(34, 56, 56);">Date / Year of Award Grant
                </span>
                <input type="date" class="form-control" formControlName='year_of_Grant_Award'
                  [(ngModel)]="concessionBody.year_of_Grant_Award">
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-sm-4">
                <span style="font-size: 15px; color: rgb(34, 56, 56);">Date of Expiration</span>
                <input type="date" class="form-control" formControlName="date_of_Expiration"
                  [(ngModel)]="concessionBody.date_of_Expiration">
              </div>
              <div class="col-sm-4">
                <span style="font-size: 15px; color: rgb(34, 56, 56);">Geological
                  location/terrain</span>
                <input type="text" class="form-control" formControlName="geological_location"
                  [(ngModel)]="concessionBody.geological_location">
              </div>
              <div class="col-sm-4">
                <span style="font-size: 15px; color: rgb(34, 56, 56);">Comment</span>
                <textarea class="form-control" formControlName="comment"
                  [(ngModel)]="concessionBody.comment"></textarea>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-sm-4">
                <span style="font-size: 15px; color: rgb(34, 56, 56);">Concession Code </span>
                <input type="text" class="form-control" formControlName="concession_Unique_ID"
                  [(ngModel)]="concessionBody.concession_Unique_ID">
                <input type="number" style="display:none;" class="form-control" formControlName="consession_Id"
                  [(ngModel)]="concessionBody.consession_Id">


              </div>
            </div>
          </div>
          <div style="text-align: center;">
            <button (click)="ConcessionSubmit()" type="submit" style="background-color: teal; color:#fff; padding: 10px 30px; border-radius: 5px; border: none;">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isAddField" class="modal">
      <div [formGroup]="fieldForm" (ngSubmit)="FieldSubmit()" class="modalbig">
        <div style="display: flex; align-items: center; background-color: rgb(53, 67, 67); color: white; text-align: center; font-weight: 500; font-size: 17px;">
          <div style="width: 85%; padding: 7px 0 0 3%;"><span>Add Field</span></div>
          <div (click)="togAddField()" style="background-color: red; padding: 7px 0; width: 15%;"><span style="color: white;" class="material-icons">close</span></div>
        </div>
        <div>
          <div style="padding: 20px;">
            <div>
              <span style="font-size: 15px; font-weight: 500; color: rgb(34, 56, 56);">Concession</span>
              <select class="form-select" formControlName="concession_Name" [(ngModel)]="fieldBody.concession_Name">
                <option selected disabled>--Please Select concession--<option>
                <option *ngFor="let val of allConcessionsData" value={{val}}>{{val}}</option>
              </select>
            </div>
            <br>
            <div>
              <span style="font-size: 15px; font-weight: 500; color: rgb(34, 56, 56);">Field Name</span>
              <input type="text" class="form-control" formControlName="field_Name" [(ngModel)]="fieldBody.field_Name">
              <input type="number" style="display: none;" class="form-control" formControlName="field_ID" [(ngModel)]="fieldBody.field_ID">
            </div>
          </div>

          <div style="text-align: center;">
            <button class="btn px-5" type="submit" style="background-color:teal; color:#fff;" (click)="FieldSubmit()">Add Field</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


