.right{
    float: right;
    height: 85%;
    margin: 7% 5% 3% 0;
   
    line-height: 30px;
    line-height: 35px;
    text-align: right;
}

.left{
    float: left; height: 85%; margin: 5% 0; width: 30%;
}

.top{
    font-size: large;
    font-weight: 400;
}

.buttom{
    font-size: xx-large;
    font-weight: 400;
}


hr{
    width: 100%;
}

.below{
    float: left;font-size: 16px;font-style: italic;
}