.p-20{
height: 120px;
}
.bg-dark{

    background-color: #0e0d07!important;
}
.bg-warning{

    background-color: #a38f1b!important;
}
.bg-success{
    background-color: #073826!important;
}
.bg-primary{
    background-color: rgb(7, 7, 77)!important;
}
.media-body{
    margin-top: 35px!important;
    text-align: right;
    padding-right: 10px;
    color: white!important;
    text-decoration: none!important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left{
    float: left; height: 90%; margin: 5% 0; width: 35%;
}

.top{
    font-size: large;
    font-weight: 400;
    color: yellowgreen;
}

.buttom{
    font-size: xx-large;
    font-weight: 400;
}


hr{
    width: 100%;
    background-color: yellowgreen;
    height: 3px;
    color: yellowgreen;
    margin-bottom:5px;
}

.below{
    float: left;
    font-size: larger;
}

