<div style="margin-top:1%;">
<div *ngIf="genk.isAdmin" class="row">
  <div class="col-md-3">
    <div class="card bg-primary p-20">
        <div class="media widget-ten">
            <div class="media-left meida media-middle">
                <span><i class="ti-bag f-s-40"></i></span>
            </div>

               <div class="media-body media-text-right">
                <h2 class="color-white" style="font-weight:bold"> {{this.dashboardStuff.deskCount}} </h2>
                <p style="font-weight:bold"><a href="/application/mydesk" class="color-white"> My Desk </a></p>
        </div>
        </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card bg-warning p-20">
      <div class="media widget-ten">
          <div class="media-left meida media-middle">
              <span><i class="ti-bag f-s-40"></i></span>
          </div>
             <div class="media-body media-text-right">
              <h2 class="color-white" style="font-weight:bold"> {{this.dashboardStuff.allProcessingCount}}</h2>
              <p style="font-weight:bold"><a href="/application/allapplications" class="color-white"> Processing Applications </a></p>
             
      </div>
      </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card bg-dark p-20">
      <div class="media widget-ten">
          <div class="media-left meida media-middle">
              <span><i class="ti-bag f-s-40"></i></span>
          </div>
             <div class="media-body media-text-right">
              <h2 class="color-white" style="font-weight:bold"> {{this.dashboardStuff.allApplicationsCount}} </h2>
              <p style="font-weight:bold"><a href="/application/allapplications" class="color-white" > All Applications </a></p>
             
      </div>
      </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card bg-success p-20">
      <div class="media widget-ten">
          <div class="media-left meida media-middle">
              <span><i class="ti-bag f-s-40"></i></span>
          </div>
             <div class="media-body media-text-right">
              <h2 class="color-white" style="font-weight:bold"> {{this.dashboardStuff.allApprovalsCount}} </h2>
              <p style="font-weight:bold"><a href="/application/allapprovals" class="color-white"> All Approvals </a></p>
             
      </div>
      </div>
  </div>
</div>

</div>
<hr/>
<br/>
  <div
      style="text-align: center;margin: 0px auto;display:block; font-size: medium;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight: 300; text-shadow: 1px 1px 2px rgb(11, 43, 148);">
      <h1> WORK PROGRAMME </h1>
      <h1>Year 2022</h1>
  </div><br><br>
<div>
  <div style="display: flex; width: 100%;">
    <div style="width: 50%; background-color: white; padding: 5px; box-shadow: 0.5px 0.5px 2px rgb(0, 0, 0, 0.4); margin-right: 2%; border-radius: 15px; text-align: center;">
      <h2>Production Distribution on Monthly Basis</h2>
      <div #mychartbox1>
        <div #firstchart style="width: 100%; height: 500px"></div>
      </div>
    </div>

    <div style="width: 50%; background-color: white; padding: 5px; box-shadow: 0.5px 0.5px 2px rgb(0, 0, 0, 0.4); border-radius: 15px; text-align: center;">
      <h2>Percentage Oil Production By Contract Type</h2>
      <div #mychartbox2>
        <div #secondchart style="width: 100%; height: 500px"></div>
      </div>
    </div>

  </div>
</div>
<div style="width: 100%; text-align: center; margin: 5% 0;">
  <div style="width: 50%; margin: auto;  background-color: white; padding: 5px; box-shadow: 0.5px 0.5px 2px rgb(0, 0, 0, 0.4); border-radius: 15px; text-align: center;">
    <h2>Oil Production Distribution By Terrain</h2>
      <div class="col-md-12" #mychartbox3>
        <div #thirdchart style="width: 100%; height: 500px"></div>
      </div>
  </div>
</div>


  </div>
