<div style="background-color:rgb(226, 237, 235) ; border: solid 1px grey; border-radius: 50px; padding: 6%; box-shadow:5px 5px 10px rgb(0, 0, 0, 0.3); margin: 30px 50px 0 0;">
   
<div style="margin-top:3%;">
   <div style="text-align: center;margin: 0px auto;display:block; font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight: 300; text-shadow: 2px 2px 4px rgb(53, 53, 57);">
   <h1>  WORK PROGRAMME DATA UPLOAD</h1>
   <!-- <h1>  WORK PROGRAMME DATA UPLOAD - (2022 / 2023) </h1>  -->
    <!-- <h1>2022 / 2023</h1> -->
   </div><br><br><br>
   <div style="margin-left: 70px;">
    <h2> Please take note of the following : </h2> <br>
          
    
    <span style="color: rgb(175, 85, 11); font-weight: 700; font-size: 18px;">No show penalty is 250,000 Naira</span><br>
    <span style="color: rgb(175, 85, 11); font-weight: 700; font-size: 18px;">Failure to submit during the specified period will attract 50,000 Naira penalty</span>
   </div>
</div>
<div style="display: flex; margin: 70px 0 0 70px; border-radius: 50%; align-items:center;">
    <div class="divmid" style="margin-right: 10%;">
        <a style="display: flex; align-items: center; box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3); background-color: rgb(35, 124, 219); color: white; padding: 10px; text-decoration: none; border-radius: 15px;" href="assets/WORK%20PROGRAMME%20DATA%20UPLOAD%20GUIDE.docx" download>
            <span class="material-icons" style="margin-right: 5px;">save_alt</span> 
            <span> Download User Guide</span>
        </a>
    </div>

    <div class="divmid">
        <a style="display: flex; align-items: center; box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3); background-color: rgb(19, 131, 71); color: white; padding: 10px; text-decoration: none; border-radius: 15px;" href="assets/Work%20Programme%20Template%20Guide.xlsx" download>
            <span class="material-icons" style="margin-right: 5px;">save_alt</span> 
            <span> Download Template Guide</span>
        </a>
    </div>
</div>

</div> 

 
