<!-- <div>
    <form [formGroup]="resetPasswordForm" autocomplete="off">
        
                <div style="text-align: center; margin: 5% 0 10% 0;">
                    <span style="font-size:20px; font-weight: 700; color:rgb(243, 149, 149);">WORK PROGRAMME DATA UPLOAD - (2022 / 2023)
                        - (2022 / 2023) </span>
                </div>
    


            <div style="width: 40%; height: 100%; display: flex; justify-content: center;">

                <div style="padding-top: 25%;">
                    <div style="margin:auto">
                        <span style="font-size: 25px; font-style: italic; color: rgb(77, 77, 77);">Reset Password</span>
                    </div>
                    <div style="width: 90%;">
                        <div>
                            <tbody>
                                <tr>
                                    <td>
                                    <td class="style2" colspan="2">
                                        <span id="text" class="demacation"></span>
                                    </td>
                                   
                                <tr>
                                    <td>
                                        </td>
                                    <td class="style2">
                                        <span id="text"
                                            style="display:inline-block;width:130px;">Company Name</span>
                                    </td>
                                    <td>
                                        <input name="Company Name" type="text" value="" id="Company Name" class="form-control" style="width:150px;">

                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td>
                                    <td class="style2">
                                        
                                </tr>

                                <tr><td>&nbsp;</td>

                                    <td>
                                        <span style="display:inline-block;width:130px;">Company Email</span>
                                    </td>
                                    <td>
                                        <input name="TextBox14" type="text"value="company email@.com"class="form-control" style="width:150px;">

                                    </td>
                                    
                                    
                                </tr>
                                <tr>
                                    <td>&nbsp;</td><td class="style2">&nbsp;</td>
                                    
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;</td>
                                    <td colspan="4">
                                        <span style="display:inline-block;font-weight:bold;font-style:normal;width:430px;"></span>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;</td>
                                    <td colspan="4">
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;</td>
                                    <td class="style2">
                                        <span style="display:inline-block;width:130px;">Current Password</span>
                                    </td>
                                    <td>
                                        <input name="" type="password"id="TextBox10" class="form-control"style="width:150px;">
                                     </td>

                                </tr>

                                <tr>
                                    <td>&nbsp;</td> <td class="style2">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td>
                                        &nbsp;</td>
                                    <td class="style2">
                                        <span id="ContentPlaceHolder2_Label103"
                                            style="display:inline-block;width:130px;">New Password</span>
                                    </td>
                                    <td>
                                        <input name="TextBox11" type="password"id="TextBox11" class="form-control"style="width:150px;">
                                    </td>
                                </tr>

                                <tr>
                                    <td> &nbsp;</td> <td class="style2">&nbsp;</td>
                                    
                                </tr>
                                <tr>
                                    <td class="style1">
                                    </td>
                                    <td class="style3">
                                        <span id="Corfirm password"
                                            style="width:100px;">Confirm Password</span>
                                    </td>
                                       <td> <input name="Confirm Password" type="password"id="Confirm Password" class="form-control"style="width:150px;">
                                    </td>
                            
                                <tr>
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        <div style="width: 100%;; margin-right: 50%;">
                                                <input type="submit" name="Button2" value="Click Here to Reset Password" id="Button2"
                                                 style="background-color: dodgerblue; font-weight:bold; padding: 10px 20px; border-radius: 30px;
                                                  color: white; border: none; outline: none; box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3);">
                                            </div>
                                         
                                    </td>
                                    
                                </tr>
                               
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div> -->





<div class="container mt-5" style="background-color: white;">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
    <div class="container">
        <h1>Reset Password </h1>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>
    <div class="bg-success">
        <hr size="5">
    </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Company Name</h2>
                </div>
                <div class="col-sm-6"><input type="text" class="form-control" id="test" value="{{auth.currentUserValue?.companyName}}" ></div>
            </div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Company Email</h2>
                </div>
                <div class="col-sm-6"><input type="text" class="form-control" id="test" value="{{auth.currentUserValue?.companyEmail}}"></div>
            </div>
        </div>
    
        <div class="bg-success">
            <hr size="5">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Current Password</h2>
                </div>
                <div class="col-sm-6"><input type="password" class="form-control"  formControlName="currentPassword"></div>
            </div>
            
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>New Password</h2>
                </div>
                <div class="col-sm-6"><input type="password" class="form-control" formControlName="newPassword"></div>
            </div>
            <div class="col-md-5" style="color: red;">
                <em *ngIf="validateControl('newPassword') && hasError('newPassword', 'required')">Password is required</em>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Confirm Password</h2>
                </div>
                <div class="col-sm-6"><input type="password" class="form-control" formControlName="confirmNewPassword"></div>
            </div>
            <div class="col-md-5" style="color:red;">
                <em *ngIf="validateControl('confirmNewPassword') && hasError('confirmNewPassword', 'required')">Confirmation is required</em>
                <em *ngIf="hasError('confirmNewPassword', 'mustMatch')">Passwords must match</em>
            </div>
        </div>
    
    
    <div class="bg-success">
        <hr size="5">
    </div>
    
    <div class="container text-align-center d-flex justify-content-center p-5">
        <div class="col-sm-4">
        <input type="submit" *ngIf="!resetPasswordForm.valid"  [disabled]="!resetPasswordForm.valid" value="Reset Password" class="form-control text-align btn-info" style="color:rgb(9, 79, 104);"/>
        <button type="submit" *ngIf="resetPasswordForm.valid" class="btn alterbtn form-control text-white" >Submit</button>

       
    </div>
    </div>
    </div>
    </form>
    </div>