<h1 mat-dialog-title>Add / Edit Process Flow</h1>
<div mat-dialog-content class="modal-width">
  <form [formGroup]="form">
    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Triggered By(Role)</label>
      <select
        name="triggeredByRole"
        formControlName="triggeredByRole"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let role of roles" [ngValue]="role.id">
          {{ role.roleId }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('triggeredByRole')?.touched &&
          form.get('triggeredByRole')?.invalid
        "
        class="alert alert-danger"
      >
        Triggered By (Role) is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Triggered By(SBU)</label>
      <select
        name="triggeredBySBU"
        formControlName="triggeredBySBU"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let sbu of sbus" [ngValue]="sbu.id">
          {{ sbu.sbU_Name }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('triggeredBySBU')?.touched &&
          form.get('triggeredBySBU')?.invalid
        "
        class="alert alert-danger"
      >
        Triggered By(SBU) is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Target(Role)</label>
      <select
        name="targetedToRole"
        formControlName="targetedToRole"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let role of roles" [ngValue]="role.id">
          {{ role.roleId }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('targetedToRole')?.touched &&
          form.get('targetedToRole')?.invalid
        "
        class="alert alert-danger"
      >
        Target(Role) is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Target(SBU)</label>
      <select
        name="targetedToSBU"
        formControlName="targetedToSBU"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let sbu of sbus" [ngValue]="sbu.id">
          {{ sbu.sbU_Name }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('targetedToSBU')?.touched &&
          form.get('targetedToSBU')?.invalid
        "
        class="alert alert-danger"
      >
        Target(SBU) is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Action</label>
      <select
        name="processAction"
        formControlName="processAction"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let action of actions" [ngValue]="action">
          {{ action }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('processAction')?.touched &&
          form.get('processAction')?.invalid
        "
        class="alert alert-danger"
      >
        Action is required!
      </div>
    </div>

    <div class="fomr-group" style="margin-bottom: 10px">
      <label>Status</label>
      <select
        name="processStatus"
        formControlName="processStatus"
        class="form-control"
      >
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let status of statuses" [ngValue]="status">
          {{ status }}
        </option>
      </select>
      <div
        *ngIf="
          form.get('processStatus')?.touched &&
          form.get('processStatus')?.invalid
        "
        class="alert alert-danger"
      >
        Status is required!
      </div>
    </div>

    <!-- <div class="fomr-group" style="margin-bottom: 10px">
      <label>Tier</label>
      <select name="tier" formControlName="tier" class="form-control">
        <option value="none" selected disabled hidden>
          --Select from options --
        </option>
        <option *ngFor="let tier of tiers" [ngValue]="tier">
          {{ tier }}
        </option>
      </select>
      <div
        *ngIf="form.get('tier')?.touched && form.get('tier')?.invalid"
        class="alert alert-danger"
      >
        Tier is required!
      </div>
    </div> -->
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button
    *ngIf="!targetData"
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    (click)="addProcessFlow()"
  >
    Add
  </button>

  <button
    *ngIf="targetData"
    mat-raised-button
    [disabled]="form.invalid"
    (click)="editProcessFlow()"
  >
    Edit
  </button>
</div>
