<div
    style="background-color: white; border-radius: 5px; box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3); padding: 20px;">
    <h1 style="text-shadow: 1px 1px rgb(130, 23, 23); color: rgb(255, 157, 0); margin-left: 75%; font-size: 18px;">
        Note:*All Fields are Mandatory</h1>
    <div style="font-size: 25px; font-weight: 500; text-align: center; padding-bottom: 20px;">
        <span>REQUIREMENT</span>
    </div>
    <br>
    <hr size="5">
    <br>

    <div style="display: flex; width: 100%;">
        <label class="labelwp"> Planning Minimum Requirement</label>
    </div>
    <br>
    <hr size="5">
    <div style="display: flex; width: 100%;  justify-content: space-between;">
        <div style="display: flex; width: 100%;  justify-content: space-between;">
            <div style="width: 30%;">
                <label class="labelwp"> Reserves Revenue Gross Production</label><br>
                <div style="display: flex;">
                    <div
                        style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
                        <input formControlName="facility" type="text"
                            class="inpute">
                    </div>
                </div>
            </div>
            <div style="width: 30%;">
                <label class="labelwp">Reserves Revenue Remaining Reserves</label>
                <div style="display: flex; width: 100%;">
                    <div
                        style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
                        <input formControlName="study_type"  type="text"
                            class="inpute">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br>
    <div style="text-align: center;">
        <button  class="submitbtn">Add Planning Minimum Requirement </button>
    </div>
    <br><br>
    <hr> 


    <br><br>


    <div style="display: flex; width: 100%;">
        <label class="labelwp"> HSE Minimum Requirement</label>
    </div>
    <br>
    <hr size="5">
    <div style="display: flex; width: 100%;  justify-content: space-between;">
        <div style="display: flex; width: 100%;  justify-content: space-between;">
            <div style="width: 30%;">
                <label class="labelwp"> Provide ISO45001 Certification No ?</label>
                <div
                    style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; padding: 5px; border-radius: 20px;">

                    <select
                     class="dropwp">
                        <option selected disabled>---- Please Select an Option ----</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>
            <div style="width: 30%;">
                <label class="labelwp"> Provide_ISO45001_Certification_No</label>
                <div style="display: flex; width: 100%;">
                    <div
                        style="box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3); width: 100%; border-radius: 20px; padding: 7px 10px;">
                        <input formControlName="study_type"  type="text"
                            class="inpute">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br>
    <div style="text-align: center;">
        <button  class="submitbtn">Add Planning Minimum Requirement </button>
    </div>