<div
  style="
    background-color: white;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 0.5px rgb(0, 0, 0, 0.3);
    padding: 20px;
  "
>
  <h1
    style="
      text-shadow: 1px 1px rgb(130, 23, 23);
      color: rgb(255, 157, 0);
      margin-left: 75%;
      font-size: 18px;
    "
  >
    Note:*All Fields are Mandatory
  </h1>
  <div [formGroup]="SCDP_CSR_Form">
    <div
      style="
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        padding-bottom: 20px;
      "
    >
      <span>SUSTAINABLE COMMUNITY DEVELOPMENT PROJECT</span>
    </div>
    <br />
    <hr size="10" />
    <br />
    <div style="display: flex; width: 100%">
      <label class="labelwp">
        Sustainable Development / Community Project/ Program</label
      >
    </div>
    <br />
    <hr size="5" />

    <div style="display: flex; width: 100%">
      <div style="width: 30%">
        <label class="labelwp">Description of Projects [PLANNED]</label><br />
        <div style="display: flex">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="description_of_Projects_Actual"
              [(ngModel)]="scdp_csr_Body.description_of_Projects_Actual"
              [attr.disabled]="
                isEditable(
                  SBUTABLE.SCDP_SUSTAINABLE_DEVELOPMENT_COMMUNITY_PROJECTs
                )
              "
            />
          </div>
        </div>
      </div>

      <div style="width: 30%; margin-left: 5%">
        <label class="labelwp">Description of project [Existing]</label>
        <div style="display: flex; width: 100%">
          <div
            style="
              box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
              width: 100%;
              border-radius: 20px;
              padding: 7px 10px;
            "
          >
            <input
              type="text"
              class="inpute"
              formControlName="description_of_Projects_Planned"
              [(ngModel)]="scdp_csr_Body.description_of_Projects_Planned"
              [attr.disabled]="
                isEditable(
                  SBUTABLE.SCDP_SUSTAINABLE_DEVELOPMENT_COMMUNITY_PROJECTs
                )
              "
            />
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div style="text-align: center">
      <button
        (click)="SDCP_CSR_Submit()"
        class="submitbtn"
        [attr.disabled]="
          isEditable(SBUTABLE.SCDP_SUSTAINABLE_DEVELOPMENT_COMMUNITY_PROJECTs)
        "
      >
        Add Existing & Planned Projects
      </button>
    </div>
  </div>
  <br />

  <div *ngIf="sustainableCommunityDPCs.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of hscdpcColDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of sustainableCommunityDPCs">
            <td *ngFor="let colDef of hscdpcColDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_SDCP_CSR(row)"
                [attr.disabled]="
                  isEditable(
                    SBUTABLE.SCDP_SUSTAINABLE_DEVELOPMENT_COMMUNITY_PROJECTs
                  )
                "
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr size="10" />
  <br /><br />

  <div [formGroup]="SCDP_Question_Form">
    <div style="display: flex; width: 100%">
      <label class="labelwp">MOU Information</label>
    </div>
    <hr size="5" />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <br />
        <label class="labelwp">Have you submitted all MoUs to NUPRC?</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="input"
            type="inpute"
            formControlName="have_you_submitted_all_MoUs_to_DPR"
            [(ngModel)]="scdp_question_Body.have_you_submitted_all_MoUs_to_DPR"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_MOU_INFORMATIONs)"
          >
            <option selected disabled>---- Please Select an Option----</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
      <div style="width: 30%">
        <br />
        <label class="labelwp">If NO, Give Reason</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="if_NO_why"
            [(ngModel)]="scdp_question_Body.if_NO_why"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_MOU_INFORMATIONs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp"
          >Do you have an MOU with the communities for all your assets?</label
        >
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="input"
            type="inpute"
            formControlName="do_you_have_an_MOU_with_the_communities_for_all_your_assets"
            [(ngModel)]="
              scdp_question_Body.do_you_have_an_MOU_with_the_communities_for_all_your_assets
            "
            [attr.disabled]="isEditable(SBUTABLE.SCDP_MOU_INFORMATIONs)"
          >
            <option selected disabled>---- Please Select a Option----</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp"
          >Do you have in place, MOU with oil spill responders?</label
        >
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="input"
            type="inpute"
            formControlName="mOUResponderInPlace"
            [(ngModel)]="scdp_question_Body.mOUResponderInPlace"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_MOU_INFORMATIONs)"
          >
            <option selected disabled>---- Please Select an Option----</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Upload evidence of MOU with responders</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="file"
            formControlName="mOUResponderFilePath"
            accept=".pdf, .doc, .docx, .rtf, .htm, .html, .txt, .xlsx"
            (change)="saveResponderDoc($event)"
            class="inpute"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_MOU_INFORMATIONs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Upload OSCP document</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="file"
            formControlName="mOUOSCPFilePath"
            accept=".pdf, .doc, .docx, .rtf, .htm, .html, .txt, .xlsx"
            (change)="saveOSCPDoc($event)"
            class="inpute"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_MOU_INFORMATIONs)"
          />
        </div>
      </div>
    </div>
    <br />
    <br /><br />
    <div style="text-align: center">
      <button
        (click)="SDCP_Question_Submit()"
        class="submitbtn"
        [attr.disabled]="isEditable(SBUTABLE.SCDP_MOU_INFORMATIONs)"
      >
        Save MOU Information
      </button>
    </div>
  </div>
  <br />

  <div *ngIf="mouQuestions.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of hmouColDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of mouQuestions">
            <td *ngFor="let colDef of hmouColDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_SDCP_Question(row)"
                [attr.disabled]="isEditable(SBUTABLE.SCDP_MOU_INFORMATIONs)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr size="10" />
  <br /><br />

  <div [formGroup]="SCDP_MOU_Form">
    <div style="display: flex; width: 100%">
      <label class="labelwp">Project Details</label>
    </div>
    <hr size="5" />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Type of Project to be executed</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="type_of_project_excuted"
            [(ngModel)]="scdp_mou_Body.type_of_project_excuted"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_PROJECT_DETAILSs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Project Location</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="project_Location"
            [(ngModel)]="scdp_mou_Body.project_Location"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_PROJECT_DETAILSs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Year GMoU was signed</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="date"
            class="inpute"
            formControlName="year_GMou_was_signed"
            [(ngModel)]="scdp_mou_Body.year_GMou_was_signed"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_PROJECT_DETAILSs)"
          />
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Component of project</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="component_of_project"
            [(ngModel)]="scdp_mou_Body.component_of_project"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_PROJECT_DETAILSs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Actual Budget Total ($)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)"
            class="inpute"
            formControlName="actual_Budget_Total_Dollars"
            [(ngModel)]="scdp_mou_Body.actual_Budget_Total_Dollars"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_PROJECT_DETAILSs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Status of project</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="input"
            type="inpute"
            formControlName="status_Of_Project"
            [(ngModel)]="scdp_mou_Body.status_Of_Project"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_PROJECT_DETAILSs)"
          >
            <option selected disabled>---- Please Select a Category----</option>
            <option value="Ongoing">Ongoing</option>
            <option value="Completed">Completed</option>
          </select>
        </div>
      </div>
    </div>
    <br />

    <div style="display: flex; width: 100%">
      <div style="width: 30%">
        <label class="labelwp">Beneficiary Community</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="beneficiary_Community"
            [(ngModel)]="scdp_mou_Body.beneficiary_Community"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_PROJECT_DETAILSs)"
          />
        </div>
      </div>
      <div style="width: 30%; margin-left: 5%">
        <label class="labelwp">Upload GMoU</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="file"
            formControlName="gMOUFilePath"
            accept=".pdf, .doc, .docx, .rtf, .htm, .html, .txt, .xlsx"
            (change)="saveGMOUDoc($event)"
            class="inpute"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_PROJECT_DETAILSs)"
          />
        </div>
      </div>
    </div>
    <br /><br />
    <div style="text-align: center">
      <button
        (click)="SDCP_MOU_Submit()"
        class="submitbtn"
        [attr.disabled]="isEditable(SBUTABLE.SCDP_PROJECT_DETAILSs)"
      >
        Save MOU Projects
      </button>
    </div>
  </div>
  <br />

  <div *ngIf="mouProjects.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of hmoupColDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of mouProjects">
            <td *ngFor="let colDef of hmoupColDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_SDCP_MOU(row)"
                [attr.disabled]="isEditable(SBUTABLE.SCDP_PROJECT_DETAILSs)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr size="10" />
  <br /><br />
  <br />

  <div [formGroup]="SCDP_CapitalProjects_Form">
    <div style="display: flex; width: 100%">
      <label class="labelwp">Capital Projects</label>
    </div>
    <hr size="5" />
    <div style="width: 30%">
      <label class="labelwp">Please provide values for the Proposed year</label>
      <div
        style="
          box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
          width: 100%;
          padding: 5px;
          border-radius: 20px;
        "
      >
        <select
          class="input"
          type="inpute"
          formControlName="actual_proposed"
          [(ngModel)]="scdp_capitalprojects_Body.actual_proposed"
          [attr.disabled]="isEditable(SBUTABLE.SCDP_CAPITAL_PROJECTSs)"
        >
          <option selected disabled>---- Please Select value ----</option>
          <option value="Actual">Actual</option>
          <option value="Proposed">Proposed</option>
        </select>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Project Title</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="cSR_"
            [(ngModel)]="scdp_capitalprojects_Body.cSR_"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_CAPITAL_PROJECTSs)"
          />
        </div>
      </div>
      <div style="width: 30%; margin-left: 5%">
        <label class="labelwp">Planned Budget Total ($)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)"
            class="inpute"
            formControlName="budget_"
            [(ngModel)]="scdp_capitalprojects_Body.budget_"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_CAPITAL_PROJECTSs)"
          />
        </div>
      </div>
      <div style="width: 30%; margin-left: 5%">
        <label class="labelwp">Actual (Budget)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)"
            class="inpute"
            formControlName="actual_Spent"
            [(ngModel)]="scdp_capitalprojects_Body.actual_Spent"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_CAPITAL_PROJECTSs)"
          />
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%">
      <div style="width: 30%">
        <label class="labelwp">Percentage Completion</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            class="inpute"
            formControlName="percentage_Completion_"
            [(ngModel)]="scdp_capitalprojects_Body.percentage_Completion_"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_CAPITAL_PROJECTSs)"
          />
        </div>
      </div>
      <div style="width: 30%; margin-left: 5%">
        <label class="labelwp">Beneficiary Communities</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="beneficiary_Communities"
            [(ngModel)]="scdp_capitalprojects_Body.beneficiary_Communities"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_CAPITAL_PROJECTSs)"
          />
        </div>
      </div>
    </div>
    <br /><br />
    <div style="text-align: center">
      <button
        (click)="SDCP_Capital_Submit()"
        class="submitbtn"
        [attr.disabled]="isEditable(SBUTABLE.SCDP_CAPITAL_PROJECTSs)"
      >
        Add Capital Projects
      </button>
    </div>
  </div>
  <br />

  <div *ngIf="capitalProjects.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of hcpColDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of capitalProjects">
            <td *ngFor="let colDef of hcpColDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_SDCP_Capital(row)"
                [attr.disabled]="isEditable(SBUTABLE.SCDP_CAPITAL_PROJECTSs)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr size="10" />
  <br /><br />
  <br />

  <div [formGroup]="SCDP_Scholarship_CSR_Form">
    <div style="display: flex; width: 100%">
      <label class="labelwp">Scholarships</label>
    </div>
    <hr size="5" />
    <div style="width: 30%">
      <label class="labelwp">Please provide values for the Proposed year</label>
      <div
        style="
          box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
          width: 100%;
          padding: 5px;
          border-radius: 20px;
        "
      >
        <select
          class="input"
          type="inpute"
          formControlName="actual_proposed"
          [(ngModel)]="scdp_scholarship_csr_Body.actual_proposed"
          [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIPSs)"
        >
          <option selected disabled>---- Please Select value ----</option>
          <option value="Actual">Actual</option>
          <option value="Proposed">Proposed</option>
        </select>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Project Title</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="cSR_"
            [(ngModel)]="scdp_scholarship_csr_Body.cSR_"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIPSs)"
          />
        </div>
      </div>
      <div style="width: 30%; margin-left: 5%">
        <label class="labelwp">Planned Budget Total ($)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)"
            class="inpute"
            formControlName="budget_"
            [(ngModel)]="scdp_scholarship_csr_Body.budget_"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIPSs)"
          />
        </div>
      </div>
      <div style="width: 30%; margin-left: 5%">
        <label class="labelwp">Actual (Budget)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)"
            class="inpute"
            formControlName="actual_Spent"
            [(ngModel)]="scdp_scholarship_csr_Body.actual_Spent"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIPSs)"
          />
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Percentage Completion</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            class="inpute"
            formControlName="percentage_Completion_"
            [(ngModel)]="scdp_scholarship_csr_Body.percentage_Completion_"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIPSs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Beneficiary (Host) </label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="beneficiary_Communities_host"
            [(ngModel)]="scdp_scholarship_csr_Body.beneficiary_Communities_host"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIPSs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Beneficiary (National)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="beneficiary_Communities_National"
            [(ngModel)]="
              scdp_scholarship_csr_Body.beneficiary_Communities_National
            "
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIPSs)"
          />
        </div>
      </div>
    </div>
    <br /><br />
    <div style="text-align: center">
      <button
        (click)="SDCP_Scholarship_CSR_Submit()"
        class="submitbtn"
        [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIPSs)"
      >
        Add Scholarship
      </button>
    </div>
  </div>
  <br />

  <div *ngIf="scholarships.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of hsColDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of scholarships">
            <td *ngFor="let colDef of hsColDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_HSE_SDCP_ScholarshipCSR(row)"
                [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIPSs)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr size="10" />
  <br /><br />

  <div [formGroup]="SCDP_Scholarship_Form">
    <div style="display: flex; width: 100%">
      <label class="labelwp">Scholarship Schemes</label>
    </div>
    <hr size="5" />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Name of community</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="nameOfCommunity"
            [(ngModel)]="scdp_scholarship_Body.nameOfCommunity"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIP_SCHEMESs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Year GMoU was signed</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="date"
            class="inpute"
            formControlName="year_GMou_was_signed"
            [(ngModel)]="scdp_scholarship_Body.year_GMou_was_signed"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIP_SCHEMESs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Scholarship year</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="date"
            class="inpute"
            formControlName="scholarshipYear"
            [(ngModel)]="scdp_scholarship_Body.scholarshipYear"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIP_SCHEMESs)"
          />
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Components of scholarship (Primary etc)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="componentOfScholarship"
            [(ngModel)]="scdp_scholarship_Body.componentOfScholarship"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIP_SCHEMESs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Total Proposed Budget (USD)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)"
            class="inpute"
            formControlName="actual_Budget_Total_Dollars"
            [(ngModel)]="scdp_scholarship_Body.actual_Budget_Total_Dollars"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIP_SCHEMESs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Upload beneficiaries & contact</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="file"
            formControlName="sSUploadFilePath"
            accept=".pdf, .doc, .docx, .rtf, .htm, .html, .txt, .xlsx"
            (change)="saveBenefDoc($event)"
            class="inpute"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIP_SCHEMESs)"
          />
        </div>
      </div>
    </div>
    <br /><br />
    <div style="text-align: center">
      <button
        (click)="SDCP_Scholarship_Submit()"
        class="submitbtn"
        [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIP_SCHEMESs)"
      >
        Add Scheme
      </button>
    </div>
  </div>
  <br />

  <div *ngIf="scholarshipSchemes.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of hssColDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of scholarshipSchemes">
            <td *ngFor="let colDef of hssColDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_HSE_SDCP_Sch(row)"
                [attr.disabled]="isEditable(SBUTABLE.SCDP_SCHOLARSHIP_SCHEMESs)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr size="10" />
  <br /><br />
  <div [formGroup]="SCDP_TrainingSkills_CSR_Form">
    <div style="display: flex; width: 100%">
      <label class="labelwp">Trainings and Skill Acquisition</label>
    </div>
    <hr size="5" />
    <div style="width: 30%">
      <label class="labelwp">Please provide values for the Proposed year</label>
      <div
        style="
          box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
          width: 100%;
          padding: 5px;
          border-radius: 20px;
        "
      >
        <select
          class="input"
          type="inpute"
          formControlName="actual_proposed"
          [(ngModel)]="scdp_trainingskills_csr_Body.actual_proposed"
          [attr.disabled]="
            isEditable(SBUTABLE.SCDP_TRAININGS_AND_SKILL_ACQUISITIONs)
          "
        >
          <option selected disabled>---- Please Select Option ----</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
        </select>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Project Title</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="cSR_"
            [(ngModel)]="scdp_trainingskills_csr_Body.cSR_"
            [attr.disabled]="
              isEditable(SBUTABLE.SCDP_TRAININGS_AND_SKILL_ACQUISITIONs)
            "
          />
        </div>
      </div>
      <div style="width: 30%; margin-left: 5%">
        <label class="labelwp">Planned (Budget)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)"
            class="inpute"
            formControlName="budget_"
            [(ngModel)]="scdp_trainingskills_csr_Body.budget_"
            [attr.disabled]="
              isEditable(SBUTABLE.SCDP_TRAININGS_AND_SKILL_ACQUISITIONs)
            "
          />
        </div>
      </div>
      <div style="width: 30%; margin-left: 5%">
        <label class="labelwp">Actual (Budget)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)"
            class="inpute"
            formControlName="actual_Spent"
            [(ngModel)]="scdp_trainingskills_csr_Body.actual_Spent"
            [attr.disabled]="
              isEditable(SBUTABLE.SCDP_TRAININGS_AND_SKILL_ACQUISITIONs)
            "
          />
        </div>
      </div>
    </div>
    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Percentage Completion</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            class="inpute"
            formControlName="percentage_Completion_"
            [(ngModel)]="scdp_trainingskills_csr_Body.percentage_Completion_"
            [attr.disabled]="
              isEditable(SBUTABLE.SCDP_TRAININGS_AND_SKILL_ACQUISITIONs)
            "
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Beneficiary (Host)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="beneficiary_Communities_host"
            [(ngModel)]="
              scdp_trainingskills_csr_Body.beneficiary_Communities_host
            "
            [attr.disabled]="
              isEditable(SBUTABLE.SCDP_TRAININGS_AND_SKILL_ACQUISITIONs)
            "
          />
        </div>
      </div>

      <div style="width: 30%">
        <label class="labelwp">Beneficiary (National)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="beneficiary_Communities_National"
            [(ngModel)]="
              scdp_trainingskills_csr_Body.beneficiary_Communities_National
            "
            [attr.disabled]="
              isEditable(SBUTABLE.SCDP_TRAININGS_AND_SKILL_ACQUISITIONs)
            "
          />
        </div>
      </div>
    </div>

    <br /><br />

    <div style="text-align: center">
      <button
        (click)="SDCP_Training_Skills_CSR_Submit()"
        class="submitbtn"
        [attr.disabled]="
          isEditable(SBUTABLE.SCDP_TRAININGS_AND_SKILL_ACQUISITIONs)
        "
      >
        Add Trainings & Skill Acquisition
      </button>
    </div>
  </div>
  <br />

  <div *ngIf="trainingSkillsAndAcquisitions.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of htsaColDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of trainingSkillsAndAcquisitions">
            <td *ngFor="let colDef of htsaColDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_HSE_SDCP_TrainingSkills(row)"
                [attr.disabled]="
                  isEditable(SBUTABLE.SCDP_TRAININGS_AND_SKILL_ACQUISITIONs)
                "
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr size="10" />
  <br /><br />

  <div [formGroup]="SCDP_TrainingDetails_CSR_Form">
    <div style="display: flex; width: 100%">
      <label class="labelwp">Training Details</label>
    </div>
    <hr size="5" />

    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Name of Community</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="nameOfCommunity"
            [(ngModel)]="scdp_trainingdetails_csr_Body.nameOfCommunity"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_TRAINING_DETAILSs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Year GMoU was signed</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="date"
            class="inpute"
            formControlName="year_GMou_was_signed"
            [(ngModel)]="scdp_trainingdetails_csr_Body.year_GMou_was_signed"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_TRAINING_DETAILSs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Training year</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="date"
            class="inpute"
            formControlName="trainingYear"
            [(ngModel)]="scdp_trainingdetails_csr_Body.trainingYear"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_TRAINING_DETAILSs)"
          />
        </div>
      </div>
    </div>

    <br />
    <div style="display: flex; width: 100%; justify-content: space-between">
      <div style="width: 30%">
        <label class="labelwp">Components of Training</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            type="text"
            class="inpute"
            formControlName="componentOfTraining"
            [(ngModel)]="scdp_trainingdetails_csr_Body.componentOfTraining"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_TRAINING_DETAILSs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Total Proposed Budget (USD)</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <input
            (keypress)="genk.restrictData($event)"
            (keyup)="genk.formatCurrency($event)"
            class="inpute"
            formControlName="actual_Budget_Total_Dollars"
            [(ngModel)]="
              scdp_trainingdetails_csr_Body.actual_Budget_Total_Dollars
            "
            [attr.disabled]="isEditable(SBUTABLE.SCDP_TRAINING_DETAILSs)"
          />
        </div>
      </div>
      <div style="width: 30%">
        <label class="labelwp">Project Status</label>
        <div
          style="
            box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
            width: 100%;
            padding: 5px;
            border-radius: 20px;
          "
        >
          <select
            class="input"
            type="inpute"
            formControlName="statusOfTraining"
            [(ngModel)]="scdp_trainingdetails_csr_Body.statusOfTraining"
            [attr.disabled]="isEditable(SBUTABLE.SCDP_TRAINING_DETAILSs)"
          >
            <option selected disabled>---- Please Select Category ----</option>
            <option value="Ongoing">Ongoing</option>
            <option value="Completed">Completed</option>
          </select>
        </div>
      </div>
    </div>
    <br />

    <div style="width: 30%">
      <label class="labelwp">Upload Beneficiaries & Contact Details</label>
      <div
        style="
          box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
          width: 100%;
          padding: 5px;
          border-radius: 20px;
        "
      >
        <input
          type="file"
          formControlName="tSUploadFilePath"
          accept=".pdf, .doc, .docx, .rtf, .htm, .html, .txt, .xlsx"
          (change)="saveBenefDoc_2($event)"
          class="inpute"
          [attr.disabled]="isEditable(SBUTABLE.SCDP_TRAINING_DETAILSs)"
        />
      </div>
    </div>

    <br /><br />
    <div style="text-align: center">
      <button
        (click)="SDCP_Training_Details_CSR_Submit()"
        class="submitbtn"
        [attr.disabled]="isEditable(SBUTABLE.SCDP_TRAINING_DETAILSs)"
      >
        Add Trainings
      </button>
    </div>
  </div>
  <br />

  <div *ngIf="trainingSkillAndDetails.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of htsdColDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of trainingSkillAndDetails">
            <td *ngFor="let colDef of htsdColDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_HSE_SDCP_TrainingSCR(row)"
                [attr.disabled]="isEditable(SBUTABLE.SCDP_TRAINING_DETAILSs)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr size="10" />
  <br />
  <div [formGroup]="SCDP_Pictures_CSR_Form">
    <div style="display: flex; width: 100%">
      <label class="labelwp">Pictures For Community Development Projects</label>
    </div>
    <hr size="5" />
    <div style="width: 30%">
      <label class="labelwp"
        >Only jpeg , png , bmp,gif images / pictures are required</label
      >
      <div
        style="
          box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.3);
          width: 100%;
          padding: 5px;
          border-radius: 20px;
        "
      >
        <input
          type="file"
          formControlName="uploaded_presentation"
          accept=".pdf, .doc, .docx, .rtf, .htm, .html, .txt, .xlsx"
          (change)="savePictureDoc($event)"
          class="inpute"
          [attr.disabled]="
            isEditable(
              SBUTABLE.SCDP_PICTURES_FOR_COMMUNITY_DEVELOPMENT_PROJECTSs
            )
          "
        />
      </div>
    </div>

    <br /><br />
    <div style="text-align: center">
      <button
        (click)="SDCP_Pictures_Submit()"
        class="submitbtn"
        [attr.disabled]="
          isEditable(SBUTABLE.SCDP_PICTURES_FOR_COMMUNITY_DEVELOPMENT_PROJECTSs)
        "
      >
        Click Here To Upload Picture
      </button>
    </div>
  </div>
  <br />

  <div *ngIf="picturesForCommunityDevelopments.length > 0" class="wptablebox">
    <div class="apptable">
      <table class="wptable">
        <thead>
          <tr>
            <th *ngFor="let h of hpcdColDef">
              {{ h.header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of picturesForCommunityDevelopments">
            <td *ngFor="let colDef of hpcdColDef">
              {{ row[colDef.columnDef] }}
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm submitbtn"
                (click)="Delete_HSE_SDCP_Pictures(row)"
                [attr.disabled]="
                  isEditable(
                    SBUTABLE.SCDP_PICTURES_FOR_COMMUNITY_DEVELOPMENT_PROJECTSs
                  )
                "
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr size="10" />
  <br /><br />

  <div style="text-align: center">
    <button
      [routerLink]="[
        '/' + genk.company,
        genk.workprogram,
        'step5',
        'nigeriacontent'
      ]"
      class="nextbtn"
    >
      Next
    </button>
  </div>
</div>
