<div style="background-color: rgb(218, 218, 227)">
  <div style="background-color: rgb(218, 218, 227)">
    <div
      style="
        margin: 1% 0 4% 0;
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
      "
    >
      <div [routerLink]="['/application', 'mydesk']" style="margin-right: 30px">
        <div
          style="
            display: flex;
            align-items: center;
            padding: 25px 80px;
            background-color: white;
            font-size: 18px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            font-weight: 600;
            border-radius: 5px 5px 5px 5px;
            color: rgb(50, 85, 99);
            box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
          "
        >
          <div>
            <div>
              <div style="display: flex; justify-content: center">
                <div *ngIf="this.dashboardStuff?.deskCount">
                  <span
                    style="
                      font-weight: bold;
                      padding: 2px 7px;
                      border-radius: 20px;
                      background-color: red;
                      color: white;
                    "
                    >{{ this.dashboardStuff?.deskCount }}</span
                  >
                </div>

                <div style="font-weight: bold">
                  <span
                    class="material-icons"
                    style="
                      font-size: 45px;
                      color: rgb(227, 108, 64);
                      margin-bottom: 10px;
                    "
                  >
                    computer
                  </span>
                </div>
              </div>
              <div>
                <span> My Desk </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        [routerLink]="['/application', 'allapplications']"
        style="margin-right: 30px"
      >
        <div
          style="
            display: flex;
            align-items: center;
            padding: 25px 15px;
            background-color: white;
            font-size: 18px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            font-weight: 600;
            border-radius: 5px 5px 5px 5px;
            color: rgb(50, 85, 99);
            box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
          "
        >
          <div>
            <div>
              <div style="display: flex; justify-content: center">
                <div *ngIf="this.dashboardStuff?.allProcessingCount">
                  <span
                    style="
                      font-weight: bold;
                      padding: 2px 7px;
                      border-radius: 20px;
                      background-color: red;
                      color: white;
                    "
                    >{{ this.dashboardStuff?.allProcessingCount }}</span
                  >
                </div>

                <div style="font-weight: bold">
                  <span
                    class="material-icons"
                    style="
                      font-size: 45px;
                      color: rgb(227, 108, 64);
                      margin-bottom: 10px;
                    "
                    >hourglass_top
                  </span>
                </div>
              </div>
              <div>
                <span>Processing Applications </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        [routerLink]="['/application', 'allapplications']"
        style="margin-right: 30px"
      >
        <div
          style="
            display: flex;
            align-items: center;
            padding: 25px 50px;
            background-color: white;
            font-size: 18px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            font-weight: 600;
            border-radius: 5px 5px 5px 5px;
            color: rgb(50, 85, 99);
            box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
          "
        >
          <div>
            <div>
              <div style="display: flex; justify-content: center">
                <div *ngIf="this.dashboardStuff?.allApplicationsCount">
                  <span
                    style="
                      font-weight: bold;
                      padding: 2px 7px;
                      border-radius: 20px;
                      background-color: red;
                      color: white;
                    "
                    >{{ this.dashboardStuff?.allApplicationsCount }}</span
                  >
                </div>

                <div style="font-weight: bold">
                  <span
                    class="material-icons"
                    style="
                      font-size: 45px;
                      color: rgb(227, 108, 64);
                      margin-bottom: 10px;
                    "
                    >library_books
                  </span>
                </div>
              </div>
              <div>
                <span>All Applications </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        [routerLink]="['/application', 'allapprovals']"
        style="margin-right: 30px"
      >
        <div
          style="
            display: flex;
            align-items: center;
            padding: 25px 60px;
            background-color: white;
            font-size: 18px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            font-weight: 600;
            border-radius: 5px 5px 5px 5px;
            color: rgb(50, 85, 99);
            box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
          "
        >
          <div>
            <div>
              <div style="display: flex; justify-content: center">
                <div *ngIf="this.dashboardStuff?.allApprovalsCount">
                  <span
                    style="
                      font-weight: bold;
                      padding: 2px 7px;
                      border-radius: 20px;
                      background-color: red;
                      color: white;
                    "
                    >{{ this.dashboardStuff?.allApprovalsCount }}</span
                  >
                </div>

                <div style="font-weight: bold">
                  <span
                    class="material-icons"
                    style="
                      font-size: 45px;
                      color: rgb(227, 108, 64);
                      margin-bottom: 10px;
                    "
                    >done_all
                  </span>
                </div>
              </div>
              <div>
                <span>All Approvals </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div
      style="
        text-align: center;
        margin: 0px auto;
        display: block;
        font-size: medium;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 300;
        text-shadow: 1px 1px 2px rgb(11, 43, 148);
      "
    >
      <h1>WORK PROGRAMME</h1>
      <h1>Year 2023</h1>
    </div>
    <div style="display: flex; justify-content: space-between">
      <div
        style="
          display: flex;
          align-items: center;
          padding: 10px 20px;
          font-size: 18px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
          font-weight: 600;
          border-radius: 0 0 10px 10px;
          color: rgb(50, 85, 99);
          background-color: white;
          box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
        "
      >
        <span
          class="material-icons"
          style="font-size: 45px; color: rgb(227, 108, 64); margin-right: 12px"
          >widgets</span
        >
        <span>{{ auth.currentUserValue.companyName }}</span>
      </div>
      <div
        style="
          display: flex;
          align-items: center;
          padding: 10px 20px;
          font-size: 18px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
          font-weight: 600;
          border-radius: 0 0 10px 10px;
          color: rgb(50, 85, 99);
          background-color: white;
          box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
        "
      >
        <span
          class="material-icons"
          style="font-size: 45px; color: rgb(227, 108, 64); margin-right: 12px"
          >schedule</span
        >
        <span>Year: {{ previousYear - 1 }}/{{ previousYear }}</span>
      </div>
    </div>

    <div>
      <div style="display: inline-flex; flex-wrap: wrap; width: 100%">
        <div class="dashtop" style="background-color: rgb(27, 94, 146)">
          <div class="dashtopsec" style="border-bottom: solid 1px silver">
            <div class="divcent">
              <div style="padding-left: 10px">
                <span class="material-icons dashicon">token</span>
              </div>

              <div class="dashtext">
                <span class="dashnum">{{
                  dashboardGasBudgetAndReserve.reserveOilCondensate
                }}</span
                ><span>BBL</span><br /><br />
                <span class="dashnumtext">OIL & CONDENSATE</span>
              </div>
            </div>
          </div>
          <div class="dashbase" style="color: gainsboro">
            <span>OIL RESERVES (ANNUAL)</span>
          </div>
        </div>

        <div class="dashtop" style="background-color: rgb(19, 124, 105)">
          <div class="dashtopsec" style="border-bottom: solid 1px silver">
            <div class="divcent">
              <div style="padding-left: 10px">
                <span class="material-icons dashicon">whatshot</span>
              </div>

              <div class="dashtext">
                <span class="dashnum">{{
                  dashboardGasBudgetAndReserve.reserveAGNAG
                }}</span
                ><span>BBL</span><br /><br />
                <span class="dashnumtext">AG & NAG</span>
              </div>
            </div>
          </div>
          <div class="dashbase" style="color: gainsboro">
            <span>GAS RESERVES (ANNUAL)</span>
          </div>
        </div>

        <div class="dashtop">
          <div class="dashtopsec">
            <div class="divcent">
              <div style="padding-left: 10px">
                <span class="material-icons dashicon">microwave</span>
              </div>

              <div class="dashtext">
                <span class="dashnum"
                  >&#36;{{ dashboardGasBudgetAndReserve.prodCost }}</span
                ><br /><br />
                <span class="dashnumtext">PRODUCTION COST</span>
              </div>
            </div>
          </div>
          <div class="dashbase">
            <span>BUDGET PERFORMANCE</span>
          </div>
        </div>

        <div class="dashtop" style="background-color: rgb(104, 111, 127)">
          <div
            class="dashtopsec"
            style="border-bottom: solid 1px silver; height: 88%"
          >
            <div class="divcent">
              <div style="padding-left: 10px">
                <span class="material-icons dashicon">join_inner</span>
              </div>

              <div class="dashtext" style="padding: 0 42px">
                <span class="dashnum">{{ dashboardBody.opL_Count }}</span
                ><br /><br />
                <span class="dashnumtext">TOTAL OPLs</span>
              </div>
            </div>
          </div>
          <div class="dashbase" style="color: gainsboro">
            <span>OIL PROSPECTING LICENSE (OPL)</span>
          </div>
        </div>

        <div class="dashtop" style="background-color: rgb(145, 51, 62)">
          <div
            class="dashtopsec"
            style="border-bottom: solid 1px silver; height: 88%"
          >
            <div class="divcent">
              <div style="padding-left: 10px">
                <span class="material-icons dashicon">join_inner</span>
              </div>

              <div class="dashtext" style="padding: 0 40px">
                <span class="dashnum">{{ dashboardBody.omL_Count }}</span
                ><br /><br />
                <span class="dashnumtext">TOTAL OMLs</span>
              </div>
            </div>
          </div>
          <div class="dashbase" style="color: gainsboro">
            <span>OIL MINING LICENSE (OML)</span>
          </div>
        </div>

        <div class="dashtop" style="background-color: rgb(93, 47, 120)">
          <div
            class="dashtopsec"
            style="border-bottom: solid 1px silver; height: 88%"
          >
            <div class="divcent">
              <div style="padding-left: 10px">
                <span class="material-icons dashicon">opacity</span>
              </div>

              <div class="dashtext" style="padding: 0 40px">
                <span class="dashnum">{{
                  dashboardBody.no_Of_ProducingFields_Count
                }}</span
                ><br /><br />
                <span class="dashnumtext">TOTAL FIELDS</span>
              </div>
            </div>
          </div>
          <div class="dashbase" style="color: gainsboro">
            <span>PRODUCING FIELDS</span>
          </div>
        </div>
      </div>
      <br /><br /><br />
    </div>

    <div>
      <div style="display: flex; margin-bottom: 30px">
        <div
          style="
            display: flex;
            align-items: center;
            padding: 10px 20px;
            font-size: 18px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            font-weight: 600;
            border-radius: 0 0 10px 10px;
            color: rgb(50, 85, 99);
            background-color: white;
            box-shadow: 2px 2px 4px 1px rgb(0, 0, 0, 0.3);
          "
        >
          <span
            class="material-icons"
            style="
              font-size: 45px;
              color: rgb(227, 108, 64);
              margin-right: 12px;
            "
            >schedule</span
          >
          <span>Year: {{ previousYear - 1 }}/{{ previousYear }}</span>
        </div>
      </div>

      <div style="display: flex; width: 100%">
        <div
          style="
            width: 48%;
            background-color: white;
            padding: 10px 0 0 0;
            box-shadow: 2px 2px 6px 2px rgb(0, 0, 0, 0.3);
            margin-right: 2%;
            border-radius: 5px;
            text-align: center;
          "
        >
          <span style="color: darkslategrey; font-weight: 900; font-size: 18px"
            >Total Oil Producduction by Month</span
          >
          <div #mychartbox1>
            <div #firstchart style="width: 100%; height: 600px"></div>
          </div>
        </div>

        <div
          style="
            width: 50%;
            background-color: white;
            padding: 10px 0 0 0;
            box-shadow: 2px 2px 6px 2px rgb(0, 0, 0, 0.3);
            border-radius: 5px;
            text-align: center;
          "
        >
          <span style="color: darkslategrey; font-weight: 900; font-size: 18px"
            >Total Production by Contract-Type</span
          >
          <div #mychartbox2>
            <div #secondchart style="width: 100%; height: 450px"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; margin: 40px 0 20px 0">
      <div
        style="
          width: 80%;
          margin: 0 auto;
          background-color: white;
          padding: 5px;
          box-shadow: 2px 2px 6px 2px rgb(0, 0, 0, 0.3);
          border-radius: 5px;
          text-align: center;
        "
      >
        <h2>Total Production by Terrain</h2>
        <div #mychartbox3>
          <div #thirdchart style="width: 100%; height: 500px"></div>
        </div>
      </div>
    </div>
  </div>
</div>
