    <div style="margin-top: 5%;" >
        <form [formGroup]="forgotPasswordForm" autocomplete="off" (ngSubmit)="submit()">
            <div style="width: 60%; border: solid 1px grey; background-color: white; margin: auto; border-radius: 50px; box-shadow: 6px 6px 8px rgb(0, 0, 0, 0.3);">
                <div class="overlapbox" style="width: 100%">
                    <img style="height: 28vh; width: 100%; filter: blur(1px);border-radius: 50px 50px 0 0;" src="assets/nuprcback.jpg">
                    <div class="overlapdiv">
                        <div style="display: flex; align-items: center;">
                            <img src="assets/NUPRC-logo.png">
                            <span style="font-size: 28px; font-weight: 600; color: white; line-height: 120%; margin: auto;">
                                Nigerian Upstream Petroleum Resources Commission
                            </span>
                        </div>
                    </div>
                </div>
    
    
    
                <div style="width: 100%;">
                    <div style="text-align: center; margin: 3% 0 4% 0">
                        <div style="font-size:18px; font-weight: 700; color: darkslategrey;">   WORK PROGRAMME DATA UPLOAD - (2022 / 2023)  </div>
                        <div style="color: rgb(149, 104, 20); font-weight: 700; margin-top: 20px;">FORGOT PASSWORD ?</div>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 5%;">
                        <span style="font-weight: 800; font-size:15px; color: rgb(27, 124, 8); margin-right: 3%;">Email: </span>
                        <input #forgotEmail type="email" class="myformsq" placeholder="Enter Email Address" style="width:50%; box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3)" formControlName="Email" [value]="email" (change)="email = genk.hook(forgotEmail.value.toString())">
                    </div>
                    <div *ngIf="submitted" class="eroce">
                        <span *ngIf="!f['Email'].valid">
                            Email is required
                        </span>
                    </div>
                    <div style="text-align: center; margin-bottom: 5%;">
                        <input type="submit" value="Recover Password"
                            style="background-color: rgb(27, 124, 8); font-weight:bold; padding: 10px 10%; border-radius: 30px; color: white; border: none; outline: none; box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3);">
                    </div>
                </div>
            </div>
        </form>
    </div>