<div>
  <br />
  <br />
  <div
    style="
      display: flex;
      width: 85%;
      margin-top: 10px;
      height: 85vh;
      margin: auto;
      border-radius: 50px;
      box-shadow: 6px 6px 8px rgb(0, 0, 0, 0.3);
    "
  >
    <div
      class="overlapbox"
      style="
        width: 55%;
        background-image: url('assets/nuprcback.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 50px 0 0 50px;
        padding: 2rem;
      "
    >
      <div
        style="
          height: 100%;
          width: 100%;
          border-radius: 50px 0 0 50px;
          background-color: rgba(255, 255, 255, 0.1);
          -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
        "
      >
        <!-- <img
          style="height: 100%; width: 100%; border-radius: 50px 0 0 50px"
          src="assets/nuprcback.jpg"
        /> -->
        <!-- filter: blur(4px); -->
        <div class="overlapdiv" style="padding-top: 5%">
          <div
            style="display: flex; flex-direction: column; align-items: center"
          >
            <img id="Image1" src="assets/NUPRC-logo.png" />
            <p
              style="
                font-size: 30px;
                font-weight: 600;
                color: white;
                line-height: 120%;
                margin: auto;
                text-align: center;
                margin-top: 3rem;
              "
            >
              Nigerian Upstream Petroleum Regulatory Commission
            </p>
          </div>
          <div style="text-align: center; margin: 5% 4rem 10% 0">
            <span
              style="
                font-size: 20px;
                font-weight: 700;
                color: rgb(255, 255, 255);
                text-shadow: 2px;
              "
              >(WORK PROGRAMME DATA UPLOAD)</span
            >
          </div>

          <!-- <div style="margin-left: 10%">
          <div style="margin-bottom: 2%">
            <span style="font-size: 15px; font-weight: 700; color: whitesmoke">
              NUPRC Admin: Active Directory Login</span
            >
          </div>
          <div>
            <button
              [routerLink]="['/' + genk.account, 'newuser']"
              class="newuserbtn"
            >
              New User Access Code ?
            </button>

            <button
              style="
                outline: none;
                border: none;
                background-color: whitesmoke;
                color: rgb(63, 62, 62);
                border-radius: 30px;
                padding: 13px 20px;
                font-weight: 600;
                box-shadow: 2px 2px 2px 4px rgb(0, 0, 0, 0.3);
              "
            >
              Login with Organization Email
            </button>
          </div>
        </div> -->
        </div>
      </div>
    </div>

    <div class="action-container">
      <div class="btn-container">
        <!-- <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <div style="width: 90%; margin: 30% 0 0 20%;">
            <div>
              <label>
                <span style="font-weight: 700">E-mail</span>
              </label><br>
              <input #myemail type="email" class="myform" placeholder="Enter Email" style="width: 70%;"
                formControlName="email" [value]="email" (change)="email = genk.hook(myemail.value.toString())">
            </div>
            <div *ngIf="submitted" class="eroce">
              <span *ngIf="!f['email'].valid">
                Email is required
              </span>
            </div>
            <div class="eroce">
              <div>{{usernameError}}</div>
            </div><br>



            <div>
              <label>
                <span style="font-weight: 700">Password</span>
              </label><br>
              <input #mypassword type="password" class="myform" placeholder="Enter Password" style="width: 70%;"
                formControlName="password" [value]="password"
                (change)="password = genk.hook(mypassword.value.toString())">

            </div>
            <div *ngIf="submitted" class="eroce">
              <span *ngIf="!f['password'].valid">
                Password is required
              </span>
            </div>
            <div class="eroce">
              <div>{{passwordError}}</div>


            </div><br>


            <div style="width: 100%; display: flex; align-items: center;">

              <button type="submit"
                style="background-color: rgb(27, 124, 8); font-weight:bold; padding: 10px 20px; border-radius: 30px; color: white; border: none; outline: none; box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3); display: flex;"><span
                  *ngIf="isSpinner" style="margin-right: 5px">
                  <mat-spinner [diameter]="20"></mat-spinner>
                </span> <span>Login</span></button>


              <span [routerLink]="['/' + genk.account, 'forgotpassword']"
                style="color: rgb(28, 99, 39);font-weight:600;  margin-left: 30%;">Forgot Password ?</span>
            </div>

            <br><br>

          </div>
        </form> -->

        <a
          class="login-btn"
          href="{{ elpsBase }}/Account/Login?appId={{ appid }}"
        >
          Portal Login
        </a>
        <a
          class="login-btn btn-blue"
          href="{{ elpsBase }}/Account/register?appId={{ appid }}"
          >Portal Registration</a
        >
        <a
          class="login-btn btn-red"
          href="{{ elpsBase }}/Account/forgotPassword?appId={{ appid }}"
          >Forgot Password</a
        >
        <a
          class="login-btn btn-purple"
          href="{{ elpsBase }}/permit/verifyPermit?appId={{ appid }}"
          >Verify Approval</a
        >
<br>
<br>

        <a
          class="btn btn-secondary"
          href="{{ returnUrl }}/video-guide"
          >Click to watch portal user guild</a
        >
      </div>
    </div>
  </div>
</div>
